In [1]:
import pandas as pd
import requests

def dow_jones_symbols():
    """
    Returns a list of the 30 stocks in the Dow Jones.

    Returns
    -------
    list
        a list of strings that are stock symbols which make up the Dow Jones Industrial Average
    """

    headers = {
        'authority': 'quote.cnbc.com',
        'accept': '*/*',
        'accept-language': 'en-US,en;q=0.9',
        'origin': 'https://www.cnbc.com',
        'referer': 'https://www.cnbc.com/',
        'sec-ch-ua': '"Not?A_Brand";v="8", "Chromium";v="108", "Google Chrome";v="108"',
        'sec-ch-ua-mobile': '?0',
        'sec-ch-ua-platform': '"Windows"',
        'sec-fetch-dest': 'empty',
        'sec-fetch-mode': 'cors',
        'sec-fetch-site': 'same-site',
        'user-agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/108.0.0.0 Safari/537.36',
    }

    params = {
        'symbols': 'AXP|AMGN|AAPL|BA|CAT|CSCO|CVX|GS|HD|HON|IBM|INTC|JNJ|KO|JPM|MCD|MMM|MRK|MSFT|NKE|PG|TRV|UNH|CRM|VZ|V|WBA|WMT|DIS|DOW',
        'requestMethod': 'itv',
        'noform': '1',
        'partnerId': '2',
        'fund': '1',
        'exthrs': '1',
        'output': 'json',
        'events': '1',
    }
    
    response = requests.get(
        'https://quote.cnbc.com/quote-html-webservice/restQuote/symbolType/symbol',
        params=params,
        headers=headers,
    )
    data = response.json()['FormattedQuoteResult']['FormattedQuote']
    
    symbols = []
    for i in data:
        symbol = i['symbol']
        symbols.append(symbol)

    dj = pd.DataFrame(symbols, columns = ['Symbol'])
    dj = dj.sort_values(by=['Symbol'])
    dow_jones_list = []
    for i in dj['Symbol']:
        dow_jones_list.append(i)

    return dow_jones_list

In [2]:
dow_jones_symbols()

['AAPL',
 'AMGN',
 'AXP',
 'BA',
 'CAT',
 'CRM',
 'CSCO',
 'CVX',
 'DIS',
 'DOW',
 'GS',
 'HD',
 'HON',
 'IBM',
 'INTC',
 'JNJ',
 'JPM',
 'KO',
 'MCD',
 'MMM',
 'MRK',
 'MSFT',
 'NKE',
 'PG',
 'TRV',
 'UNH',
 'V',
 'VZ',
 'WBA',
 'WMT']

In [3]:
def debt_to_equity(df, symbol=""):
    for j in df:
        if j == 'ticker' or j == 'items':
            continue
        df[j] = df[j].str.replace(",", "", regex=True).str.replace("(", "-", regex=True).str.replace(")", "", regex=True).str.replace("--", "", regex=True)
        df[j] = pd.to_numeric(df[j])\

    df_columns = []

    for col in df.columns:
        df_columns.append(col)

    df_columns.insert(1, df_columns[-1])
    del df_columns[-1]

    first_row = df.loc[(df['ticker'] == symbol) & (df['items'] == 'Total Liabilities'), df_columns[2:]]
    second_row = df.loc[(df['ticker'] == symbol) & (df['items'] == 'Total Equity'), df_columns[2:]]
#     print(first_row)
#     print(second_row)
    third_row = first_row / second_row.values
#     print(third_row)
    third_row['ticker'] = symbol
    third_row['items'] = "Debt-to-Equity Ratio"
    third_row = third_row[df_columns]
    return third_row

In [4]:
import os
from os import path

dow_jones_list = dow_jones_symbols()

for i in dow_jones_list:
    df = pd.DataFrame()
    
    # assign directories
    i_directory = f"C:/Users/jake_/OneDrive/Desktop/financial_scraping/dow_jones_stocks/{i}" 
    competitor_directory = i_directory + "/competitors"
    
    i_csv = i_directory + '/' + i + "quarterlybalance-sheet.csv"
    i_df = pd.read_csv(i_csv)
    i_row = debt_to_equity(i_df, symbol=i)
    df = df.append(i_row)
    
    
    competitor_list =[]
    
    # iterate over files in
    # that directory
    for filename in os.listdir(competitor_directory):
        if (filename.__contains__("ratio.csv") == False):
            f = os.path.join(competitor_directory, filename)
            f = f.split("\\")[1]
            # checking if it is a file
        #     if os.path.isfile(f):
            competitor_list.append(f)
#     print(competitor_directory)
    for symbol in competitor_list:  
        competitor_csv = competitor_directory + "/" + symbol + '/' + symbol + "quarterlybalance-sheet.csv"
#         print(competitor_csv)
        competitor_df = pd.read_csv(competitor_csv)
        competitor_rows = debt_to_equity(competitor_df, symbol=symbol)
        df = df.append(competitor_rows)
        
    df = pd.DataFrame(df, columns=["items",
                                 "ticker",
                                 "Q4 2021",
                                 "Q1 2022",
                                 "Q2 2022",
                                 "Q3 2022",
                                 "Q4 2022",
                                 "Q1 2023",
                                 "Q2 2023",
                                 "Q3 2023"
                                ])
    print(df)

                   items ticker   Q4 2021    Q1 2022    Q2 2022    Q3 2022  \
32  Debt-to-Equity Ratio   AAPL       NaN        NaN   4.202777   4.787754
25  Debt-to-Equity Ratio   AMZN  2.042056   2.065402   2.194228   2.115609
46  Debt-to-Equity Ratio   DELL       NaN        NaN        NaN        NaN
41  Debt-to-Equity Ratio   GOOG  0.427735   0.405868   0.390597   0.412533
41  Debt-to-Equity Ratio  GOOGL  0.427735   0.405868   0.390597   0.412533
44  Debt-to-Equity Ratio    HPQ       NaN -17.714777 -22.022655 -17.931406
37  Debt-to-Equity Ratio   META  0.329183   0.332635   0.349949   0.441601
37  Debt-to-Equity Ratio   MSFT       NaN        NaN   1.127298   1.115140

      Q4 2022    Q1 2023   Q2 2023    Q3 2023
32   5.961537   5.112557       NaN        NaN
25        NaN        NaN       NaN        NaN
46 -56.035608 -36.908205 -32.04021 -25.552321
41        NaN        NaN       NaN        NaN
41        NaN        NaN       NaN        NaN
44 -14.223783        NaN       NaN        NaN
37        NaN        NaN       NaN        NaN
37   1.190679   1.072894       NaN        NaN
                   items ticker   Q4 2021    Q1 2022    Q2 2022    Q3 2022  \
25  Debt-to-Equity Ratio   AMGN       NaN  63.624454  23.511782  16.437722
33  Debt-to-Equity Ratio   ABBV  8.509930   7.795124   8.771787   7.836126
37  Debt-to-Equity Ratio    AZN  1.683177   1.759301   1.687827   1.680737
30  Debt-to-Equity Ratio   GILD  2.225212   2.165554   2.106839   1.967459
35  Debt-to-Equity Ratio    JNJ  1.458938   1.387330   1.327540   1.347538
37  Debt-to-Equity Ratio   MRNA  0.744008   0.616925   0.448040   0.448199
44  Debt-to-Equity Ratio    PFE  1.350725   1.230430   1.239359   1.108882
31  Debt-to-Equity Ratio   REGN  0.355160   0.323073   0.315062   0.291012

      Q4 2022  Q1 2023  Q2 2023  Q3 2023
25  16.787763      NaN      NaN      NaN
33        NaN      NaN      NaN      NaN
37        NaN      NaN      NaN      NaN
30        NaN      NaN      NaN      NaN
35        NaN      NaN      NaN      NaN
37        NaN      NaN      NaN      NaN
44        NaN      NaN      NaN      NaN
31        NaN      NaN      NaN      NaN
                   items ticker    Q4 2021    Q1 2022    Q2 2022    Q3 2022  \
23  Debt-to-Equity Ratio    AXP        NaN   7.750480   7.835722   7.977235
31  Debt-to-Equity Ratio    BAC  10.736002  11.145598  10.562237  10.401408
31  Debt-to-Equity Ratio      C  10.345201  11.109236  10.963500  10.991660
28  Debt-to-Equity Ratio    COF   6.084845   6.706008   7.243550   7.734236
23  Debt-to-Equity Ratio    DFS   7.222106   6.996129   7.326068   7.531849
30  Debt-to-Equity Ratio    JPM  11.727723  12.832462  12.424456  12.102945
36  Debt-to-Equity Ratio     MA   4.151668   4.283338   4.871172   4.912907
29  Debt-to-Equity Ratio   PYPL   2.488885   2.679319   2.936359   2.771960
19  Debt-to-Equity Ratio    SYF   6.011937   6.099940   6.108191   6.744082
29  Debt-to-Equity Ratio      V        NaN   1.263607   1.273139   1.407068

     Q4 2022  Q1 2023  Q2 2023  Q3 2023
23  8.240986      NaN      NaN      NaN
31       NaN      NaN      NaN      NaN
31       NaN      NaN      NaN      NaN
28       NaN      NaN      NaN      NaN
23       NaN      NaN      NaN      NaN
30       NaN      NaN      NaN      NaN
36       NaN      NaN      NaN      NaN
29       NaN      NaN      NaN      NaN
19       NaN      NaN      NaN      NaN
29  1.402996      NaN      NaN      NaN
                   items ticker   Q4 2021   Q1 2022    Q2 2022   Q3 2022  \
38  Debt-to-Equity Ratio     BA       NaN -9.819392 -10.099879 -8.772078
28  Debt-to-Equity Ratio     AM  1.424136  1.469469   1.504484  1.515371
30  Debt-to-Equity Ratio    HXL  0.897712  0.918628   0.904730  0.921107
33  Debt-to-Equity Ratio    RTX  1.208956  1.199304   1.257449  1.254335
30  Debt-to-Equity Ratio    TDG       NaN -8.308014  -7.499138 -7.323589
26  Debt-to-Equity Ratio    TXT  1.322377  1.300275   1.334804  1.359657
47  Debt-to-Equity Ratio    WWD       NaN  0.815115   0.896199  0.966492

     Q4 2022  Q1 2023  Q2 2023  Q3 2023
38 -9.631871      NaN      NaN      NaN
28       NaN      NaN      NaN      NaN
30       NaN      NaN      NaN      NaN
33       NaN      NaN      NaN      NaN
30 -5.799099      NaN      NaN      NaN
26       NaN      NaN      NaN      NaN
47  1.002104      NaN      NaN      NaN
                   items ticker  Q4 2021   Q1 2022   Q2 2022   Q3 2022  \
33  Debt-to-Equity Ratio    CAT      NaN  3.821330  4.157182  4.189340
40  Debt-to-Equity Ratio     DE      NaN  3.471692  3.448741  3.561393
34  Debt-to-Equity Ratio    TEX  1.58018  1.639138  1.854147  1.876329
34  Debt-to-Equity Ratio    TTC      NaN  1.904464  1.843137  1.672883

     Q4 2022  Q1 2023  Q2 2023  Q3 2023
33  4.163715      NaN      NaN      NaN
40  3.443293      NaN      NaN      NaN
34       NaN      NaN      NaN      NaN
34  1.630178      NaN      NaN      NaN
                   items ticker   Q4 2021   Q1 2022   Q2 2022    Q3 2022  \
24  Debt-to-Equity Ratio    CRM       NaN       NaN       NaN        NaN
29  Debt-to-Equity Ratio   ADBE       NaN  0.885735  0.882445   0.860711
43  Debt-to-Equity Ratio   CSCO       NaN       NaN  1.386621   1.296955
41  Debt-to-Equity Ratio   GOOG  0.427735  0.405868  0.390597   0.412533
41  Debt-to-Equity Ratio  GOOGL  0.427735  0.405868  0.390597   0.412533
32  Debt-to-Equity Ratio   INTU       NaN       NaN  0.686630   0.681151
37  Debt-to-Equity Ratio   MSFT       NaN       NaN  1.127298   1.115140
28  Debt-to-Equity Ratio   ORCL       NaN       NaN       NaN -13.493560
32  Debt-to-Equity Ratio    SAP  0.831750  0.916537  0.896772   0.821513

      Q4 2022    Q1 2023    Q2 2023   Q3 2023
24        NaN   0.579965   0.566575  0.548146
29   0.933314        NaN        NaN       NaN
43   1.363463   1.310638        NaN       NaN
41        NaN        NaN        NaN       NaN
41        NaN        NaN        NaN       NaN
32   0.686880   0.685753        NaN       NaN
37   1.190679   1.072894        NaN       NaN
28 -18.571865 -23.180255 -31.256477       NaN
32        NaN        NaN        NaN       NaN
                   items ticker   Q4 2021    Q1 2022    Q2 2022    Q3 2022  \
45  Debt-to-Equity Ratio   CSCO       NaN        NaN        NaN   1.296955
25  Debt-to-Equity Ratio   AMZN  2.042056   2.065402   2.194228   2.115609
30  Debt-to-Equity Ratio   AVGO       NaN   2.188088   2.421218   2.416651
46  Debt-to-Equity Ratio   DELL       NaN        NaN        NaN        NaN
38  Debt-to-Equity Ratio   FTNT  6.569054  24.922018 -14.470738  -9.403150
37  Debt-to-Equity Ratio   MSFT       NaN        NaN   1.127298   1.115140
30  Debt-to-Equity Ratio   PANW       NaN        NaN  87.144068  31.840237
32  Debt-to-Equity Ratio    RNG  3.793680   9.354839  14.555556 -52.466667
37  Debt-to-Equity Ratio    VMW       NaN        NaN        NaN        NaN
38  Debt-to-Equity Ratio     ZM       NaN        NaN        NaN        NaN
30  Debt-to-Equity Ratio     ZS       NaN        NaN   3.493506   3.746241

      Q4 2022    Q1 2023     Q2 2023    Q3 2023
45   1.363463   1.310638    1.310845        NaN
25        NaN        NaN         NaN        NaN
30   2.225549        NaN         NaN        NaN
46 -56.035608 -36.908205  -32.040210 -25.552321
38        NaN        NaN         NaN        NaN
37   1.190679   1.072894         NaN        NaN
30  57.352381  23.692913         NaN        NaN
32        NaN        NaN         NaN        NaN
37 -33.735160 -67.749392  198.950000  33.895782
38   0.306401   0.337761    0.343406   0.361536
30   3.942408   5.577726         NaN        NaN
                   items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022  \
41  Debt-to-Equity Ratio    CVX       NaN  0.703253  0.679774  0.636848
44  Debt-to-Equity Ratio     BP  2.806793  3.668510  3.490880  3.872415
38  Debt-to-Equity Ratio    COP  0.996674  0.895810  0.866320  0.932334
8   Debt-to-Equity Ratio   ROSN       NaN       NaN       NaN       NaN
33  Debt-to-Equity Ratio   SHEL  1.351506  1.414726  1.351171  1.344807
27  Debt-to-Equity Ratio    XOM  1.010494  1.096569  1.074116  0.988995

     Q4 2022  Q1 2023  Q2 2023  Q3 2023
41  0.617942      NaN      NaN      NaN
44       NaN      NaN      NaN      NaN
38       NaN      NaN      NaN      NaN
8        NaN      NaN      NaN      NaN
33       NaN      NaN      NaN      NaN
27       NaN      NaN      NaN      NaN

                   items ticker   Q4 2021    Q1 2022    Q2 2022    Q3 2022  \
28  Debt-to-Equity Ratio    DIS       NaN   1.262430   1.233693   1.206205
30  Debt-to-Equity Ratio   AAPL       NaN   4.299324   4.202777   4.787754
29  Debt-to-Equity Ratio   CHTR  9.141708  10.935987  13.501265  15.162560
34  Debt-to-Equity Ratio  CMCSA  1.871259   1.894373   1.920745   2.167132
39  Debt-to-Equity Ratio   DISH  2.091518   2.079166   2.012932   1.884226
25  Debt-to-Equity Ratio    FOX       NaN        NaN   1.029091   0.965714
25  Debt-to-Equity Ratio   FOXA       NaN        NaN   1.029091   0.965714
27  Debt-to-Equity Ratio   NFLX  1.813048   1.583846   1.429807   1.316933
33  Debt-to-Equity Ratio   PARA  1.616731   1.561022   1.500922   1.529562
33  Debt-to-Equity Ratio  PARAA  1.616731   1.561022   1.500922   1.529562

     Q4 2022   Q1 2023  Q2 2023  Q3 2023
28  1.143304       NaN      NaN      NaN
30  5.961537       NaN      NaN      NaN
29       NaN       NaN      NaN      NaN
34       NaN       NaN      NaN      NaN
39       NaN       NaN      NaN      NaN
25  0.956522  0.946359      NaN      NaN
25  0.956522  0.946359      NaN      NaN
27       NaN       NaN      NaN      NaN
33       NaN       NaN      NaN      NaN
33       NaN       NaN      NaN      NaN
                   items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022  \
45  Debt-to-Equity Ratio    DOW  2.467658  2.354608  2.275339  2.287354
34  Debt-to-Equity Ratio    APD       NaN  0.962025  0.967037  1.014732
51  Debt-to-Equity Ratio     DD  0.729164  0.734146  0.740834  0.770404
37  Debt-to-Equity Ratio    EMN  1.720722  1.682165  1.794477  1.783247
32  Debt-to-Equity Ratio    HUN  1.151168  1.171864  1.113669  1.172009
32  Debt-to-Equity Ratio    LIN  0.853185  0.926472  0.963124  0.975205

     Q4 2022  Q1 2023  Q2 2023  Q3 2023
45       NaN      NaN      NaN      NaN
34  1.068853      NaN      NaN      NaN
51       NaN      NaN      NaN      NaN
37       NaN      NaN      NaN      NaN
32       NaN      NaN      NaN      NaN
32       NaN      NaN      NaN      NaN
                   items ticker    Q4 2021    Q1 2022    Q2 2022    Q3 2022  \
30  Debt-to-Equity Ratio     GS  12.317941  12.792562  12.584546  12.043792
31  Debt-to-Equity Ratio    BAC  10.736002  11.145598  10.562237  10.401408
33  Debt-to-Equity Ratio     BK   9.327601  10.335463  10.043846   9.769635
26  Debt-to-Equity Ratio    BLK   3.049771   2.823175   2.396317   2.106130
31  Debt-to-Equity Ratio      C  10.345201  11.109236  10.963500  10.991660
25  Debt-to-Equity Ratio     MS  10.268292  10.877756  10.553368  10.484185
18  Debt-to-Equity Ratio   SCHW  10.860258  13.157553  13.322939  14.592533
37  Debt-to-Equity Ratio    UBS  17.416505  18.367983  18.582954  18.939254
36  Debt-to-Equity Ratio    WFC   9.383826   9.821672   9.596073   9.657561

    Q4 2022  Q1 2023  Q2 2023  Q3 2023
30      NaN      NaN      NaN      NaN
31      NaN      NaN      NaN      NaN
33      NaN      NaN      NaN      NaN
26      NaN      NaN      NaN      NaN
31      NaN      NaN      NaN      NaN
25      NaN      NaN      NaN      NaN
18      NaN      NaN      NaN      NaN
37      NaN      NaN      NaN      NaN
36      NaN      NaN      NaN      NaN
                   items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022  \
25  Debt-to-Equity Ratio     HD       NaN       NaN       NaN       NaN
25  Debt-to-Equity Ratio   AMZN  2.042056  2.065402  2.194228  2.115609
21  Debt-to-Equity Ratio   FAST  0.413215  0.421706  0.444794  0.463777
30  Debt-to-Equity Ratio    GWW  2.517609  2.360404  2.202635  2.120017
28  Debt-to-Equity Ratio    LOW       NaN       NaN       NaN       NaN
37  Debt-to-Equity Ratio    SHW  7.480509  8.726947  8.911461  7.562741
25  Debt-to-Equity Ratio    TGT       NaN       NaN       NaN       NaN
22  Debt-to-Equity Ratio   TSCO  2.878183  3.294413  3.111285  3.076249
24  Debt-to-Equity Ratio    WMT       NaN       NaN       NaN       NaN

      Q4 2022    Q1 2023     Q2 2023    Q3 2023
25 -43.379717 -45.802224  318.936709  58.218798
25        NaN        NaN         NaN        NaN
21        NaN        NaN         NaN        NaN
30        NaN        NaN         NaN        NaN
28 -10.269103  -8.230624   -6.534826  -4.650373
37        NaN        NaN         NaN        NaN
25   3.195135   3.718953    3.953739   4.047191
22        NaN        NaN         NaN        NaN
24   1.941155   2.200973    2.186827   2.427622
                   items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022  \
37  Debt-to-Equity Ratio    HON  2.471916  2.449605  2.549285  2.404699
40  Debt-to-Equity Ratio     GE  3.933614  3.921446  4.354844  4.746688
32  Debt-to-Equity Ratio   GRMN  0.284593  0.232677  0.332083  0.297550
40  Debt-to-Equity Ratio    JCI       NaN  1.447794  1.599843  1.647235
37  Debt-to-Equity Ratio    MMM  2.128539  2.071333  2.320768  2.279545

     Q4 2022  Q1 2023  Q2 2023  Q3 2023
37       NaN      NaN      NaN      NaN
40       NaN      NaN      NaN      NaN
32       NaN      NaN      NaN      NaN
40  1.591468      NaN      NaN      NaN
37       NaN      NaN      NaN      NaN
                   items ticker   Q4 2021   Q1 2022   Q2 2022    Q3 2022  \
49  Debt-to-Equity Ratio    IBM  5.983810  5.996063  5.569272   5.268679
36  Debt-to-Equity Ratio    ACN       NaN       NaN  1.155545   1.155080
29  Debt-to-Equity Ratio   ADBE       NaN  0.885735  0.882445   0.860711
43  Debt-to-Equity Ratio   CSCO       NaN       NaN  1.386621   1.296955
46  Debt-to-Equity Ratio   DELL       NaN       NaN       NaN        NaN
41  Debt-to-Equity Ratio   GOOG  0.427735  0.405868  0.390597   0.412533
41  Debt-to-Equity Ratio  GOOGL  0.427735  0.405868  0.390597   0.412533
37  Debt-to-Equity Ratio    HPE       NaN  1.848361  1.743230   1.798263
37  Debt-to-Equity Ratio   MSFT       NaN       NaN  1.127298   1.115140
28  Debt-to-Equity Ratio   ORCL       NaN       NaN       NaN -13.493560
32  Debt-to-Equity Ratio    SAP  0.831750  0.916537  0.896772   0.821513

      Q4 2022    Q1 2023    Q2 2023    Q3 2023
49        NaN        NaN        NaN        NaN
36   1.138017   1.050751        NaN        NaN
29   0.933314        NaN        NaN        NaN
43   1.363463   1.310638        NaN        NaN
46 -56.035608 -36.908205 -32.040210 -25.552321
41        NaN        NaN        NaN        NaN
41        NaN        NaN        NaN        NaN
37   1.875705        NaN        NaN        NaN
37   1.190679   1.072894        NaN        NaN
28 -18.571865 -23.180255 -31.256477        NaN
32        NaN        NaN        NaN        NaN
                   items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022  \
29  Debt-to-Equity Ratio   INTC  0.765429  0.709936  0.683673  0.750423
45  Debt-to-Equity Ratio   AMAT       NaN  1.138604  1.198722  1.167440
35  Debt-to-Equity Ratio    AMD  0.656529  0.209315  0.223549  0.243280
30  Debt-to-Equity Ratio   AVGO       NaN  2.188088  2.421218  2.416651
48  Debt-to-Equity Ratio     MU       NaN       NaN  0.331299  0.324973
33  Debt-to-Equity Ratio   NVDA       NaN       NaN       NaN       NaN
33  Debt-to-Equity Ratio   QCOM       NaN  2.778346  2.323980  1.929960
35  Debt-to-Equity Ratio    TXN  0.850746  0.803239  0.754400  0.796167

     Q4 2022   Q1 2023   Q2 2023   Q3 2023
29       NaN       NaN       NaN       NaN
45  1.191734       NaN       NaN       NaN
35       NaN       NaN       NaN       NaN
30  2.225549       NaN       NaN       NaN
48  0.328130  0.376587       NaN       NaN
33  0.660416  0.717781  0.822817  0.896482
33  1.721035       NaN       NaN       NaN
35       NaN       NaN       NaN       NaN
                   items ticker   Q4 2021    Q1 2022   Q2 2022   Q3 2022  \
35  Debt-to-Equity Ratio    JNJ  1.458938   1.387330  1.327540  1.347538
36  Debt-to-Equity Ratio    ABT  1.100330   1.090652  1.033489  1.040673
37  Debt-to-Equity Ratio    AZN  1.683177   1.759301  1.687827  1.680737
42  Debt-to-Equity Ratio    MDT       NaN        NaN       NaN  0.747250
34  Debt-to-Equity Ratio    MRK  1.768018   1.609104  1.476586  1.408588
33  Debt-to-Equity Ratio   NOVN  2.764398  18.049473  8.338885       NaN
44  Debt-to-Equity Ratio    PFE  1.350725   1.230430  1.239359  1.108882
26  Debt-to-Equity Ratio     PG       NaN        NaN  1.721234  1.643410
42  Debt-to-Equity Ratio    ROG  0.428954   0.426141  0.475158  0.491743

     Q4 2022   Q1 2023   Q2 2023  Q3 2023
35       NaN       NaN       NaN      NaN
36       NaN       NaN       NaN      NaN
37       NaN       NaN       NaN      NaN
42  0.731290  0.707023  0.797244      NaN
34       NaN       NaN       NaN      NaN
33       NaN       NaN       NaN      NaN
44       NaN       NaN       NaN      NaN
26  1.515787  1.638276       NaN      NaN
42       NaN       NaN       NaN      NaN

                   items ticker    Q4 2021    Q1 2022    Q2 2022    Q3 2022  \
30  Debt-to-Equity Ratio    JPM  11.727723  12.832462  12.424456  12.102945
31  Debt-to-Equity Ratio    BAC  10.736002  11.145598  10.562237  10.401408
31  Debt-to-Equity Ratio    BMO        NaN  16.108755  14.879452  14.946771
31  Debt-to-Equity Ratio      C  10.345201  11.109236  10.963500  10.991660
26  Debt-to-Equity Ratio     RY        NaN  16.196242  16.722925  16.729812
40  Debt-to-Equity Ratio     TD        NaN  16.441070  17.360721  16.943027
36  Debt-to-Equity Ratio    WFC   9.383826   9.821672   9.596073   9.657561

      Q4 2022  Q1 2023  Q2 2023  Q3 2023
30        NaN      NaN      NaN      NaN
31        NaN      NaN      NaN      NaN
31  15.036473      NaN      NaN      NaN
31        NaN      NaN      NaN      NaN
26  16.741514      NaN      NaN      NaN
40  16.215625      NaN      NaN      NaN
36        NaN      NaN      NaN      NaN
                   items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022  \
35  Debt-to-Equity Ratio     KO  3.102526  2.786033  3.049946  3.054856
35  Debt-to-Equity Ratio   CCEP  3.136215       NaN  2.998683       NaN
43  Debt-to-Equity Ratio   COKE  3.839888  3.261194  2.971175  2.529931
28  Debt-to-Equity Ratio   FIZZ       NaN       NaN       NaN  1.077670
46  Debt-to-Equity Ratio    KDP  1.026189  1.008702  1.025442  1.049239
36  Debt-to-Equity Ratio    KHC  0.894478  0.890742  0.878761  0.869070
44  Debt-to-Equity Ratio   MDLZ  1.373342  1.414474  1.399549  1.553808
38  Debt-to-Equity Ratio   MNST  0.188518  0.192369  0.200617  0.203785
33  Debt-to-Equity Ratio    PEP  4.758088  4.107241  4.018218  3.977657
28  Debt-to-Equity Ratio   PRMW  1.820455  1.819923  1.842600  1.851148
43  Debt-to-Equity Ratio   SBUX       NaN -4.409483 -4.309991 -4.248644

     Q4 2022   Q1 2023   Q2 2023  Q3 2023
35       NaN       NaN       NaN      NaN
35       NaN       NaN       NaN      NaN
43       NaN       NaN       NaN      NaN
28  0.953975  0.723485  0.694915      NaN
46       NaN       NaN       NaN      NaN
36       NaN       NaN       NaN      NaN
44       NaN       NaN       NaN      NaN
38       NaN       NaN       NaN      NaN
33       NaN       NaN       NaN      NaN
28       NaN       NaN       NaN      NaN
43 -4.213277       NaN       NaN      NaN
                   items ticker    Q4 2021    Q1 2022    Q2 2022    Q3 2022  \
22  Debt-to-Equity Ratio    MCD -12.704847  -9.492405  -8.731240  -8.386841
25  Debt-to-Equity Ratio    CMG   1.896387   2.030459   2.038533   1.929523
36  Debt-to-Equity Ratio    DPZ  -1.396912  -1.398666  -1.399761  -1.381283
40  Debt-to-Equity Ratio   JACK        NaN  -3.237913  -4.600765  -4.729167
32  Debt-to-Equity Ratio   PZZA  -5.707447  -4.955357  -4.344000  -4.029197
38  Debt-to-Equity Ratio    QSR   9.391596   9.118777   9.277326   8.752270
43  Debt-to-Equity Ratio   SBUX        NaN  -4.409483  -4.309991  -4.248644
24  Debt-to-Equity Ratio   SHAK   2.556098   2.622500   2.672457   2.724566
33  Debt-to-Equity Ratio    WEN  10.699541  11.228571  12.040189  11.643021
25  Debt-to-Equity Ratio    YUM  -1.712528  -1.684961  -1.675770  -1.676539
46  Debt-to-Equity Ratio   YUMC   0.874008   0.833599   0.846225   0.822375

     Q4 2022  Q1 2023  Q2 2023  Q3 2023
22       NaN      NaN      NaN      NaN
25       NaN      NaN      NaN      NaN
36       NaN      NaN      NaN      NaN
40 -4.971467      NaN      NaN      NaN
32       NaN      NaN      NaN      NaN
38       NaN      NaN      NaN      NaN
43 -4.213277      NaN      NaN      NaN
24       NaN      NaN      NaN      NaN
33       NaN      NaN      NaN      NaN
25       NaN      NaN      NaN      NaN
46       NaN      NaN      NaN      NaN
                   items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022  \
37  Debt-to-Equity Ratio    MMM  2.128539  2.071333  2.320768  2.279545
51  Debt-to-Equity Ratio     DD  0.729164  0.734146  0.740834  0.770404
40  Debt-to-Equity Ratio     GE  3.933614  3.921446  4.354844  4.746688
37  Debt-to-Equity Ratio    HON  2.471916  2.449605  2.549285  2.404699
29  Debt-to-Equity Ratio    ITW  3.435034  3.547892  3.637655  4.053435
35  Debt-to-Equity Ratio    JNJ  1.458938  1.387330  1.327540  1.347538

    Q4 2022  Q1 2023  Q2 2023  Q3 2023
37      NaN      NaN      NaN      NaN
51      NaN      NaN      NaN      NaN
40      NaN      NaN      NaN      NaN
37      NaN      NaN      NaN      NaN
29      NaN      NaN      NaN      NaN
35      NaN      NaN      NaN      NaN
                   items ticker    Q4 2021    Q1 2022    Q2 2022    Q3 2022  \
34  Debt-to-Equity Ratio    MRK   1.768018   1.609104   1.476586   1.408588
36  Debt-to-Equity Ratio    ABT   1.100330   1.090652   1.033489   1.040673
51  Debt-to-Equity Ratio    BMY   2.041062   2.262635   2.078436   2.005601
35  Debt-to-Equity Ratio    GSK   4.254268   4.542859   4.438195   5.590144
35  Debt-to-Equity Ratio    JNJ   1.458938   1.387330   1.327540   1.347538
38  Debt-to-Equity Ratio    LLY   4.435572   4.028400   4.507782   3.713108
33  Debt-to-Equity Ratio   NOVN   2.764398  18.049473   8.338885        NaN
44  Debt-to-Equity Ratio    PFE   1.350725   1.230430   1.239359   1.108882
32  Debt-to-Equity Ratio    SAN  17.357702  17.431375  18.247243  18.948497
38  Debt-to-Equity Ratio    ZTS   2.059652   1.975526   2.006550   1.932447

    Q4 2022  Q1 2023  Q2 2023  Q3 2023
34      NaN      NaN      NaN      NaN
36      NaN      NaN      NaN      NaN
51      NaN      NaN      NaN      NaN
35      NaN      NaN      NaN      NaN
35      NaN      NaN      NaN      NaN
38      NaN      NaN      NaN      NaN
33      NaN      NaN      NaN      NaN
44      NaN      NaN      NaN      NaN
32      NaN      NaN      NaN      NaN
38      NaN      NaN      NaN      NaN
                   items ticker   Q4 2021   Q1 2022   Q2 2022    Q3 2022  \
37  Debt-to-Equity Ratio   MSFT       NaN       NaN  1.127298   1.115140
30  Debt-to-Equity Ratio   AAPL       NaN  4.299324  4.202777   4.787754
30  Debt-to-Equity Ratio   AVGO       NaN  2.188088  2.421218   2.416651
24  Debt-to-Equity Ratio    CRM       NaN       NaN       NaN        NaN
43  Debt-to-Equity Ratio   CSCO       NaN       NaN  1.386621   1.296955
41  Debt-to-Equity Ratio   GOOG  0.427735  0.405868  0.390597   0.412533
41  Debt-to-Equity Ratio  GOOGL  0.427735  0.405868  0.390597   0.412533
49  Debt-to-Equity Ratio    IBM  5.983810  5.996063  5.569272   5.268679
28  Debt-to-Equity Ratio   ORCL       NaN       NaN       NaN -13.493560
32  Debt-to-Equity Ratio    SAP  0.831750  0.916537  0.896772   0.821513

      Q4 2022    Q1 2023    Q2 2023   Q3 2023
37   1.190679   1.072894        NaN       NaN
30   5.961537        NaN        NaN       NaN
30   2.225549        NaN        NaN       NaN
24   0.637835   0.579965   0.566575  0.548146
43   1.363463   1.310638        NaN       NaN
41        NaN        NaN        NaN       NaN
41        NaN        NaN        NaN       NaN
49        NaN        NaN        NaN       NaN
28 -18.571865 -23.180255 -31.256477       NaN
32        NaN        NaN        NaN       NaN
                   items ticker     Q4 2021    Q1 2022   Q2 2022   Q3 2022  \
27  Debt-to-Equity Ratio    NKE         NaN        NaN       NaN  1.604970
17  Debt-to-Equity Ratio    ADS    9.424736   8.231922  8.587253  8.153814
38  Debt-to-Equity Ratio   CROX  109.357143  11.808023  8.323171  6.199683
26  Debt-to-Equity Ratio    SKX    0.991715   0.943290  0.954333  0.930905
31  Debt-to-Equity Ratio     UA    1.389181        NaN       NaN       NaN
31  Debt-to-Equity Ratio    UAA    1.389181        NaN       NaN       NaN
32  Debt-to-Equity Ratio    VFC         NaN        NaN       NaN  2.705448

     Q4 2022   Q1 2023   Q2 2023  Q3 2023
27  1.638636  1.596890  1.596058      NaN
17       NaN       NaN       NaN      NaN
38       NaN       NaN       NaN      NaN
26       NaN       NaN       NaN      NaN
31  1.575477  1.663968  1.626652      NaN
31  1.575477  1.663968  1.626652      NaN
32  2.779603  2.941229  3.466948      NaN

                   items ticker    Q4 2021    Q1 2022    Q2 2022    Q3 2022  \
26  Debt-to-Equity Ratio     PG        NaN        NaN   1.721234   1.643410
31  Debt-to-Equity Ratio     CL  23.696223  47.981308  92.517857  25.186495
37  Debt-to-Equity Ratio     EL        NaN        NaN   2.550659   2.473008
35  Debt-to-Equity Ratio    JNJ   1.458938   1.387330   1.327540   1.347538
37  Debt-to-Equity Ratio     OR   0.450153   0.517838   0.553135   0.236248

     Q4 2022   Q1 2023  Q2 2023  Q3 2023
26  1.515787  1.638276      NaN      NaN
31       NaN       NaN      NaN      NaN
37  2.740608  2.623165      NaN      NaN
35       NaN       NaN      NaN      NaN
37       NaN       NaN      NaN      NaN
                   items ticker   Q4 2021   Q1 2022    Q2 2022    Q3 2022  \
26  Debt-to-Equity Ratio    TRV  3.170250  3.645020   4.096922   4.742841
24  Debt-to-Equity Ratio    AIG  8.038025  9.251555  10.885542  12.400610
24  Debt-to-Equity Ratio    AIZ  5.208089  5.576977   6.114126   7.110759
29  Debt-to-Equity Ratio    ALL  2.949323  3.185335   3.789958   4.526849
30  Debt-to-Equity Ratio     CB  2.350203  2.492010   2.786769   3.158589
24  Debt-to-Equity Ratio   CINF  1.395040  1.501654   1.766228   1.990033
29  Debt-to-Equity Ratio    HIG  3.291767  3.733723   4.089414   4.542339
21  Debt-to-Equity Ratio      L  3.573910  3.774902   4.058480   4.424744
29  Debt-to-Equity Ratio    PGR  2.901547  3.335757   3.667348   4.111262
22  Debt-to-Equity Ratio    WRB  3.817075  3.697888   4.018729   4.212260

    Q4 2022  Q1 2023  Q2 2023  Q3 2023
26      NaN      NaN      NaN      NaN
24      NaN      NaN      NaN      NaN
24      NaN      NaN      NaN      NaN
29      NaN      NaN      NaN      NaN
30      NaN      NaN      NaN      NaN
24      NaN      NaN      NaN      NaN
29      NaN      NaN      NaN      NaN
21      NaN      NaN      NaN      NaN
29      NaN      NaN      NaN      NaN
22      NaN      NaN      NaN      NaN
                   items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022  \
21  Debt-to-Equity Ratio    UNH  1.957163  2.040403  2.160835  2.256223
31  Debt-to-Equity Ratio     CI  2.287676  2.311346  2.325852  2.201727
34  Debt-to-Equity Ratio    CVS  2.103550  2.154179  2.062872  2.271112
22  Debt-to-Equity Ratio    ELV  1.702718  1.793218  1.816849  1.862549
25  Debt-to-Equity Ratio    HUM  1.758582  2.022913  2.022595  2.123231

    Q4 2022  Q1 2023  Q2 2023  Q3 2023
21      NaN      NaN      NaN      NaN
31      NaN      NaN      NaN      NaN
34      NaN      NaN      NaN      NaN
22      NaN      NaN      NaN      NaN
25      NaN      NaN      NaN      NaN
                   items ticker    Q4 2021    Q1 2022    Q2 2022    Q3 2022  \
29  Debt-to-Equity Ratio      V        NaN   1.263607   1.273139   1.407068
23  Debt-to-Equity Ratio    AXP   7.501961   7.750480   7.835722   7.977235
31  Debt-to-Equity Ratio    BAC  10.736002  11.145598  10.562237  10.401408
31  Debt-to-Equity Ratio      C  10.345201  11.109236  10.963500  10.991660
28  Debt-to-Equity Ratio    COF   6.084845   6.706008   7.243550   7.734236
23  Debt-to-Equity Ratio    DFS   7.222106   6.996129   7.326068   7.531849
30  Debt-to-Equity Ratio    JPM  11.727723  12.832462  12.424456  12.102945
36  Debt-to-Equity Ratio     MA   4.151668   4.283338   4.871172   4.912907
29  Debt-to-Equity Ratio   PYPL   2.488885   2.679319   2.936359   2.771960
19  Debt-to-Equity Ratio    SYF   6.011937   6.099940   6.108191   6.744082
36  Debt-to-Equity Ratio    WFC   9.383826   9.821672   9.596073   9.657561

     Q4 2022  Q1 2023  Q2 2023  Q3 2023
29  1.402996      NaN      NaN      NaN
23       NaN      NaN      NaN      NaN
31       NaN      NaN      NaN      NaN
31       NaN      NaN      NaN      NaN
28       NaN      NaN      NaN      NaN
23       NaN      NaN      NaN      NaN
30       NaN      NaN      NaN      NaN
36       NaN      NaN      NaN      NaN
29       NaN      NaN      NaN      NaN
19       NaN      NaN      NaN      NaN
36       NaN      NaN      NaN      NaN
                   items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022  \
38  Debt-to-Equity Ratio     VZ  3.482162  3.366133  3.303234  3.288311
30  Debt-to-Equity Ratio   AAPL       NaN  4.299324  4.202777  4.787754
38  Debt-to-Equity Ratio      T  2.316391  2.414628  2.621635  2.484004
38  Debt-to-Equity Ratio    TBB  2.316391  2.414628  2.621635  2.484004
38  Debt-to-Equity Ratio    TBC  2.316391  2.414628  2.621635  2.484004
40  Debt-to-Equity Ratio    TDS  1.276531  1.369799  1.398047  1.452405
34  Debt-to-Equity Ratio   TMUS  1.989248  2.010361  1.990876  2.043464
34  Debt-to-Equity Ratio    USM  1.274247  1.367734  1.387804  1.409239

     Q4 2022  Q1 2023  Q2 2023  Q3 2023
38       NaN      NaN      NaN      NaN
30  5.961537      NaN      NaN      NaN
38       NaN      NaN      NaN      NaN
38       NaN      NaN      NaN      NaN
38       NaN      NaN      NaN      NaN
40       NaN      NaN      NaN      NaN
34       NaN      NaN      NaN      NaN
34       NaN      NaN      NaN      NaN
                   items ticker   Q4 2021     Q1 2022     Q2 2022     Q3 2022  \
32  Debt-to-Equity Ratio    WBA       NaN    2.674637    2.471143    2.533272
29  Debt-to-Equity Ratio    ABC       NaN  236.925620  103.196364  254.236607
25  Debt-to-Equity Ratio   AMZN  2.042056    2.065402    2.194228    2.115609
34  Debt-to-Equity Ratio    CVS  2.103550    2.154179    2.062872    2.271112
27  Debt-to-Equity Ratio    MCK       NaN         NaN         NaN  -51.006279
24  Debt-to-Equity Ratio    RAD       NaN         NaN         NaN         NaN

       Q4 2022      Q1 2023    Q2 2023    Q3 2023
32    2.565737          NaN        NaN        NaN
29 -267.792453          NaN        NaN        NaN
25         NaN          NaN        NaN        NaN
34         NaN          NaN        NaN        NaN
27  -28.860035   -32.085329 -36.699491        NaN
24   85.151515 -1069.750000 -25.904762 -21.321782
                   items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022  \
24  Debt-to-Equity Ratio    WMT       NaN       NaN       NaN       NaN
25  Debt-to-Equity Ratio   AMZN  2.042056  2.065402  2.194228  2.115609
22  Debt-to-Equity Ratio   COST       NaN       NaN  2.248429  2.197716
34  Debt-to-Equity Ratio    CVS  2.103550  2.154179  2.062872  2.271112
20  Debt-to-Equity Ratio     DG       NaN       NaN       NaN       NaN
32  Debt-to-Equity Ratio     JD  1.376644  1.480435  1.750457  1.731678
29  Debt-to-Equity Ratio    PDD  1.412434  1.201075  1.111991  0.951909
25  Debt-to-Equity Ratio    TGT       NaN       NaN       NaN       NaN
26  Debt-to-Equity Ratio    TJX       NaN       NaN       NaN       NaN
32  Debt-to-Equity Ratio    WBA       NaN  2.674637  2.471143  2.533272

     Q4 2022   Q1 2023   Q2 2023   Q3 2023
24  1.941155  2.200973  2.186827  2.427622
25       NaN       NaN       NaN       NaN
22  2.108517  2.075171       NaN       NaN
34       NaN       NaN       NaN       NaN
20  3.204248  3.521469  3.563510  3.759928
32       NaN       NaN       NaN       NaN
29       NaN       NaN       NaN       NaN
25  3.195135  3.718953  3.953739  4.047191
26  3.741129  3.952458  4.019641  4.018358
32  2.565737       NaN       NaN       NaN

In [5]:
def interest_coverage_ratio(df, symbol=""):
    try:
        for j in df:
            if j == 'ticker' or j == 'items':
                continue
            df[j] = df[j].str.replace(",", "", regex=True).str.replace("(", "-", regex=True).str.replace(")", "", regex=True).str.replace("--", "", regex=True)
            df[j] = pd.to_numeric(df[j])

        df_columns = []

        for col in df.columns:
            df_columns.append(col)

        df_columns.insert(1, df_columns[-1])
        del df_columns[-1]

        first_row = df.loc[(df['ticker'] == symbol) & (df['items'] == 'Total Operating Income'), df_columns[2:]]
        second_row = df.loc[(df['ticker'] == symbol) & (df['items'] == 'Interest Expense, Suppl'), df_columns[2:]]
    #     print(first_row)
    #     print(second_row)
        third_row = first_row / second_row.values
    #     print(third_row)
        third_row['ticker'] = symbol
        third_row['items'] = "Interest Coverage Ratio"
        third_row = third_row[df_columns]
    except ValueError:
        third_row = first_row / second_row
    #     print(third_row)
        third_row['ticker'] = symbol
        third_row['items'] = "Interest Coverage Ratio"
        third_row = third_row[df_columns]
#         third_row = third_row.reshape(1,4)
    return third_row

In [6]:
for i in dow_jones_list:
    df = pd.DataFrame()
    
    # assign directories
    i_directory = f"C:/Users/jake_/OneDrive/Desktop/financial_scraping/dow_jones_stocks/{i}" 
    competitor_directory = i_directory + "/competitors"
    
    i_csv = i_directory + '/' + i + "quarterlyincome-statement.csv"
    i_df = pd.read_csv(i_csv)
    i_row = interest_coverage_ratio(i_df, symbol=i)
    df = df.append(i_row)
    
    
    competitor_list =[]
    
    # iterate over files in
    # that directory
    for filename in os.listdir(competitor_directory):
        if (filename.__contains__("ratio.csv") == False):
            f = os.path.join(competitor_directory, filename)
            f = f.split("\\")[1]
            # checking if it is a file
        #     if os.path.isfile(f):
            competitor_list.append(f)
    print(competitor_list)
    for symbol in competitor_list:
        competitor_csv = competitor_directory + "/" + symbol + '/' + symbol + "quarterlyincome-statement.csv"
#         print(competitor_csv)
        competitor_df = pd.read_csv(competitor_csv)
#             print(competitor_df)
        competitor_rows = interest_coverage_ratio(competitor_df, symbol=symbol)
        df = df.append(competitor_rows)
        
    df = pd.DataFrame(df)
    print(df)

['AMZN', 'DELL', 'GOOG', 'GOOGL', 'HPQ', 'META', 'MSFT']
                      items ticker      Q2 2022      Q3 2022    Q4 2022  \
5   Interest Coverage Ratio   AAPL    43.384949    32.094576  30.101572
8   Interest Coverage Ratio   AMZN     5.679795     4.092382        NaN
10  Interest Coverage Ratio   DELL          NaN          NaN   8.402985
6   Interest Coverage Ratio   GOOG   234.373494   169.653465        NaN
6   Interest Coverage Ratio  GOOGL   234.373494   169.653465        NaN
10  Interest Coverage Ratio    HPQ    17.270270    13.250000   5.900000
7   Interest Coverage Ratio   META  2089.500000  1416.000000        NaN
6   Interest Coverage Ratio   MSFT    42.365714    40.385686  41.312500

      Q1 2023      Q4 2021      Q1 2022   Q2 2023   Q3 2023
5   35.908275          NaN          NaN       NaN       NaN
8         NaN     7.178423     7.773305       NaN       NaN
10   5.849057          NaN          NaN  4.261745  2.801471
6         NaN   187.051282   242.096386       NaN       NaN
6         NaN   187.051282   242.096386       NaN       NaN
10        NaN          NaN    22.278689       NaN       NaN
7         NaN  3146.250000  2131.000000       NaN       NaN
6   42.986000          NaN          NaN       NaN       NaN
['ABBV', 'AZN', 'GILD', 'JNJ', 'MRNA', 'PFE', 'REGN']
                      items ticker     Q1 2022     Q2 2022     Q3 2022  \
7   Interest Coverage Ratio   AMGN    8.474576    6.634146    7.440217
12  Interest Coverage Ratio   ABBV    8.607664    5.926259    8.219643
14  Interest Coverage Ratio    AZN         NaN         NaN         NaN
6   Interest Coverage Ratio   GILD    0.827731    8.384298   12.388646
16  Interest Coverage Ratio    JNJ  586.200000  153.684211  114.156863
7   Interest Coverage Ratio   MRNA  704.500000  489.400000  145.750000
12  Interest Coverage Ratio    PFE   30.661491   41.303754   30.263666
9   Interest Coverage Ratio   REGN   89.928571   85.384615   81.600000

     Q4 2022     Q4 2021
7   5.373494         NaN
12       NaN    8.748276
14       NaN         NaN
6        NaN    3.949580
16       NaN   80.600000
7        NaN  901.666667
12       NaN   14.481013
9        NaN  188.571429
['BAC', 'C', 'COF', 'DFS', 'JPM', 'MA', 'PYPL', 'SYF', 'V']
                      items ticker    Q1 2022    Q2 2022    Q3 2022  \
10  Interest Coverage Ratio    AXP   8.448598   5.792711   3.089196
11  Interest Coverage Ratio     MA  26.818182  26.473684  25.933333
10  Interest Coverage Ratio   PYPL  12.050847  11.072464  12.850575
8   Interest Coverage Ratio      V  35.641791  35.835821  37.369369

      Q4 2022    Q4 2021
10   1.550124        NaN
11        NaN  26.175926
10        NaN  17.796610
8   31.993711        NaN
['AM', 'HXL', 'RTX', 'TDG', 'TXT', 'WWD']
                      items ticker     Q1 2022     Q2 2022     Q3 2022  \
7   Interest Coverage Ratio     BA   -1.855556    1.190769   -4.507246
12  Interest Coverage Ratio     AM    2.916823    2.826487    2.880109
7   Interest Coverage Ratio    HXL    3.307692    7.168539    4.533333
9   Interest Coverage Ratio    RTX    3.354037    4.228125    4.539877
10  Interest Coverage Ratio    TDG  227.500000  260.000000  200.666667
8   Interest Coverage Ratio    TXT    6.181818    7.343750    7.612903
9   Interest Coverage Ratio    WWD    4.750000    7.500000    6.444444

     Q4 2022   Q4 2021
7  -0.558544       NaN
12       NaN  2.873011
7        NaN  2.500000
9        NaN  2.329861
10       NaN       NaN
8        NaN  7.272727
9   6.200000       NaN
['DE', 'TEX', 'TTC']
                      items ticker    Q1 2022    Q2 2022    Q3 2022  \
10  Interest Coverage Ratio    CAT   8.627907   8.526316   9.326923
11  Interest Coverage Ratio     DE   6.026201  12.903743   9.577703
5   Interest Coverage Ratio    TEX   6.818182   8.666667   8.642857
5   Interest Coverage Ratio    TTC  13.142857  21.375000  18.111111

      Q4 2022   Q4 2021
10   5.508197       NaN
11   9.266476       NaN
5         NaN  6.181818
5   12.500000       NaN
['ADBE', 'CSCO', 'GOOG', 'GOOGL', 'INTU', 'MSFT', 'ORCL', 'SAP']
                      items ticker    Q1 2023   Q2 2023   Q3 2023   Q4 2023  \
11  Interest Coverage Ratio    CRM   0.121622  1.986842  5.226667 -0.206349
8   Interest Coverage Ratio   ADBE        NaN       NaN       NaN       NaN
11  Interest Coverage Ratio   CSCO  35.400000       NaN       NaN       NaN
6   Interest Coverage Ratio   GOOG        NaN       NaN       NaN       NaN
6   Interest Coverage Ratio  GOOGL        NaN       NaN       NaN       NaN
8   Interest Coverage Ratio   INTU   1.551020       NaN       NaN       NaN
6   Interest Coverage Ratio   MSFT  42.986000       NaN       NaN       NaN
11  Interest Coverage Ratio   ORCL   3.332910  3.587617       NaN       NaN
13  Interest Coverage Ratio    SAP        NaN       NaN       NaN       NaN

       Q1 2022     Q2 2022     Q3 2022    Q4 2022     Q4 2021
11         NaN         NaN         NaN        NaN         NaN
8    56.428571   54.607143   53.000000  53.750000         NaN
11         NaN   39.625000   40.111111  36.924731         NaN
6   242.096386  234.373494  169.653465        NaN  187.051282
6   242.096386  234.373494  169.653465        NaN  187.051282
8          NaN    2.666667  114.047619  -2.343750         NaN
6          NaN   42.365714   40.385686  41.312500         NaN
11         NaN         NaN    5.730135   6.394886         NaN
13         NaN         NaN         NaN        NaN         NaN
['AMZN', 'AVGO', 'DELL', 'FTNT', 'MSFT', 'PANW', 'RNG', 'VMW', 'ZM', 'ZS']
                      items ticker     Q3 2022    Q4 2022    Q1 2023  \
11  Interest Coverage Ratio   CSCO   40.111111  36.924731  35.400000
8   Interest Coverage Ratio   AMZN    4.092382        NaN        NaN
9   Interest Coverage Ratio   AVGO    9.204433   9.817734        NaN
10  Interest Coverage Ratio   DELL         NaN   8.402985   5.849057
9   Interest Coverage Ratio   FTNT   53.200000        NaN        NaN
6   Interest Coverage Ratio   MSFT   40.385686  41.312500  42.986000
8   Interest Coverage Ratio   PANW   -6.857143   2.142857   2.142857
9   Interest Coverage Ratio    RNG -183.000000        NaN        NaN
11  Interest Coverage Ratio    VMW         NaN   9.658228   5.746479
7   Interest Coverage Ratio     ZM         NaN        NaN        NaN
11  Interest Coverage Ratio     ZS   -6.078689  -5.708189 -51.906086

      Q2 2023    Q4 2021     Q1 2022     Q2 2022   Q3 2023
11  30.766355        NaN         NaN         NaN       NaN
8         NaN   7.178423    7.773305    5.679795       NaN
9         NaN        NaN    7.636364    6.552124       NaN
10   4.261745        NaN         NaN         NaN  2.801471
9         NaN  43.000000   30.200000   39.000000       NaN
6         NaN        NaN         NaN   42.365714       NaN
8         NaN        NaN         NaN  -10.571429       NaN
9         NaN  -6.312500 -104.000000 -108.000000       NaN
11   7.648649        NaN         NaN         NaN  5.064935
7         NaN        NaN         NaN         NaN       NaN
11        NaN        NaN         NaN   -5.978063       NaN
['BP', 'COP', 'ROSN', 'SHEL', 'XOM']
                      items ticker    Q4 2021    Q1 2022     Q2 2022  \
7   Interest Coverage Ratio    CVX  35.929032  52.713235  105.829457
9   Interest Coverage Ratio     BP        NaN        NaN         NaN
13  Interest Coverage Ratio    COP  16.931507  35.543779   34.464455
7   Interest Coverage Ratio   ROSN        NaN        NaN         NaN
12  Interest Coverage Ratio   SHEL  12.747925  16.306610   34.769784
8   Interest Coverage Ratio    XOM  37.511312  31.797872  106.757732

      Q3 2022  Q2 2014  Q3 2014  Q4 2014   Q1 2015
7   99.492188      NaN      NaN      NaN       NaN
9         NaN      NaN      NaN      NaN       NaN
13  35.100503      NaN      NaN      NaN       NaN
7         NaN      NaN      NaN      NaN -7.230769
12  12.604905      NaN      NaN      NaN       NaN
8   96.043062      NaN      NaN      NaN       NaN
['AAPL', 'CHTR', 'CMCSA', 'DISH', 'FOX', 'FOXA', 'NFLX', 'PARA', 'PARAA']

                      items ticker     Q1 2022     Q2 2022    Q3 2022  \
9   Interest Coverage Ratio    DIS    6.072022    3.756684   6.289474
5   Interest Coverage Ratio   AAPL   59.780980   43.384949  32.094576
10  Interest Coverage Ratio   CHTR    2.606604    2.964833   2.476724
15  Interest Coverage Ratio  CMCSA    5.608258    6.577479  -2.526042
12  Interest Coverage Ratio   DISH  110.000000  115.333333  85.400000
9   Interest Coverage Ratio    FOX         NaN    1.752577   7.417582
9   Interest Coverage Ratio   FOXA         NaN    1.752577   7.417582
5   Interest Coverage Ratio   NFLX   10.489362    9.017143   8.861272
9   Interest Coverage Ratio   PARA    2.925000    3.356522   2.450216
9   Interest Coverage Ratio  PARAA    2.925000    3.356522   2.450216

      Q4 2022     Q4 2021    Q1 2023
9         NaN         NaN        NaN
5   30.101572         NaN        NaN
10        NaN    3.015474        NaN
15        NaN    4.304464        NaN
12        NaN  178.500000        NaN
9    7.313953         NaN  10.482759
9    7.313953         NaN  10.482759
5         NaN    3.343915        NaN
9         NaN   11.053942        NaN
9         NaN   11.053942        NaN
['APD', 'DD', 'EMN', 'HUN', 'LIN']
                      items ticker    Q4 2021    Q1 2022    Q2 2022  \
10  Interest Coverage Ratio    DOW  11.205882  11.281437  12.193939
9   Interest Coverage Ratio    APD        NaN  16.870968  17.562500
11  Interest Coverage Ratio     DD   3.488889   3.083333   4.614754
15  Interest Coverage Ratio    EMN  11.775510   7.085106   9.466667
11  Interest Coverage Ratio    HUN  45.333333  21.714286  18.312500
8   Interest Coverage Ratio    LIN        NaN        NaN        NaN

      Q3 2022  Q4 2022
10   7.077419      NaN
9   19.000000     19.0
11   4.632812      NaN
15   7.200000      NaN
11   8.625000      NaN
8         NaN      NaN
['BAC', 'BK', 'BLK', 'C', 'MS', 'SCHW', 'UBS', 'WFC']
                      items ticker    Q4 2021    Q1 2022    Q2 2022    Q3 2022
10  Interest Coverage Ratio     GS   4.135802   3.361733   1.136991   0.577225
9   Interest Coverage Ratio    BLK  40.780000  32.666667  30.888889  30.520000
7   Interest Coverage Ratio     MS  15.167702  10.571429   2.495489   0.943470
12  Interest Coverage Ratio   SCHW  15.804688  13.522059  13.698795   6.211137
['AMZN', 'FAST', 'GWW', 'LOW', 'SHW', 'TGT', 'TSCO', 'WMT']
                      items ticker    Q4 2022    Q1 2023    Q2 2023  \
6   Interest Coverage Ratio     HD  14.149560  15.938172  18.923885
8   Interest Coverage Ratio   AMZN        NaN        NaN        NaN
4   Interest Coverage Ratio   FAST        NaN        NaN        NaN
7   Interest Coverage Ratio    GWW        NaN        NaN        NaN
6   Interest Coverage Ratio    LOW   8.328829  13.873950  16.018939
13  Interest Coverage Ratio    SHW        NaN        NaN        NaN
9   Interest Coverage Ratio    TGT        NaN        NaN        NaN
6   Interest Coverage Ratio   TSCO        NaN        NaN        NaN
5   Interest Coverage Ratio    WMT  15.660422  10.808791  14.726514

      Q3 2023     Q4 2021     Q1 2022     Q2 2022    Q3 2022
6   14.886199         NaN         NaN         NaN        NaN
8         NaN    7.178423    7.773305    5.679795   4.092382
4         NaN  150.500000  179.000000  127.666667  94.750000
7         NaN   18.954545   23.217391   24.272727  24.120000
6    3.019608         NaN         NaN         NaN        NaN
13        NaN    3.435294    5.420455    8.118280   8.861386
9         NaN         NaN         NaN         NaN        NaN
6         NaN   41.857143   34.857143   75.000000  51.000000
5    4.614726         NaN         NaN         NaN        NaN
['GE', 'GRMN', 'JCI', 'MMM']
                      items ticker    Q4 2021    Q1 2022    Q2 2022  \
14  Interest Coverage Ratio    HON  22.412500  17.705882  19.586207
10  Interest Coverage Ratio     GE  -4.401381  -1.724138   2.159898
7   Interest Coverage Ratio   GRMN        NaN        NaN        NaN
8   Interest Coverage Ratio    JCI        NaN   9.872727   2.875000
10  Interest Coverage Ratio    MMM  13.694915  14.522124   0.859375

      Q3 2022  Q4 2022
14  20.214286      NaN
10  -0.871795      NaN
7         NaN      NaN
8   10.240741     11.1
10  39.207547      NaN
['ACN', 'ADBE', 'CSCO', 'DELL', 'GOOG', 'GOOGL', 'HPE', 'MSFT', 'ORCL', 'SAP']
                      items ticker     Q4 2021     Q1 2022     Q2 2022  \
18  Interest Coverage Ratio    IBM    9.465347    2.003215    5.797980
5   Interest Coverage Ratio    ACN         NaN         NaN  187.454545
8   Interest Coverage Ratio   ADBE         NaN   56.428571   54.607143
11  Interest Coverage Ratio   CSCO         NaN         NaN   39.625000
10  Interest Coverage Ratio   DELL         NaN         NaN         NaN
6   Interest Coverage Ratio   GOOG  187.051282  242.096386  234.373494
6   Interest Coverage Ratio  GOOGL  187.051282  242.096386  234.373494
14  Interest Coverage Ratio    HPE         NaN         NaN         NaN
6   Interest Coverage Ratio   MSFT         NaN         NaN   42.365714
11  Interest Coverage Ratio   ORCL         NaN         NaN         NaN
13  Interest Coverage Ratio    SAP         NaN         NaN         NaN

       Q3 2022     Q4 2022     Q1 2023   Q2 2023   Q3 2023
18  -15.257627         NaN         NaN       NaN       NaN
5   208.916667  174.461538  370.428571       NaN       NaN
8    53.000000   53.750000         NaN       NaN       NaN
11   40.111111   36.924731   35.400000       NaN       NaN
10         NaN    8.402985    5.849057  4.261745  2.801471
6   169.653465         NaN         NaN       NaN       NaN
6   169.653465         NaN         NaN       NaN       NaN
14         NaN         NaN         NaN       NaN       NaN
6    40.385686   41.312500   42.986000       NaN       NaN
11    5.730135    6.394886    3.332910  3.587617       NaN
13         NaN         NaN         NaN       NaN       NaN
['AMAT', 'AMD', 'AVGO', 'MU', 'NVDA', 'QCOM', 'TXN']
                      items ticker     Q4 2021    Q1 2022    Q2 2022  \
10  Interest Coverage Ratio   INTC   37.231343  43.879032  -7.339450
11  Interest Coverage Ratio   AMAT         NaN  34.666667  32.655172
9   Interest Coverage Ratio    AMD  153.875000  72.692308  21.000000
9   Interest Coverage Ratio   AVGO         NaN   7.636364   6.552124
12  Interest Coverage Ratio     MU         NaN        NaN  46.290909
8   Interest Coverage Ratio   NVDA         NaN        NaN        NaN
8   Interest Coverage Ratio   QCOM         NaN  27.791367  28.014599
7   Interest Coverage Ratio    TXN   51.081633  49.288462  55.571429

      Q3 2022    Q4 2022    Q1 2023   Q2 2023   Q3 2023
10  -1.535088        NaN        NaN       NaN       NaN
11  34.357143  34.982456        NaN       NaN       NaN
9   -2.064516        NaN        NaN       NaN       NaN
9    9.204433   9.817734        NaN       NaN       NaN
12  68.272727  33.800000  -4.098039       NaN       NaN
8         NaN  48.688525  27.470588  7.676923  9.246154
8   63.600000  25.241379        NaN       NaN       NaN
7   50.528302        NaN        NaN       NaN       NaN
['ABT', 'AZN', 'MDT', 'MRK', 'NOVN', 'PFE', 'PG', 'ROG']
                      items ticker    Q4 2021     Q1 2022     Q2 2022  \
16  Interest Coverage Ratio    JNJ  80.600000  586.200000  153.684211
9   Interest Coverage Ratio    ABT  18.152672   22.229008   18.000000
14  Interest Coverage Ratio    AZN        NaN         NaN         NaN
15  Interest Coverage Ratio    MDT        NaN         NaN         NaN
8   Interest Coverage Ratio    MRK  17.105263   22.917695   20.520833
14  Interest Coverage Ratio   NOVN        NaN -100.196970  -13.628289
12  Interest Coverage Ratio    PFE  14.481013   30.661491   41.303754
4   Interest Coverage Ratio     PG        NaN         NaN   48.754717
12  Interest Coverage Ratio    ROG  10.636456   19.539293   15.361786

       Q3 2022    Q4 2022    Q1 2023    Q2 2023  Q3 2021
16  114.156863        NaN        NaN        NaN      NaN
9    12.553191        NaN        NaN        NaN      NaN
14         NaN        NaN        NaN        NaN      NaN
15   12.109489  11.685315   9.594595  11.864407      NaN
8    16.442623        NaN        NaN        NaN      NaN
14         NaN        NaN        NaN        NaN      NaN
12   30.263666        NaN        NaN        NaN      NaN
4    36.917431  31.286957  40.154472        NaN      NaN
12    6.140246        NaN        NaN        NaN      NaN
['BAC', 'BMO', 'C', 'RY', 'TD', 'WFC']

Empty DataFrame
Columns: [items, ticker, Q4 2021, Q1 2022, Q2 2022, Q3 2022, Q4 2022]
Index: []
['CCEP', 'COKE', 'FIZZ', 'KDP', 'KHC', 'MDLZ', 'MNST', 'PEP', 'PRMW', 'SBUX']
                      items ticker    Q4 2021    Q1 2022    Q2 2022  \
14  Interest Coverage Ratio     KO  13.806061  18.780220  11.338384
5   Interest Coverage Ratio   CCEP        NaN        NaN        NaN
4   Interest Coverage Ratio   COKE  10.875000  16.375000  21.000000
6   Interest Coverage Ratio   FIZZ        NaN        NaN        NaN
14  Interest Coverage Ratio    KDP   5.949580   4.851064   2.268571
8   Interest Coverage Ratio    KHC   0.019868   4.603306   2.324786
9   Interest Coverage Ratio   MDLZ  13.377778  10.604396  10.415730
13  Interest Coverage Ratio   MNST        inf        inf        inf
12  Interest Coverage Ratio    PEP   2.249117  21.987500   8.245763
9   Interest Coverage Ratio   PRMW        NaN        NaN        NaN
10  Interest Coverage Ratio   SBUX        NaN  10.243478   7.974790

       Q3 2022  Q4 2020  Q2 2021     Q4 2022  Q1 2023  Q2 2023
14   15.595960      NaN      NaN         NaN      NaN      NaN
5          NaN      NaN      NaN         NaN      NaN      NaN
4    31.666667      NaN      NaN         NaN      NaN      NaN
6   656.387097      NaN      NaN  328.050725      NaN      NaN
14    1.903382      NaN      NaN         NaN      NaN      NaN
8     3.293860      NaN      NaN         NaN      NaN      NaN
9     5.956140      NaN      NaN         NaN      NaN      NaN
13         inf      NaN      NaN         NaN      NaN      NaN
12   17.336842      NaN      NaN         NaN      NaN      NaN
9          NaN      NaN      NaN         NaN      NaN      NaN
10   10.536585      NaN      NaN    9.568000      NaN      NaN
['CMG', 'DPZ', 'JACK', 'PZZA', 'QSR', 'SBUX', 'SHAK', 'WEN', 'YUM', 'YUMC']
                      items ticker     Q4 2021    Q1 2022     Q2 2022  \
11  Interest Coverage Ratio    MCD    8.097973   6.317073    5.756014
7   Interest Coverage Ratio    CMG         NaN        NaN         NaN
6   Interest Coverage Ratio    DPZ    3.655738   3.510638    3.955556
14  Interest Coverage Ratio   JACK         NaN   3.637350    1.439801
10  Interest Coverage Ratio   PZZA    4.750000   3.500000    6.500000
16  Interest Coverage Ratio    QSR    3.924528   4.128440    4.546218
10  Interest Coverage Ratio   SBUX         NaN  10.243478    7.974790
11  Interest Coverage Ratio   SHAK  -18.393768 -42.070423   -2.600000
18  Interest Coverage Ratio    WEN    2.961538   2.884615    3.000000
9   Interest Coverage Ratio    YUM         NaN        NaN         NaN
11  Interest Coverage Ratio   YUMC  647.000000        NaN  105.000000

       Q3 2022  Q4 2022
11    9.032680      NaN
7          NaN      NaN
6     3.911111      NaN
14    2.620604   4.2428
10    2.375000      NaN
16    3.895833      NaN
10   10.536585   9.5680
11  -10.160000      NaN
18    3.062500      NaN
9          NaN      NaN
11  340.000000      NaN
['DD', 'GE', 'HON', 'ITW', 'JNJ']
                      items ticker    Q4 2021     Q1 2022     Q2 2022  \
10  Interest Coverage Ratio    MMM  13.694915   14.522124    0.859375
11  Interest Coverage Ratio     DD   3.488889    3.083333    4.614754
10  Interest Coverage Ratio     GE  -4.401381   -1.724138    2.159898
14  Interest Coverage Ratio    HON  22.412500   17.705882   19.586207
5   Interest Coverage Ratio    ITW  17.020408   18.645833   19.702128
16  Interest Coverage Ratio    JNJ  80.600000  586.200000  153.684211

       Q3 2022
10   39.207547
11    4.632812
10   -0.871795
14   20.214286
5    18.903846
16  114.156863
['ABT', 'BMY', 'GSK', 'JNJ', 'LLY', 'NOVN', 'PFE', 'SAN', 'ZTS']
                      items ticker    Q4 2021     Q1 2022     Q2 2022  \
8   Interest Coverage Ratio    MRK  17.105263   22.917695   20.520833
9   Interest Coverage Ratio    ABT  18.152672   22.229008   18.000000
15  Interest Coverage Ratio    BMY   8.182663    8.153374    8.274760
11  Interest Coverage Ratio    GSK        NaN         NaN         NaN
16  Interest Coverage Ratio    JNJ  80.600000  586.200000  153.684211
10  Interest Coverage Ratio    LLY  23.666667   28.282353   14.938272
14  Interest Coverage Ratio   NOVN        NaN -100.196970  -13.628289
12  Interest Coverage Ratio    PFE  14.481013   30.661491   41.303754
20  Interest Coverage Ratio    ZTS   9.370370   13.716981   12.641509

       Q3 2022  Q3 2021
8    16.442623      NaN
9    12.553191      NaN
15    8.270903      NaN
11         NaN      NaN
16  114.156863      NaN
10   20.451220      NaN
14         NaN      NaN
12   30.263666      NaN
20   12.584906      NaN
['AAPL', 'AVGO', 'CRM', 'CSCO', 'GOOG', 'GOOGL', 'IBM', 'ORCL', 'SAP']
                      items ticker     Q2 2022     Q3 2022    Q4 2022  \
6   Interest Coverage Ratio   MSFT   42.365714   40.385686  41.312500
5   Interest Coverage Ratio   AAPL   43.384949   32.094576  30.101572
9   Interest Coverage Ratio   AVGO    6.552124    9.204433   9.817734
11  Interest Coverage Ratio    CRM         NaN         NaN  -2.563380
11  Interest Coverage Ratio   CSCO   39.625000   40.111111  36.924731
6   Interest Coverage Ratio   GOOG  234.373494  169.653465        NaN
6   Interest Coverage Ratio  GOOGL  234.373494  169.653465        NaN
18  Interest Coverage Ratio    IBM    5.797980  -15.257627        NaN
11  Interest Coverage Ratio   ORCL         NaN    5.730135   6.394886
13  Interest Coverage Ratio    SAP         NaN         NaN        NaN

      Q1 2023     Q1 2022   Q2 2023   Q3 2023     Q4 2021
6   42.986000         NaN       NaN       NaN         NaN
5         NaN   59.780980       NaN       NaN         NaN
9         NaN    7.636364       NaN       NaN         NaN
11   0.121622         NaN  1.986842  5.226667         NaN
11  35.400000         NaN       NaN       NaN         NaN
6         NaN  242.096386       NaN       NaN  187.051282
6         NaN  242.096386       NaN       NaN  187.051282
18        NaN    2.003215       NaN       NaN    9.465347
11   3.332910         NaN  3.587617       NaN         NaN
13        NaN         NaN       NaN       NaN         NaN
['ADS', 'CROX', 'SKX', 'UA', 'UAA', 'VFC']
                      items ticker    Q3 2022    Q4 2022    Q1 2023  Q2 2023  \
6   Interest Coverage Ratio    NKE  21.720000  19.064935  21.730769      NaN
11  Interest Coverage Ratio    ADS   1.421053        NaN        NaN      NaN
7   Interest Coverage Ratio   CROX   7.764706        NaN        NaN      NaN
5   Interest Coverage Ratio    SKX  26.000000        NaN        NaN      NaN
9   Interest Coverage Ratio     UA        NaN  -7.666667   5.666667    29.75
9   Interest Coverage Ratio    UAA        NaN  -7.666667   5.666667    29.75
8   Interest Coverage Ratio    VFC  19.852941   6.000000   1.909091    -2.60

      Q4 2021    Q1 2022    Q2 2022
6         NaN        NaN        NaN
11   2.725849   3.822785   0.168421
7   17.777778   6.263158   7.515152
5   23.250000  35.200000  30.800000
9   10.750000        NaN        NaN
9   10.750000        NaN        NaN
8         NaN        NaN        NaN
['CL', 'EL', 'JNJ', 'OR']
                      items ticker     Q2 2022     Q3 2022    Q4 2022  \
4   Interest Coverage Ratio     PG   48.754717   36.917431  31.286957
8   Interest Coverage Ratio     CL         NaN         NaN        NaN
7   Interest Coverage Ratio     EL   33.761905   18.000000   1.880952
16  Interest Coverage Ratio    JNJ  153.684211  114.156863        NaN
9   Interest Coverage Ratio     OR         NaN         NaN        NaN

      Q1 2023  Q4 2021  Q1 2022
4   40.154472      NaN      NaN
8         NaN      NaN      NaN
7   14.369565      NaN      NaN
16        NaN     80.6    586.2
9         NaN      NaN      NaN
['AIG', 'AIZ', 'ALL', 'CB', 'CINF', 'HIG', 'L', 'PGR', 'WRB']
                      items ticker     Q4 2021    Q1 2022    Q2 2022  \
11  Interest Coverage Ratio    TRV   19.750000  14.586207   8.465909
11  Interest Coverage Ratio    AIG   17.996633  23.186312  17.244361
13  Interest Coverage Ratio    AIZ    7.000000   7.481481   3.592593
15  Interest Coverage Ratio    ALL   16.583333   9.602410 -15.843373
15  Interest Coverage Ratio     CB   18.507937  16.265152  12.970149
12  Interest Coverage Ratio   CINF  132.857143 -26.692308 -79.076923
14  Interest Coverage Ratio    HIG   15.516129   9.758065  11.823529
11  Interest Coverage Ratio      L    5.800000   6.208333   4.364583
14  Interest Coverage Ratio    PGR   24.153846   8.240741  -9.095238
14  Interest Coverage Ratio    WRB   10.405405  21.800000   6.687500

      Q3 2022
11   7.102273
11  14.641844
13   1.346154
15 -10.823529
15   9.393333
12 -40.357143
14   9.620000
11   3.086957
14   3.269841
14   8.656250
['CI', 'CVS', 'ELV', 'HUM']

                      items ticker    Q4 2021    Q1 2022    Q2 2022    Q3 2022
10  Interest Coverage Ratio    UNH  12.856148  16.050808  15.271949  14.461240
14  Interest Coverage Ratio     CI   5.477816   6.180602   7.594684  12.483553
11  Interest Coverage Ratio    CVS   3.519737   5.955631   7.837050  -6.945230
15  Interest Coverage Ratio    ELV   8.000000  12.572139  11.302885  11.075117
12  Interest Coverage Ratio    HUM   0.670330  14.322222  12.029703  13.843137
['AXP', 'BAC', 'C', 'COF', 'DFS', 'JPM', 'MA', 'PYPL', 'SYF', 'WFC']
                      items ticker    Q1 2022    Q2 2022    Q3 2022  \
8   Interest Coverage Ratio      V  35.641791  35.835821  37.369369
10  Interest Coverage Ratio    AXP   8.448598   5.792711   3.089196
11  Interest Coverage Ratio     MA  26.818182  26.473684  25.933333
10  Interest Coverage Ratio   PYPL  12.050847  11.072464  12.850575

      Q4 2022    Q4 2021
8   31.993711        NaN
10        NaN   7.897260
11        NaN  26.175926
10        NaN  17.796610
['AAPL', 'T', 'TBB', 'TBC', 'TDS', 'TMUS', 'USM']
                      items ticker   Q4 2021    Q1 2022    Q2 2022    Q3 2022  \
10  Interest Coverage Ratio     VZ  3.118826   9.918575   9.620382   8.424760
5   Interest Coverage Ratio   AAPL       NaN  59.780980  43.384949  32.094576
8   Interest Coverage Ratio      T  3.191822   3.405289   3.299601   4.233803
8   Interest Coverage Ratio    TBB  3.191822   3.405289   3.299601   4.233803
8   Interest Coverage Ratio    TBC  3.191822   3.405289   3.299601   4.233803
9   Interest Coverage Ratio    TDS  0.615385   2.878788   1.575000  -0.239130
9   Interest Coverage Ratio   TMUS  1.274580   2.090278   0.833137   1.548972
9   Interest Coverage Ratio    USM  0.161290   2.151515   1.000000  -0.357143

      Q4 2022
10        NaN
5   30.101572
8         NaN
8         NaN
8         NaN
9         NaN
9         NaN
9         NaN
['ABC', 'AMZN', 'CVS', 'MCK', 'RAD']
                      items ticker    Q1 2022    Q2 2022   Q3 2022    Q4 2022  \
14  Interest Coverage Ratio    WBA  14.918605  10.180000  0.932692  -5.982301
12  Interest Coverage Ratio    ABC  11.298246  14.181818  9.327586   7.177419
8   Interest Coverage Ratio   AMZN   7.773305   5.679795  4.092382        NaN
11  Interest Coverage Ratio    CVS   5.955631   7.837050 -6.945230        NaN
9   Interest Coverage Ratio    MCK        NaN        NaN  7.268293  14.720930
8   Interest Coverage Ratio    RAD        NaN        NaN       NaN  -7.478261

     Q4 2021    Q1 2023    Q2 2023  Q3 2023
14       NaN        NaN        NaN      NaN
12       NaN        NaN        NaN      NaN
8   7.178423        NaN        NaN      NaN
11  3.519737        NaN        NaN      NaN
9        NaN  23.022222  20.436364      NaN
8        NaN  -1.833333  -5.584906 -0.22807
['AMZN', 'COST', 'CVS', 'DG', 'JD', 'PDD', 'TGT', 'TJX', 'WBA']
                      items ticker    Q4 2022    Q1 2023    Q2 2023  \
5   Interest Coverage Ratio    WMT  15.660422  10.808791  14.726514
8   Interest Coverage Ratio   AMZN        NaN        NaN        NaN
5   Interest Coverage Ratio   COST  52.020833  51.500000        NaN
11  Interest Coverage Ratio    CVS        NaN        NaN        NaN
4   Interest Coverage Ratio     DG  20.435897  18.650000  21.232558
9   Interest Coverage Ratio     JD        NaN        NaN        NaN
7   Interest Coverage Ratio    PDD        NaN        NaN        NaN
9   Interest Coverage Ratio    TGT        NaN        NaN        NaN
7   Interest Coverage Ratio    TJX  60.190476  41.476190  52.238095
14  Interest Coverage Ratio    WBA  -5.982301        NaN        NaN

      Q3 2023    Q4 2021     Q1 2022     Q2 2022     Q3 2022
5    4.614726        NaN         NaN         NaN         NaN
8         NaN   7.178423    7.773305    5.679795    4.092382
5         NaN        NaN         NaN   50.333333   51.171429
11        NaN   3.519737    5.955631    7.837050   -6.945230
4   13.629630        NaN         NaN         NaN         NaN
9         NaN  -0.876957   -3.304348    7.828512   15.120898
7         NaN  22.795380  165.692308  669.000000  745.500000
9         NaN        NaN         NaN         NaN         NaN
7   64.714286        NaN         NaN         NaN         NaN
14        NaN        NaN   14.918605   10.180000    0.932692

In [7]:
def operating_margin(df, symbol=""):
#     df = pd.DataFrame()
    # for i in my_list:
#     i= 'AAPL'
#     i_csv = DATA_DIR + 'my_resources/'+ i + '/' + i + "quarterlyincome-statement.csv"
#     i_df = pd.read_csv(i_csv)
    try:
        for j in df:
            if j == 'ticker' or j == 'items':
                continue
            df[j] = df[j].str.replace(",", "", regex=True).str.replace("(", "-", regex=True).str.replace(")", "", regex=True).str.replace("--", "", regex=True)
            df[j] = pd.to_numeric(df[j])

        df_columns = []

        for col in df.columns:
            df_columns.append(col)

        df_columns.insert(1, df_columns[-1])
        del df_columns[-1]
        # print(i_df_columns)

        first_row = df.loc[(df['ticker'] == symbol) & (df['items'] == 'Total Operating Income'), df_columns[2:]]
        # gross_margin
        second_row = df.loc[(df['ticker'] == symbol) & (df['items'] == 'Total Revenue'), df_columns[2:]]
#         print(first_row)
#         print(second_row)
        third_row = first_row / second_row.values
        # print(third_row)
        third_row['ticker'] = symbol
        third_row['items'] = "Operating Margin"
        third_row = third_row[df_columns]
    except ValueError:
        third_row = first_row / second_row
    #     print(third_row)
        third_row['ticker'] = symbol
        third_row['items'] = "Operating Margin"
        third_row = third_row[df_columns]
#         third_row = third_row.reshape(1,4)
    return third_row

In [8]:
for i in dow_jones_list:
    df = pd.DataFrame()
    
    # assign directories
    i_directory = f"C:/Users/jake_/OneDrive/Desktop/financial_scraping/dow_jones_stocks/{i}" 
    competitor_directory = i_directory + "/competitors"
    
    i_csv = i_directory + '/' + i + "quarterlyincome-statement.csv"
    i_df = pd.read_csv(i_csv)
    i_row = operating_margin(i_df, symbol=i)
    df = df.append(i_row)
    
    
    competitor_list =[]
    
    # iterate over files in
    # that directory
    for filename in os.listdir(competitor_directory):
        if (filename.__contains__("ratio.csv") == False):
            f = os.path.join(competitor_directory, filename)
            f = f.split("\\")[1]
            # checking if it is a file
        #     if os.path.isfile(f):
            competitor_list.append(f)
    print(competitor_list)
    for symbol in competitor_list:
        competitor_csv = competitor_directory + "/" + symbol + '/' + symbol + "quarterlyincome-statement.csv"
#         print(competitor_csv)
        competitor_df = pd.read_csv(competitor_csv)
#             print(competitor_df)
        competitor_rows = operating_margin(competitor_df, symbol=symbol)
        df = df.append(competitor_rows)
        
    df = pd.DataFrame(df)
    print(df)

['AMZN', 'DELL', 'GOOG', 'GOOGL', 'HPQ', 'META', 'MSFT']
               items ticker   Q2 2022   Q3 2022   Q4 2022   Q1 2023   Q4 2021  \
5   Operating Margin   AAPL  0.308179  0.278162  0.276152  0.307424       NaN
8   Operating Margin   AMZN  0.027360  0.019866       NaN       NaN  0.025180
10  Operating Margin   DELL       NaN       NaN  0.025367  0.059351       NaN
6   Operating Margin   GOOG  0.279156  0.248003       NaN       NaN  0.290541
6   Operating Margin  GOOGL  0.279156  0.248003       NaN       NaN  0.290541
10  Operating Margin    HPQ  0.077502  0.086743  0.051821       NaN       NaN
7   Operating Margin   META  0.289987  0.204373       NaN       NaN  0.373764
6   Operating Margin   MSFT  0.429980  0.411548  0.395083  0.428814       NaN

     Q1 2022   Q2 2023   Q3 2023
5        NaN       NaN       NaN
8   0.031509       NaN       NaN
10       NaN  0.048061  0.030824
6   0.295452       NaN       NaN
6   0.295452       NaN       NaN
10  0.079810       NaN       NaN
7   0.305432       NaN       NaN
6        NaN       NaN       NaN
['ABBV', 'AZN', 'GILD', 'JNJ', 'MRNA', 'PFE', 'REGN']
               items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
7   Operating Margin   AMGN  0.400769  0.329997  0.411606  0.326071       NaN
12  Operating Margin   ABBV  0.348427  0.225948  0.310762       NaN  0.340857
14  Operating Margin    AZN  0.077085  0.050042  0.113367       NaN -0.024311
6   Operating Margin   GILD  0.029894  0.324121  0.402869       NaN  0.129763
16  Operating Margin    JNJ  0.250235  0.243131  0.244714       NaN  0.194969
7   Operating Margin   MRNA  0.696835  0.515266  0.346611       NaN  0.750243
12  Operating Margin    PFE  0.384747  0.436234  0.415761       NaN  0.193611
9   Operating Margin   REGN  0.424621  0.388519  0.416894       NaN  0.533118
['BAC', 'C', 'COF', 'DFS', 'JPM', 'MA', 'PYPL', 'SYF', 'V']
               items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
10  Operating Margin    AXP  0.228726  0.187233  0.175693  0.125117       NaN
11  Operating Margin     MA  0.570931  0.549027  0.540653       NaN  0.541986
10  Operating Margin   PYPL  0.109671  0.112254  0.163307       NaN  0.151778
8   Operating Margin      V  0.676583  0.667965  0.570172  0.653268       NaN
['AM', 'HXL', 'RTX', 'TDG', 'TXT', 'WWD']
               items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
7   Operating Margin     BA -0.083554  0.046400 -0.175420 -0.017668       NaN
12  Operating Margin     AM  0.591118  0.560909  0.596319       NaN  0.588775
7   Operating Margin    HXL  0.077061  0.162341  0.111873       NaN  0.063836
9   Operating Margin    RTX  0.068720  0.082935  0.087310       NaN  0.039369
10  Operating Margin    TDG  0.381072  0.391861  0.430615  0.424503       NaN
8   Operating Margin    TXT  0.067977  0.074509  0.076673       NaN  0.072246
9   Operating Margin    WWD  0.070111  0.102215  0.094463  0.096875       NaN
['DE', 'TEX', 'TTC']
               items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
10  Operating Margin    CAT  0.136507  0.136450  0.161731  0.101223       NaN
11  Operating Margin     DE  0.144216  0.184989  0.201035  0.208162       NaN
5   Operating Margin    TEX  0.074776  0.096565  0.107939       NaN  0.068687
5   Operating Margin    TTC  0.098607  0.136910  0.140396  0.127986       NaN
['ADBE', 'CSCO', 'GOOG', 'GOOGL', 'INTU', 'MSFT', 'ORCL', 'SAP']
               items ticker   Q1 2023   Q2 2023   Q3 2023   Q4 2023   Q1 2022  \
11  Operating Margin    CRM  0.001214  0.019560  0.050019 -0.001551       NaN
8   Operating Margin   ADBE       NaN       NaN       NaN       NaN  0.370718
11  Operating Margin   CSCO  0.259683       NaN       NaN       NaN       NaN
6   Operating Margin   GOOG       NaN       NaN       NaN       NaN  0.295452
6   Operating Margin  GOOGL       NaN       NaN       NaN       NaN  0.295452
8   Operating Margin   INTU  0.029265       NaN       NaN       NaN       NaN
6   Operating Margin   MSFT  0.428814       NaN       NaN       NaN       NaN
11  Operating Margin   ORCL  0.229183  0.250183       NaN       NaN       NaN
13  Operating Margin    SAP       NaN       NaN       NaN       NaN  0.148792

     Q2 2022   Q3 2022   Q4 2022   Q4 2021
11       NaN       NaN       NaN       NaN
8   0.348609  0.334762  0.332597       NaN
11  0.274135  0.281262  0.262097       NaN
6   0.279156  0.248003       NaN  0.290541
6   0.279156  0.248003       NaN  0.290541
8   0.020950  0.425249 -0.031069       NaN
6   0.429980  0.411548  0.395083       NaN
11       NaN  0.363550  0.380236       NaN
13  0.089530  0.158016       NaN  0.183310
['AMZN', 'AVGO', 'DELL', 'FTNT', 'MSFT', 'PANW', 'RNG', 'VMW', 'ZM', 'ZS']
               items ticker   Q3 2022   Q4 2022   Q1 2023   Q2 2023   Q4 2021  \
11  Operating Margin   CSCO  0.281262  0.262097  0.259683  0.242201       NaN
8   Operating Margin   AMZN  0.019866       NaN       NaN       NaN  0.025180
9   Operating Margin   AVGO  0.441517  0.446361       NaN       NaN       NaN
10  Operating Margin   DELL       NaN  0.025367  0.059351  0.048061       NaN
9   Operating Margin   FTNT  0.231304       NaN       NaN       NaN  0.223029
6   Operating Margin   MSFT  0.411548  0.395083  0.428814       NaN       NaN
8   Operating Margin   PANW -0.034607  0.009671  0.009597       NaN       NaN
9   Operating Margin    RNG -0.359528       NaN       NaN       NaN -0.225446
11  Operating Margin    VMW       NaN  0.216086  0.132124  0.169664       NaN
7   Operating Margin     ZM       NaN  0.235294  0.174115  0.111010       NaN
11  Operating Margin     ZS -0.301935 -0.259477 -0.194311       NaN       NaN

     Q1 2022   Q2 2022   Q3 2023
11       NaN       NaN       NaN
8   0.031509  0.027360       NaN
9   0.403322  0.418857       NaN
10       NaN       NaN  0.030824
9   0.158115  0.189320       NaN
6        NaN  0.429980       NaN
8        NaN -0.056188       NaN
9  -0.222222 -0.221766       NaN
11       NaN       NaN  0.121457
7        NaN       NaN  0.060799
11       NaN -0.328420       NaN
['BP', 'COP', 'ROSN', 'SHEL', 'XOM']
               items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022  Q2 2014  \
7   Operating Margin    CVX  0.121432  0.137038  0.208836  0.200526      NaN
9   Operating Margin     BP  0.067156 -0.372325  0.210282  0.030558      NaN
13  Operating Margin    COP  0.245238  0.434242  0.343651  0.332413      NaN
7   Operating Margin   ROSN       NaN       NaN       NaN       NaN     -inf
12  Operating Margin   SHEL  0.144102  0.137689  0.241508  0.096628      NaN
8   Operating Margin    XOM  0.101962  0.068138  0.186141  0.188458      NaN

    Q3 2014  Q4 2014  Q1 2015
7       NaN      NaN      NaN
9       NaN      NaN      NaN
13      NaN      NaN      NaN
7      -inf     -inf     -inf
12      NaN      NaN      NaN
8       NaN      NaN      NaN
['AAPL', 'CHTR', 'CMCSA', 'DISH', 'FOX', 'FOXA', 'NFLX', 'PARA', 'PARAA']
               items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021  \
9   Operating Margin    DIS  0.100463  0.072991  0.111142  0.030025       NaN
5   Operating Margin   AAPL  0.334729  0.308179  0.278162  0.276152       NaN
10  Operating Margin   CHTR  0.209318  0.241800  0.212030       NaN  0.235998
15  Operating Margin  CMCSA  0.179587  0.212120 -0.081242       NaN  0.158920
12  Operating Margin   DISH  0.126991  0.164371  0.104274       NaN  0.160558
9   Operating Margin    FOX       NaN  0.038280  0.195369  0.207385       NaN
9   Operating Margin   FOXA       NaN  0.038280  0.195369  0.207385       NaN
5   Operating Margin   NFLX  0.250635  0.197992  0.193414       NaN  0.081982
9   Operating Margin   PARA  0.095797  0.099242  0.081839       NaN  0.333000
9   Operating Margin  PARAA  0.095797  0.099242  0.081839       NaN  0.333000

     Q1 2023
9        NaN
5        NaN
10       NaN
15       NaN
12       NaN
9   0.285714
9   0.285714
5        NaN
9        NaN
9        NaN
['APD', 'DD', 'EMN', 'HUN', 'LIN']
               items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022  Q4 2022
10  Operating Margin    DOW  0.132623  0.123428  0.128447  0.077719      NaN
9   Operating Margin    APD       NaN  0.174683  0.190832  0.196613  0.17563
11  Operating Margin     DD  0.110279  0.113012  0.169476  0.178776      NaN
15  Operating Margin    EMN  0.214180  0.122697  0.153017  0.119601      NaN
11  Operating Margin    HUN  0.294755  0.127250  0.124047  0.068623      NaN
8   Operating Margin    LIN  0.161123  0.180246  0.069646  0.183358      NaN
['BAC', 'BK', 'BLK', 'C', 'MS', 'SCHW', 'UBS', 'WFC']
               items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022
10  Operating Margin     GS  0.362711  0.325185  0.236566  0.203225
9   Operating Margin    BLK  0.399334  0.375399  0.368537  0.353978
7   Operating Margin     MS  0.328978  0.301149  0.229498  0.204380
12  Operating Margin   SCHW  0.418321  0.382488  0.432402  0.451357

['AMZN', 'FAST', 'GWW', 'LOW', 'SHW', 'TGT', 'TSCO', 'WMT']
               items ticker   Q4 2022   Q1 2023   Q2 2023   Q3 2023   Q4 2021  \
6   Operating Margin     HD  0.135082  0.152385  0.164642  0.158160       NaN
8   Operating Margin   AMZN       NaN       NaN       NaN       NaN  0.025180
4   Operating Margin   FAST       NaN       NaN       NaN       NaN  0.196475
7   Operating Margin    GWW       NaN       NaN       NaN       NaN  0.124144
6   Operating Margin    LOW  0.086649  0.139566  0.153916  0.039354       NaN
13  Operating Margin    SHW       NaN       NaN       NaN       NaN  0.061319
9   Operating Margin    TGT  0.067589  0.053476  0.012329  0.038540       NaN
6   Operating Margin   TSCO       NaN       NaN       NaN       NaN  0.088280
5   Operating Margin    WMT  0.043743  0.034739  0.046147  0.017636       NaN

     Q1 2022   Q2 2022   Q3 2022
6        NaN       NaN       NaN
8   0.031509  0.027360  0.019866
4   0.210094  0.215289  0.210322
7   0.146422  0.139171  0.152968
6        NaN       NaN       NaN
13  0.095419  0.128576  0.148007
9        NaN       NaN       NaN
6   0.080688  0.134512  0.093549
5        NaN       NaN       NaN
['GE', 'GRMN', 'JCI', 'MMM']
               items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022   Q4 2022
14  Operating Margin    HON  0.207116  0.179680  0.190327  0.221316       NaN
10  Operating Margin     GE -0.219097 -0.041082  0.045642 -0.017816       NaN
7   Operating Margin   GRMN  0.226293  0.195226  0.236100  0.209649       NaN
8   Operating Margin    JCI       NaN  0.092631  0.026402  0.083611  0.099033
10  Operating Margin    MMM  0.187645  0.185865  0.012641  0.482191       NaN
['ACN', 'ADBE', 'CSCO', 'DELL', 'GOOG', 'GOOGL', 'HPE', 'MSFT', 'ORCL', 'SAP']
               items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022   Q4 2022  \
18  Operating Margin    IBM  0.171788  0.043883  0.110846 -0.319061       NaN
5   Operating Margin    ACN       NaN       NaN  0.137037  0.155146  0.147044
8   Operating Margin   ADBE       NaN  0.370718  0.348609  0.334762  0.332597
11  Operating Margin   CSCO       NaN       NaN  0.274135  0.281262  0.262097
10  Operating Margin   DELL       NaN       NaN       NaN       NaN  0.025367
6   Operating Margin   GOOG  0.290541  0.295452  0.279156  0.248003       NaN
6   Operating Margin  GOOGL  0.290541  0.295452  0.279156  0.248003       NaN
14  Operating Margin    HPE       NaN  0.061916  0.030836  0.062725 -0.045610
6   Operating Margin   MSFT       NaN       NaN  0.429980  0.411548  0.395083
11  Operating Margin   ORCL       NaN       NaN       NaN  0.363550  0.380236
13  Operating Margin    SAP  0.183310  0.148792  0.089530  0.158016       NaN

     Q1 2023   Q2 2023   Q3 2023
18       NaN       NaN       NaN
5   0.164656       NaN       NaN
8        NaN       NaN       NaN
11  0.259683       NaN       NaN
10  0.059351  0.048061  0.030824
6        NaN       NaN       NaN
6        NaN       NaN       NaN
14       NaN       NaN       NaN
6   0.428814       NaN       NaN
11  0.229183  0.250183       NaN
13       NaN       NaN       NaN
['AMAT', 'AMD', 'AVGO', 'MU', 'NVDA', 'QCOM', 'TXN']
               items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022   Q4 2022  \
10  Operating Margin   INTC  0.243034  0.296464 -0.052216 -0.011410       NaN
11  Operating Margin   AMAT       NaN  0.315101  0.303283  0.295092  0.295451
9   Operating Margin    AMD  0.255077  0.160523  0.080153 -0.011500       NaN
9   Operating Margin   AVGO       NaN  0.403322  0.418857  0.441517  0.446361
12  Operating Margin     MU       NaN       NaN  0.326997  0.347605  0.228963
8   Operating Margin   NVDA       NaN       NaN       NaN       NaN  0.388591
8   Operating Margin   QCOM       NaN  0.360859  0.343784  0.407096  0.321194
7   Operating Margin    TXN  0.518005  0.522528  0.522448  0.510971       NaN

     Q1 2023   Q2 2023   Q3 2023
10       NaN       NaN       NaN
11       NaN       NaN       NaN
9        NaN       NaN       NaN
9        NaN       NaN       NaN
12 -0.051163       NaN       NaN
8   0.225386  0.074433  0.101332
8        NaN       NaN       NaN
7        NaN       NaN       NaN
['ABT', 'AZN', 'MDT', 'MRK', 'NOVN', 'PFE', 'PG', 'ROG']
               items ticker    Q4 2021   Q1 2022   Q2 2022   Q3 2022  \
16  Operating Margin    JNJ   0.194969  0.250235  0.243131  0.244714
9   Operating Margin    ABT   0.207360  0.244809  0.211069  0.170029
14  Operating Margin    AZN  -0.024311  0.077085  0.050042  0.113367
15  Operating Margin    MDT        NaN       NaN       NaN  0.213706
8   Operating Margin    MRK   0.264404  0.350230  0.337491  0.268200
14  Operating Margin   NOVN -12.354198 -6.859959 -1.345567       NaN
12  Operating Margin    PFE   0.193611  0.384747  0.436234  0.415761
4   Operating Margin     PG        NaN       NaN  0.246647  0.207626
12  Operating Margin    ROG   0.045324  0.080120  0.092852  0.074732

     Q4 2022   Q1 2023   Q2 2023   Q3 2021
16       NaN       NaN       NaN       NaN
9        NaN       NaN       NaN       NaN
14       NaN       NaN       NaN       NaN
15  0.206577  0.144485  0.184575       NaN
8        NaN       NaN       NaN       NaN
14       NaN       NaN       NaN -8.796472
12       NaN       NaN       NaN       NaN
4   0.184371  0.239618       NaN       NaN
12       NaN       NaN       NaN       NaN
['BAC', 'BMO', 'C', 'RY', 'TD', 'WFC']
Empty DataFrame
Columns: [items, ticker, Q4 2021, Q1 2022, Q2 2022, Q3 2022, Q4 2022]
Index: []
['CCEP', 'COKE', 'FIZZ', 'KDP', 'KHC', 'MDLZ', 'MNST', 'PEP', 'PRMW', 'SBUX']
               items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022  Q4 2020  \
14  Operating Margin     KO  0.240702  0.325803  0.198234  0.279129      NaN
5   Operating Margin   CCEP  0.126960       NaN  0.116787       NaN  0.09447
4   Operating Margin   COKE  0.062054  0.093305  0.092163  0.116636      NaN
6   Operating Margin   FIZZ       NaN       NaN       NaN  0.157174      NaN
14  Operating Margin    KDP  0.208788  0.296296  0.111705  0.108780      NaN
8   Operating Margin    KHC  0.001789  0.184285  0.083003  0.115450      NaN
9   Operating Margin   MDLZ  0.157221  0.124292  0.127440  0.087466      NaN
13  Operating Margin   MNST  0.289825  0.262673  0.225378  0.257389      NaN
12  Operating Margin    PEP  0.100840  0.325741  0.096218  0.149925      NaN
9   Operating Margin   PRMW  0.038610  0.028517  0.012259  0.076923      NaN
10  Operating Margin   SBUX       NaN  0.146335  0.124280  0.159018      NaN

     Q2 2021   Q4 2022   Q1 2023   Q2 2023
14       NaN       NaN       NaN       NaN
5   0.087868       NaN       NaN       NaN
4        NaN       NaN       NaN       NaN
6        NaN  0.159282  0.146103  0.156602
14       NaN       NaN       NaN       NaN
8        NaN       NaN       NaN       NaN
9        NaN       NaN       NaN       NaN
13       NaN       NaN       NaN       NaN
12       NaN       NaN       NaN       NaN
9        NaN       NaN       NaN       NaN
10       NaN  0.142144       NaN       NaN
['CMG', 'DPZ', 'JACK', 'PZZA', 'QSR', 'SBUX', 'SHAK', 'WEN', 'YUM', 'YUMC']
               items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022   Q4 2022
11  Operating Margin    MCD  0.398902  0.319979  0.292935  0.470708       NaN
7   Operating Margin    CMG  0.080571  0.094013  0.152734  0.151351       NaN
6   Operating Margin    DPZ  0.166046  0.163205  0.167136  0.164640       NaN
14  Operating Margin   JACK       NaN  0.213918  0.118662  0.130219  0.209594
10  Operating Margin   PZZA  0.071834  0.025783  0.074570  0.037182       NaN
16  Operating Margin    QSR  0.269082  0.310131  0.330079  0.325029       NaN
10  Operating Margin   SBUX       NaN  0.146335  0.124280  0.159018  0.142144
11  Operating Margin   SHAK -0.031945 -0.073430 -0.003549 -0.021184       NaN
18  Operating Margin    WEN  0.162791  0.153374  0.178439  0.183865       NaN
9   Operating Margin    YUM  0.265608  0.329024  0.338631  0.332927       NaN
11  Operating Margin   YUMC  0.282409  0.081334  0.049342  0.126629       NaN
['DD', 'GE', 'HON', 'ITW', 'JNJ']
               items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022
10  Operating Margin    MMM  0.187645  0.185865  0.012641  0.482191
11  Operating Margin     DD  0.110279  0.113012  0.169476  0.178776
10  Operating Margin     GE -0.219097 -0.041082  0.045642 -0.017816
14  Operating Margin    HON  0.207116  0.179680  0.190327  0.221316
5   Operating Margin    ITW  0.226692  0.227215  0.230865  0.245076
16  Operating Margin    JNJ  0.194969  0.250235  0.243131  0.244714
['ABT', 'BMY', 'GSK', 'JNJ', 'LLY', 'NOVN', 'PFE', 'SAN', 'ZTS']

               items ticker    Q4 2021   Q1 2022   Q2 2022   Q3 2022   Q3 2021
8   Operating Margin    MRK   0.264404  0.350230  0.337491  0.268200       NaN
9   Operating Margin    ABT   0.207360  0.244809  0.211069  0.170029       NaN
15  Operating Margin    BMY   0.220526  0.228194  0.217885  0.220449       NaN
11  Operating Margin    GSK   0.093944  0.318915  0.156011  0.152127       NaN
16  Operating Margin    JNJ   0.194969  0.250235  0.243131  0.244714       NaN
10  Operating Margin    LLY   0.239625  0.307810  0.186498  0.241573       NaN
14  Operating Margin   NOVN -12.354198 -6.859959 -1.345567       NaN -8.796472
12  Operating Margin    PFE   0.193611  0.384747  0.436234  0.415761       NaN
20  Operating Margin    ZTS   0.257245  0.366062  0.326511  0.333167       NaN
['AAPL', 'AVGO', 'CRM', 'CSCO', 'GOOG', 'GOOGL', 'IBM', 'ORCL', 'SAP']
               items ticker   Q2 2022   Q3 2022   Q4 2022   Q1 2023   Q1 2022  \
6   Operating Margin   MSFT  0.429980  0.411548  0.395083  0.428814       NaN
5   Operating Margin   AAPL  0.308179  0.278162  0.276152       NaN  0.334729
9   Operating Margin   AVGO  0.418857  0.441517  0.446361       NaN  0.403322
11  Operating Margin    CRM       NaN       NaN -0.024843  0.001214       NaN
11  Operating Margin   CSCO  0.274135  0.281262  0.262097  0.259683       NaN
6   Operating Margin   GOOG  0.279156  0.248003       NaN       NaN  0.295452
6   Operating Margin  GOOGL  0.279156  0.248003       NaN       NaN  0.295452
18  Operating Margin    IBM  0.110846 -0.319061       NaN       NaN  0.043883
11  Operating Margin   ORCL       NaN  0.363550  0.380236  0.229183       NaN
13  Operating Margin    SAP  0.089530  0.158016       NaN       NaN  0.148792

     Q2 2023   Q3 2023   Q4 2021
6        NaN       NaN       NaN
5        NaN       NaN       NaN
9        NaN       NaN       NaN
11  0.019560  0.050019       NaN
11       NaN       NaN       NaN
6        NaN       NaN  0.290541
6        NaN       NaN  0.290541
18       NaN       NaN  0.171788
11  0.250183       NaN       NaN
13       NaN       NaN  0.183310
['ADS', 'CROX', 'SKX', 'UA', 'UAA', 'VFC']
               items ticker   Q3 2022   Q4 2022   Q1 2023   Q2 2023   Q4 2021  \
6   Operating Margin    NKE  0.149848  0.119993  0.133601  0.119189       NaN
11  Operating Margin    ADS  0.169964       NaN       NaN       NaN  0.285636
7   Operating Margin   CROX  0.268020       NaN       NaN       NaN  0.272572
5   Operating Margin    SKX  0.069223       NaN       NaN       NaN  0.056432
9   Operating Margin     UA       NaN -0.035357  0.025204  0.075604  0.056246
9   Operating Margin    UAA       NaN -0.035357  0.025204  0.075604  0.056246
8   Operating Margin    VFC  0.186258  0.067965  0.027851 -0.029536       NaN

     Q1 2022   Q2 2022
6        NaN       NaN
11  0.302000  0.016194
7   0.180303  0.256995
5   0.096703  0.082441
9        NaN       NaN
9        NaN       NaN
8        NaN       NaN
['CL', 'EL', 'JNJ', 'OR']
               items ticker   Q2 2022   Q3 2022   Q4 2022   Q1 2023   Q4 2021  \
4   Operating Margin     PG  0.246647  0.207626  0.184371  0.239618       NaN
8   Operating Margin     CL  0.198260  0.212795       NaN       NaN  0.082898
7   Operating Margin     EL  0.256003  0.173852  0.022185  0.168193       NaN
16  Operating Margin    JNJ  0.243131  0.244714       NaN       NaN  0.194969
9   Operating Margin     OR -0.010538  0.529770       NaN       NaN -0.754781

     Q1 2022
4        NaN
8   0.191180
7        NaN
16  0.250235
9   0.105374
['AIG', 'AIZ', 'ALL', 'CB', 'CINF', 'HIG', 'L', 'PGR', 'WRB']
               items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022
11  Operating Margin    TRV  0.192854  0.144041  0.081367  0.067082
11  Operating Margin    AIG  0.379428  0.385754  0.317637  0.282769
13  Operating Margin    AIZ  0.073398  0.081386  0.038676  0.013736
15  Operating Margin    ALL  0.107063  0.064602 -0.107610 -0.069655
15  Operating Margin     CB  0.222455  0.222050  0.174832  0.116158
12  Operating Margin   CINF  0.559735 -0.285597 -1.253659 -0.401278
14  Operating Margin    HIG  0.165406  0.112182  0.112228  0.086201
11  Operating Margin      L  0.156884  0.172754  0.120472  0.081422
14  Operating Margin    PGR  0.100601  0.037597 -0.049770  0.016127
14  Operating Margin    WRB  0.149341  0.261750  0.085157  0.101689
['CI', 'CVS', 'ELV', 'HUM']
               items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022
10  Operating Margin    UNH  0.075139  0.086713  0.088782  0.092244
14  Operating Margin     CI  0.035077  0.042302  0.050369  0.083962
11  Operating Margin    CVS  0.027936  0.045427  0.056662 -0.048436
15  Operating Margin    ELV  0.043739  0.066334  0.060856  0.059065
12  Operating Margin    HUM  0.002897  0.053776  0.051348  0.061933
['AXP', 'BAC', 'C', 'COF', 'DFS', 'JPM', 'MA', 'PYPL', 'SYF', 'WFC']
               items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
8   Operating Margin      V  0.676583  0.667965  0.570172  0.653268       NaN
10  Operating Margin    AXP  0.228726  0.187233  0.175693       NaN  0.188291
11  Operating Margin     MA  0.570931  0.549027  0.540653       NaN  0.541986
10  Operating Margin   PYPL  0.109671  0.112254  0.163307       NaN  0.151778
['AAPL', 'T', 'TBB', 'TBC', 'TDS', 'TMUS', 'USM']
               items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022   Q4 2022
10  Operating Margin     VZ  0.187219  0.232342  0.223505  0.230542       NaN
5   Operating Margin   AAPL       NaN  0.334729  0.308179  0.278162  0.276152
8   Operating Margin      T  0.129596  0.186356  0.167190  0.200113       NaN
8   Operating Margin    TBB  0.129596  0.186356  0.167190  0.200113       NaN
8   Operating Margin    TBC  0.129596  0.186356  0.167190  0.200113       NaN
9   Operating Margin    TDS  0.017493  0.072243  0.046701 -0.007902       NaN
9   Operating Margin   TMUS  0.051143  0.089761  0.035988  0.065770       NaN
9   Operating Margin    USM  0.004677  0.070297  0.038948 -0.013850       NaN
['ABC', 'AMZN', 'CVS', 'MCK', 'RAD']
               items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021  \
14  Operating Margin    WBA  0.037845  0.030158  0.002976 -0.020833       NaN
12  Operating Margin    ABC  0.010800  0.013514  0.009007  0.007274       NaN
8   Operating Margin   AMZN  0.031509  0.027360  0.019866       NaN  0.025180
11  Operating Margin    CVS  0.045427  0.056662 -0.048436       NaN  0.027936
9   Operating Margin    MCK       NaN       NaN  0.004343  0.009576       NaN
8   Operating Margin    RAD       NaN       NaN       NaN -0.056719       NaN

     Q1 2023   Q2 2023   Q3 2023
14       NaN       NaN       NaN
12       NaN       NaN       NaN
8        NaN       NaN       NaN
11       NaN       NaN       NaN
9   0.015427  0.016021       NaN
8  -0.014630 -0.050161 -0.002137
['AMZN', 'COST', 'CVS', 'DG', 'JD', 'PDD', 'TGT', 'TJX', 'WBA']
               items ticker   Q4 2022   Q1 2023   Q2 2023   Q3 2023   Q4 2021  \
5   Operating Margin    WMT  0.043743  0.034739  0.046147  0.017636       NaN
8   Operating Margin   AMZN       NaN       NaN       NaN       NaN  0.025180
5   Operating Margin   COST  0.034637  0.032166       NaN       NaN       NaN
11  Operating Margin    CVS       NaN       NaN       NaN       NaN  0.027936
4   Operating Margin     DG  0.092128  0.085247  0.096860  0.077760       NaN
9   Operating Margin     JD       NaN       NaN       NaN       NaN -0.001421
7   Operating Margin    PDD       NaN       NaN       NaN       NaN  0.253645
9   Operating Margin    TGT  0.067589  0.053476  0.012329  0.038540       NaN
7   Operating Margin    TJX  0.091237  0.076363  0.092629  0.111705       NaN
14  Operating Margin    WBA -0.020833       NaN       NaN       NaN       NaN

     Q1 2022   Q2 2022   Q3 2022
5        NaN       NaN       NaN
8   0.031509  0.027360  0.019866
5        NaN  0.034911  0.034052
11  0.045427  0.056662 -0.048436
4        NaN       NaN       NaN
9  -0.004757  0.014159  0.035950
7   0.090527  0.276622  0.293967
9        NaN       NaN       NaN
7        NaN       NaN       NaN
14  0.037845  0.030158  0.002976

In [9]:
def net_income_margin(df, symbol=""):
#     df = pd.DataFrame()
    # for i in my_list:
#     i= 'AAPL'
#     i_csv = DATA_DIR + 'my_resources/'+ i + '/' + i + "quarterlyincome-statement.csv"
#     i_df = pd.read_csv(i_csv)
    try:
        for j in df:
            if j == 'ticker' or j == 'items':
                continue
            df[j] = df[j].str.replace(",", "", regex=True).str.replace("(", "-", regex=True).str.replace(")", "", regex=True).str.replace("--", "", regex=True)
            df[j] = pd.to_numeric(df[j])

        df_columns = []

        for col in df.columns:
            df_columns.append(col)

        df_columns.insert(1, df_columns[-1])
        del df_columns[-1]
        # print(i_df_columns)

        first_row = df.loc[(df['ticker'] == symbol) & (df['items'] == 'Total Net Income'), df_columns[2:]]
        # gross_margin
        second_row = df.loc[(df['ticker'] == symbol) & (df['items'] == 'Total Revenue'), df_columns[2:]]
#         print(first_row)
#         print(second_row)
        third_row = first_row / second_row.values
        # print(third_row)
        third_row['ticker'] = symbol
        third_row['items'] = "Net Income Margin"
        third_row = third_row[df_columns]
    except ValueError:
        third_row = first_row / second_row
    #     print(third_row)
        third_row['ticker'] = symbol
        third_row['items'] = "Net Income Margin"
        third_row = third_row[df_columns]
#         third_row = third_row.reshape(1,4)
    return third_row

In [10]:
for i in dow_jones_list:
    df = pd.DataFrame()
    
    # assign directories
    i_directory = f"C:/Users/jake_/OneDrive/Desktop/financial_scraping/dow_jones_stocks/{i}" 
    competitor_directory = i_directory + "/competitors"
    
    i_csv = i_directory + '/' + i + "quarterlyincome-statement.csv"
    i_df = pd.read_csv(i_csv)
    i_row = net_income_margin(i_df, symbol=i)
    df = df.append(i_row)
    
    
    competitor_list =[]
    
    # iterate over files in
    # that directory
    for filename in os.listdir(competitor_directory):
        if (filename.__contains__("ratio.csv") == False):
            f = os.path.join(competitor_directory, filename)
            f = f.split("\\")[1]
            # checking if it is a file
        #     if os.path.isfile(f):
            competitor_list.append(f)
    print(competitor_list)
    for symbol in competitor_list:
        competitor_csv = competitor_directory + "/" + symbol + '/' + symbol + "quarterlyincome-statement.csv"
#         print(competitor_csv)
        competitor_df = pd.read_csv(competitor_csv)
#             print(competitor_df)
        competitor_rows = net_income_margin(competitor_df, symbol=symbol)
        df = df.append(competitor_rows)
        
    df = pd.DataFrame(df)
    print(df)

['AMZN', 'DELL', 'GOOG', 'GOOGL', 'HPQ', 'META', 'MSFT']
                items ticker   Q2 2022   Q3 2022   Q4 2022   Q1 2023  \
14  Net Income Margin   AAPL  0.257098  0.234357  0.229860  0.256056
20  Net Income Margin   AMZN -0.016728  0.022596       NaN       NaN
23  Net Income Margin   DELL       NaN       NaN  0.000090  0.041048
19  Net Income Margin   GOOG  0.229633  0.201326       NaN       NaN
19  Net Income Margin  GOOGL  0.229633  0.201326       NaN       NaN
18  Net Income Margin    HPQ  0.060643  0.076309 -0.000135       NaN
17  Net Income Margin   META  0.232010  0.158584       NaN       NaN
15  Net Income Margin   MSFT  0.362763  0.338898  0.322761  0.350265

     Q4 2021   Q1 2022   Q2 2023   Q3 2023
14       NaN       NaN       NaN       NaN
20  0.104234 -0.033012       NaN       NaN
23       NaN       NaN  0.019338  0.009911
19  0.274039  0.241667       NaN       NaN
19  0.274039  0.241667       NaN       NaN
18       NaN  0.063777       NaN       NaN
17  0.305456  0.267486       NaN       NaN
15       NaN       NaN       NaN       NaN
['ABBV', 'AZN', 'GILD', 'JNJ', 'MRNA', 'PFE', 'REGN']
                items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
15  Net Income Margin   AMGN  0.236614  0.199727  0.322159  0.236292       NaN
24  Net Income Margin   ABBV  0.331659  0.063361  0.266608       NaN  0.271665
21  Net Income Margin    AZN  0.033889  0.033423  0.149335       NaN -0.028890
16  Net Income Margin   GILD  0.002883  0.182748  0.254047       NaN  0.052733
21  Net Income Margin    JNJ  0.219799  0.200416  0.187382       NaN  0.190937
18  Net Income Margin   MRNA  0.602868  0.462624  0.310048       NaN  0.675080
26  Net Income Margin    PFE  0.306418  0.357040  0.380290       NaN  0.143558
18  Net Income Margin   REGN  0.328499  0.298215  0.448229       NaN  0.450121
['BAC', 'C', 'COF', 'DFS', 'JPM', 'MA', 'PYPL', 'SYF', 'V']
                items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
15  Net Income Margin    AXP  0.177026  0.144603  0.134253  0.105122       NaN
25  Net Income Margin    BAC       NaN       NaN       NaN       NaN       NaN
34  Net Income Margin      C       NaN       NaN       NaN       NaN       NaN
26  Net Income Margin    COF       NaN       NaN       NaN       NaN       NaN
21  Net Income Margin    DFS       NaN       NaN       NaN       NaN       NaN
31  Net Income Margin    JPM       NaN       NaN       NaN       NaN       NaN
20  Net Income Margin     MA  0.509193  0.413862  0.434156       NaN  0.456097
21  Net Income Margin   PYPL  0.078513 -0.050103  0.194274       NaN  0.115785
19  Net Income Margin    SYF       NaN       NaN       NaN       NaN       NaN
15  Net Income Margin      V  0.560844  0.507303  0.468866  0.505971       NaN
['AM', 'HXL', 'RTX', 'TDG', 'TXT', 'WWD']
                items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
17  Net Income Margin     BA -0.087127  0.011570 -0.205252 -0.031732       NaN
19  Net Income Margin     AM  0.366331  0.346844  0.363643       NaN  0.363185
17  Net Income Margin    HXL  0.045571  0.113740  0.073485       NaN  0.052456
24  Net Income Margin    RTX  0.068974  0.079931  0.081824       NaN  0.040249
19  Net Income Margin    TDG  0.136516  0.149962  0.170243  0.176159       NaN
17  Net Income Margin    TXT  0.064312  0.068802  0.073099       NaN  0.062312
19  Net Income Margin    WWD  0.055351  0.081772  0.063518  0.084375       NaN
['DE', 'TEX', 'TTC']
                items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
21  Net Income Margin    CAT  0.113106  0.117428  0.136121  0.087606       NaN
20  Net Income Margin     DE  0.094367  0.160840  0.133598  0.144567       NaN
15  Net Income Margin    TEX  0.051844  0.068709  0.073149       NaN  0.059596
13  Net Income Margin    TTC  0.075027  0.104884  0.107666  0.100683       NaN
['ADBE', 'CSCO', 'GOOG', 'GOOGL', 'INTU', 'MSFT', 'ORCL', 'SAP']
                items ticker   Q1 2023   Q2 2023   Q3 2023   Q4 2023  \
20  Net Income Margin    CRM  0.003778  0.008808  0.026796 -0.011689
17  Net Income Margin   ADBE       NaN       NaN       NaN       NaN
22  Net Income Margin   CSCO  0.195863       NaN       NaN       NaN
19  Net Income Margin   GOOG       NaN       NaN       NaN       NaN
19  Net Income Margin  GOOGL       NaN       NaN       NaN       NaN
19  Net Income Margin   INTU  0.015402       NaN       NaN       NaN
15  Net Income Margin   MSFT  0.350265       NaN       NaN       NaN
22  Net Income Margin   ORCL  0.135256  0.141833       NaN       NaN
22  Net Income Margin    SAP       NaN       NaN       NaN       NaN

     Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
20       NaN       NaN       NaN       NaN       NaN
17  0.297044  0.268582  0.256260  0.259890       NaN
22       NaN  0.233726  0.237164  0.214853       NaN
19  0.241667  0.229633  0.201326       NaN  0.274039
19  0.241667  0.229633  0.201326       NaN  0.274039
19       NaN  0.037411  0.318537 -0.023198       NaN
15       NaN  0.362763  0.338898  0.322761       NaN
22       NaN       NaN  0.220584  0.269341       NaN
22  0.104564  0.044433  0.085321       NaN  0.182057
['AMZN', 'AVGO', 'DELL', 'FTNT', 'MSFT', 'PANW', 'RNG', 'VMW', 'ZM', 'ZS']
                items ticker   Q3 2022   Q4 2022   Q1 2023   Q2 2023  \
22  Net Income Margin   CSCO  0.237164  0.214853  0.195863  0.204017
20  Net Income Margin   AMZN  0.022596       NaN       NaN       NaN
18  Net Income Margin   AVGO  0.363185  0.376148       NaN       NaN
23  Net Income Margin   DELL       NaN  0.000090  0.041048  0.019338
20  Net Income Margin   FTNT  0.201739       NaN       NaN       NaN
15  Net Income Margin   MSFT  0.338898  0.322761  0.350265       NaN
19  Net Income Margin   PANW -0.052632  0.001934  0.012796       NaN
18  Net Income Margin    RNG -0.559921       NaN       NaN       NaN
21  Net Income Margin    VMW       NaN  0.165959  0.078368  0.104017
15  Net Income Margin     ZM       NaN  0.458450  0.106145  0.041856
20  Net Income Margin     ZS -0.353565 -0.307025 -0.191710       NaN

     Q4 2021   Q1 2022   Q2 2022   Q3 2023
22       NaN       NaN       NaN       NaN
20  0.104234 -0.033012 -0.016728       NaN
18       NaN  0.320789  0.319635       NaN
23       NaN       NaN       NaN  0.009911
20  0.206432  0.144503  0.168932       NaN
15       NaN       NaN  0.362763       NaN
19       NaN       NaN -0.071374       NaN
18 -0.263393 -0.322650 -0.328542       NaN
21       NaN       NaN       NaN  0.071940
15       NaN       NaN       NaN  0.043557
20       NaN       NaN -0.392936       NaN
['BP', 'COP', 'ROSN', 'SHEL', 'XOM']
                items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022  Q2 2014  \
17  Net Income Margin    CVX  0.110224  0.119643  0.177783  0.176844      NaN
20  Net Income Margin     BP  0.046010 -0.413821  0.136401 -0.039319      NaN
21  Net Income Margin    COP  0.173743  0.324232  0.243136  0.215438      NaN
15  Net Income Margin   ROSN       NaN       NaN       NaN       NaN     -inf
24  Net Income Margin   SHEL  0.134393  0.084509  0.180294  0.070434      NaN
19  Net Income Margin    XOM  0.109095  0.062462  0.160428  0.184580      NaN

    Q3 2014  Q4 2014  Q1 2015
17      NaN      NaN      NaN
20      NaN      NaN      NaN
21      NaN      NaN      NaN
15     -inf     -inf     -inf
24      NaN      NaN      NaN
19      NaN      NaN      NaN
['AAPL', 'CHTR', 'CMCSA', 'DISH', 'FOX', 'FOXA', 'NFLX', 'PARA', 'PARAA']
                items ticker   Q1 2022   Q2 2022   Q3 2022  Q4 2022   Q4 2021  \
24  Net Income Margin    DIS  0.050598  0.024417  0.065523  0.00804       NaN
14  Net Income Margin   AAPL  0.279398  0.257098  0.234357  0.22986       NaN
20  Net Income Margin   CHTR  0.091136  0.108178  0.087454      NaN  0.121859
25  Net Income Margin  CMCSA  0.114447  0.113140 -0.154042      NaN  0.100738
26  Net Income Margin   DISH  0.099977  0.124228  0.100611      NaN  0.124129
21  Net Income Margin    FOX       NaN -0.019140  0.081910  0.10089       NaN
21  Net Income Margin   FOXA       NaN -0.019140  0.081910  0.10089       NaN
16  Net Income Margin   NFLX  0.202974  0.180803  0.176382      NaN  0.078739
25  Net Income Margin   PARA  0.059088  0.053863  0.033401      NaN  0.257250
25  Net Income Margin  PARAA  0.059088  0.053863  0.033401      NaN  0.257250

     Q1 2023
24       NaN
14       NaN
20       NaN
25       NaN
26       NaN
21  0.189536
21  0.189536
16       NaN
25       NaN
25       NaN
['APD', 'DD', 'EMN', 'HUN', 'LIN']
                items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022   Q4 2022
23  Net Income Margin    DOW  0.120858  0.102791  0.106039  0.052356       NaN
22  Net Income Margin    APD       NaN  0.187041  0.180306  0.182502  0.163305
24  Net Income Margin     DD  0.047764  0.149053  0.236905  0.110642       NaN
25  Net Income Margin    EMN  0.140312  0.086588  0.091954  0.111111       NaN
22  Net Income Margin    HUN  0.258778  0.093344  0.096528  0.049727       NaN
18  Net Income Margin    LIN  0.123644  0.142979  0.043987  0.144708       NaN

['BAC', 'BK', 'BLK', 'C', 'MS', 'SCHW', 'UBS', 'WFC']
                items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022
15  Net Income Margin     GS  0.284033  0.275108  0.195381  0.166053
25  Net Income Margin    BAC       NaN       NaN       NaN       NaN
30  Net Income Margin     BK       NaN       NaN       NaN       NaN
19  Net Income Margin    BLK  0.321778  0.305597  0.237958  0.326142
34  Net Income Margin      C       NaN       NaN       NaN       NaN
13  Net Income Margin     MS  0.248956  0.240630  0.172521  0.158774
17  Net Income Margin   SCHW  0.326716  0.291597  0.340939  0.340583
27  Net Income Margin    UBS       NaN       NaN       NaN       NaN
25  Net Income Margin    WFC       NaN       NaN       NaN       NaN
['AMZN', 'FAST', 'GWW', 'LOW', 'SHW', 'TGT', 'TSCO', 'WMT']
                items ticker   Q4 2022   Q1 2023   Q2 2023   Q3 2023  \
13  Net Income Margin     HD  0.093844  0.108744  0.118127  0.111623
20  Net Income Margin   AMZN       NaN       NaN       NaN       NaN
11  Net Income Margin   FAST       NaN       NaN       NaN       NaN
16  Net Income Margin    GWW       NaN       NaN       NaN       NaN
17  Net Income Margin    LOW  0.056563  0.098609  0.108895  0.006559
20  Net Income Margin    SHW       NaN       NaN       NaN       NaN
17  Net Income Margin    TGT  0.049813  0.040087  0.007028  0.026850
12  Net Income Margin   TSCO       NaN       NaN       NaN       NaN
17  Net Income Margin    WMT  0.023301  0.014509  0.033685 -0.011766

     Q4 2021   Q1 2022   Q2 2022   Q3 2022
13       NaN       NaN       NaN       NaN
20  0.104234 -0.033012 -0.016728  0.022596
11  0.150783  0.158451  0.161327  0.158158
16  0.084251  0.100356  0.096690  0.108067
17       NaN       NaN       NaN       NaN
20  0.063839  0.074215  0.098433  0.113279
17       NaN       NaN       NaN       NaN
12  0.066586  0.061839  0.101460  0.071538
17       NaN       NaN       NaN       NaN
['GE', 'GRMN', 'JCI', 'MMM']
                items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022  Q4 2022
20  Net Income Margin    HON  0.164953  0.135387  0.140847  0.173388      NaN
24  Net Income Margin     GE -0.188660 -0.061213 -0.042371 -0.008646      NaN
17  Net Income Margin   GRMN  0.205460  0.180733  0.207897  0.185088      NaN
21  Net Income Margin    JCI       NaN  0.064995  0.001804  0.057303  0.11316
21  Net Income Margin    MMM  0.155481  0.147129  0.008963  0.447732      NaN
['ACN', 'ADBE', 'CSCO', 'DELL', 'GOOG', 'GOOGL', 'HPE', 'MSFT', 'ORCL', 'SAP']
                items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022  \
28  Net Income Margin    IBM  0.139742  0.051631  0.089604 -0.226554
15  Net Income Margin    ACN       NaN       NaN  0.108660  0.110527
17  Net Income Margin   ADBE       NaN  0.297044  0.268582  0.256260
22  Net Income Margin   CSCO       NaN       NaN  0.233726  0.237164
23  Net Income Margin   DELL       NaN       NaN       NaN       NaN
19  Net Income Margin   GOOG  0.274039  0.241667  0.229633  0.201326
19  Net Income Margin  GOOGL  0.274039  0.241667  0.229633  0.201326
21  Net Income Margin    HPE       NaN  0.073696  0.037241  0.058840
15  Net Income Margin   MSFT       NaN       NaN  0.362763  0.338898
22  Net Income Margin   ORCL       NaN       NaN       NaN  0.220584
22  Net Income Margin    SAP  0.182057  0.104564  0.044433  0.085321

     Q4 2022   Q1 2023   Q2 2023   Q3 2023
28       NaN       NaN       NaN       NaN
15  0.107949  0.124778       NaN       NaN
17  0.259890       NaN       NaN       NaN
22  0.214853  0.195863       NaN       NaN
23  0.000090  0.041048  0.019338  0.009911
19       NaN       NaN       NaN       NaN
19       NaN       NaN       NaN       NaN
21 -0.038623       NaN       NaN       NaN
15  0.322761  0.350265       NaN       NaN
22  0.269341  0.135256  0.141833       NaN
22       NaN       NaN       NaN       NaN
['AMAT', 'AMD', 'AVGO', 'MU', 'NVDA', 'QCOM', 'TXN']
                items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022  \
23  Net Income Margin   INTC  0.225205  0.442053 -0.029633  0.066436
21  Net Income Margin   AMAT       NaN  0.285760  0.245957  0.246319
19  Net Income Margin    AMD  0.201823  0.133515  0.068244  0.011860
18  Net Income Margin   AVGO       NaN  0.320789  0.319635  0.363185
25  Net Income Margin     MU       NaN       NaN  0.290650  0.303865
19  Net Income Margin   NVDA       NaN       NaN       NaN       NaN
16  Net Income Margin   QCOM       NaN  0.317515  0.262809  0.341075
15  Net Income Margin    TXN  0.442467  0.448726  0.439563  0.437894

     Q4 2022   Q1 2023   Q2 2023   Q3 2023
23       NaN       NaN       NaN       NaN
21  0.235739       NaN       NaN       NaN
19       NaN       NaN       NaN       NaN
18  0.376148       NaN       NaN       NaN
25  0.224597 -0.047736       NaN       NaN
19  0.392909  0.195222  0.097852  0.114652
16  0.252128       NaN       NaN       NaN
15       NaN       NaN       NaN       NaN
['ABT', 'AZN', 'MDT', 'MRK', 'NOVN', 'PFE', 'PG', 'ROG']
                items ticker    Q4 2021   Q1 2022   Q2 2022   Q3 2022  \
21  Net Income Margin    JNJ   0.190937  0.219799  0.200416  0.187382
21  Net Income Margin    ABT   0.173439  0.205717  0.179266  0.137848
21  Net Income Margin    AZN  -0.028890  0.033889  0.033423  0.149335
27  Net Income Margin    MDT        NaN       NaN       NaN  0.190519
21  Net Income Margin    MRK   0.277938  0.271052  0.270267  0.217127
22  Net Income Margin   NOVN -12.569466 -6.939834 -1.441702       NaN
26  Net Income Margin    PFE   0.143558  0.306418  0.357040  0.380290
14  Net Income Margin     PG        NaN       NaN  0.201546  0.173108
23  Net Income Margin    ROG   0.100372  0.066864  0.070973  0.060017

     Q4 2022   Q1 2023   Q2 2023   Q3 2021
21       NaN       NaN       NaN       NaN
21       NaN       NaN       NaN       NaN
21       NaN       NaN       NaN       NaN
27  0.183706  0.126170  0.056427       NaN
21       NaN       NaN       NaN       NaN
22       NaN       NaN       NaN -8.797829
26       NaN       NaN       NaN       NaN
14  0.156393  0.191102       NaN       NaN
23       NaN       NaN       NaN       NaN
['BAC', 'BMO', 'C', 'RY', 'TD', 'WFC']
                items ticker  Q4 2021  Q1 2022  Q2 2022  Q3 2022  Q4 2022
31  Net Income Margin    JPM      NaN      NaN      NaN      NaN      NaN
25  Net Income Margin    BAC      NaN      NaN      NaN      NaN      NaN
28  Net Income Margin    BMO      NaN      NaN      NaN      NaN      NaN
34  Net Income Margin      C      NaN      NaN      NaN      NaN      NaN
30  Net Income Margin     RY      NaN      NaN      NaN      NaN      NaN
26  Net Income Margin     TD      NaN      NaN      NaN      NaN      NaN
25  Net Income Margin    WFC      NaN      NaN      NaN      NaN      NaN
['CCEP', 'COKE', 'FIZZ', 'KDP', 'KHC', 'MDLZ', 'MNST', 'PEP', 'PRMW', 'SBUX']
                items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022  \
26  Net Income Margin     KO  0.255072  0.265084  0.168212  0.255356
16  Net Income Margin   CCEP  0.094073       NaN  0.080556       NaN
13  Net Income Margin   COKE  0.013552  0.066239  0.062696  0.073051
15  Net Income Margin   FIZZ       NaN       NaN       NaN  0.119989
25  Net Income Margin    KDP  0.248599  0.190058  0.061339  0.049696
21  Net Income Margin    KHC -0.038307  0.128371  0.040433  0.066410
19  Net Income Margin   MDLZ  0.130974  0.110124  0.102695  0.068530
23  Net Income Margin   MNST  0.225263  0.193548  0.164955  0.198276
22  Net Income Margin    PEP  0.052361  0.263025  0.070655  0.122980
17  Net Income Margin   PRMW -0.005792 -0.013308 -0.040280  0.001709
19  Net Income Margin   SBUX       NaN  0.101366  0.088397  0.112025

     Q4 2020  Q2 2021   Q4 2022  Q1 2023   Q2 2023
26       NaN      NaN       NaN      NaN       NaN
16  0.064483  0.04123       NaN      NaN       NaN
13       NaN      NaN       NaN      NaN       NaN
15       NaN      NaN  0.120836  0.11145  0.120301
25       NaN      NaN       NaN      NaN       NaN
21       NaN      NaN       NaN      NaN       NaN
19       NaN      NaN       NaN      NaN       NaN
23       NaN      NaN       NaN      NaN       NaN
22       NaN      NaN       NaN      NaN       NaN
17       NaN      NaN       NaN      NaN       NaN
19       NaN      NaN  0.104350      NaN       NaN
['CMG', 'DPZ', 'JACK', 'PZZA', 'QSR', 'SBUX', 'SHAK', 'WEN', 'YUM', 'YUMC']

                items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022   Q4 2022
22  Net Income Margin    MCD  0.272758  0.194846  0.207765  0.337534       NaN
13  Net Income Margin    CMG  0.067823  0.078179  0.117488  0.115766       NaN
15  Net Income Margin    DPZ  0.116158  0.090010  0.095775  0.094481       NaN
23  Net Income Margin   JACK       NaN  0.113922  0.024189  0.057386  0.113856
18  Net Income Margin   PZZA  0.047259  0.018416  0.047801  0.015656       NaN
26  Net Income Margin    QSR  0.115783  0.126120  0.143990  0.208575       NaN
19  Net Income Margin   SBUX       NaN  0.101366  0.088397  0.112025  0.104350
21  Net Income Margin   SHAK -0.047871 -0.049963 -0.005148 -0.008884       NaN
27  Net Income Margin    WEN  0.109937  0.075665  0.089219  0.095685       NaN
16  Net Income Margin    YUM  0.174603  0.257919  0.136919  0.201829       NaN
22  Net Income Margin   YUMC  0.207333  0.037481  0.039004  0.076723       NaN
['DD', 'GE', 'HON', 'ITW', 'JNJ']
                items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022
21  Net Income Margin    MMM  0.155481  0.147129  0.008963  0.447732
24  Net Income Margin     DD  0.047764  0.149053  0.236905  0.110642
24  Net Income Margin     GE -0.188660 -0.061213 -0.042371 -0.008646
20  Net Income Margin    HON  0.164953  0.135387  0.140847  0.173388
13  Net Income Margin    ITW  0.165534  0.168063  0.183994  0.181252
21  Net Income Margin    JNJ  0.190937  0.219799  0.200416  0.187382
['ABT', 'BMY', 'GSK', 'JNJ', 'LLY', 'NOVN', 'PFE', 'SAN', 'ZTS']
                items ticker    Q4 2021   Q1 2022   Q2 2022   Q3 2022  \
21  Net Income Margin    MRK   0.277938  0.271052  0.270267  0.217127
21  Net Income Margin    ABT   0.173439  0.205717  0.179266  0.137848
25  Net Income Margin    BMY   0.197914  0.109718  0.119542  0.143163
19  Net Income Margin    GSK   0.078619  0.250626  0.120941  1.317537
21  Net Income Margin    JNJ   0.190937  0.219799  0.200416  0.187382
22  Net Income Margin    LLY   0.215750  0.243662  0.146887  0.209162
22  Net Income Margin   NOVN -12.569466 -6.939834 -1.441702       NaN
26  Net Income Margin    PFE   0.143558  0.306418  0.357040  0.380290
29  Net Income Margin    SAN        NaN       NaN       NaN       NaN
26  Net Income Margin    ZTS   0.210473  0.299597  0.257797  0.264236

     Q3 2021
21       NaN
21       NaN
25       NaN
19       NaN
21       NaN
22       NaN
22 -8.797829
26       NaN
29       NaN
26       NaN
['AAPL', 'AVGO', 'CRM', 'CSCO', 'GOOG', 'GOOGL', 'IBM', 'ORCL', 'SAP']
                items ticker   Q2 2022   Q3 2022   Q4 2022   Q1 2023  \
15  Net Income Margin   MSFT  0.362763  0.338898  0.322761  0.350265
14  Net Income Margin   AAPL  0.257098  0.234357  0.229860       NaN
18  Net Income Margin   AVGO  0.319635  0.363185  0.376148       NaN
21  Net Income Margin    CRM       NaN       NaN -0.003822  0.003778
22  Net Income Margin   CSCO  0.233726  0.237164  0.214853  0.195863
19  Net Income Margin   GOOG  0.229633  0.201326       NaN       NaN
19  Net Income Margin  GOOGL  0.229633  0.201326       NaN       NaN
28  Net Income Margin    IBM  0.089604 -0.226554       NaN       NaN
22  Net Income Margin   ORCL       NaN  0.220584  0.269341  0.135256
22  Net Income Margin    SAP  0.044433  0.085321       NaN       NaN

     Q1 2022   Q2 2023   Q3 2023   Q4 2021
15       NaN       NaN       NaN       NaN
14  0.279398       NaN       NaN       NaN
18  0.320789       NaN       NaN       NaN
21       NaN  0.008808  0.026796       NaN
22       NaN       NaN       NaN       NaN
19  0.241667       NaN       NaN  0.274039
19  0.241667       NaN       NaN  0.274039
28  0.051631       NaN       NaN  0.139742
22       NaN  0.141833       NaN       NaN
22  0.104564       NaN       NaN  0.182057
['ADS', 'CROX', 'SKX', 'UA', 'UAA', 'VFC']
                items ticker   Q3 2022   Q4 2022   Q1 2023   Q2 2023  \
15  Net Income Margin    NKE  0.128415  0.117623  0.115709  0.099962
20  Net Income Margin    ADS  0.120504       NaN       NaN       NaN
18  Net Income Margin   CROX  0.171574       NaN       NaN       NaN
15  Net Income Margin    SKX  0.045793       NaN       NaN       NaN
18  Net Income Margin     UA       NaN -0.046118  0.005930  0.055273
18  Net Income Margin    UAA       NaN -0.046118  0.005930  0.055273
20  Net Income Margin    VFC  0.142936  0.028673 -0.024757 -0.038299

     Q4 2021   Q1 2022   Q2 2022
15       NaN       NaN       NaN
20  0.219152  0.210000  0.012146
18  0.264055  0.110606  0.165803
15  0.243932  0.066484  0.048180
18  0.071942       NaN       NaN
18  0.071942       NaN       NaN
20       NaN       NaN       NaN
['CL', 'EL', 'JNJ', 'OR']
                items ticker   Q2 2022   Q3 2022   Q4 2022   Q1 2023  \
14  Net Income Margin     PG  0.201546  0.173108  0.156393  0.191102
16  Net Income Margin     CL  0.134478  0.138721       NaN       NaN
17  Net Income Margin     EL  0.196425  0.131449  0.014603  0.124427
21  Net Income Margin    JNJ  0.200416  0.187382       NaN       NaN
21  Net Income Margin     OR  0.268281 -2.956467       NaN       NaN

     Q4 2021   Q1 2022
14       NaN       NaN
16  0.033613  0.127074
17       NaN       NaN
21  0.190937  0.219799
21 -0.418053  0.005488
['AIG', 'AIZ', 'ALL', 'CB', 'CINF', 'HIG', 'L', 'PGR', 'WRB']
                items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022
17  Net Income Margin    TRV  0.147914  0.115551  0.060179  0.048728
19  Net Income Margin    AIG  0.265919  0.269484  0.210235  0.185523
24  Net Income Margin    AIZ  0.048155  0.060032  0.020734  0.002747
24  Net Income Margin    ALL  0.062793  0.053173 -0.083061 -0.050575
24  Net Income Margin     CB  0.204235  0.204158  0.122221  0.066941
18  Net Income Margin   CINF  0.442371 -0.224691 -0.985366 -0.296875
20  Net Income Margin    HIG  0.125344  0.082514  0.082263  0.060753
19  Net Income Margin      L  0.092778  0.097971  0.051754  0.037271
21  Net Income Margin    PGR  0.077052  0.026529 -0.047164  0.009707
22  Net Income Margin    WRB  0.114042  0.202744  0.071230  0.084068
['CI', 'CVS', 'ELV', 'HUM']
                items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022
17  Net Income Margin    UNH  0.055205  0.062721  0.063113  0.065048
21  Net Income Margin     CI  0.024390  0.027080  0.034351  0.060997
21  Net Income Margin    CVS  0.017049  0.030094  0.036597 -0.042090
22  Net Income Margin    ELV  0.031082  0.047382  0.042788  0.040512
22  Net Income Margin    HUM -0.000665  0.038798  0.029414  0.052415
['AXP', 'BAC', 'C', 'COF', 'DFS', 'JPM', 'MA', 'PYPL', 'SYF', 'WFC']
                items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
15  Net Income Margin      V  0.560844  0.507303  0.468866  0.505971       NaN
15  Net Income Margin    AXP  0.177026  0.144603  0.134253       NaN  0.140361
25  Net Income Margin    BAC       NaN       NaN       NaN       NaN       NaN
34  Net Income Margin      C       NaN       NaN       NaN       NaN       NaN
26  Net Income Margin    COF       NaN       NaN       NaN       NaN       NaN
21  Net Income Margin    DFS       NaN       NaN       NaN       NaN       NaN
31  Net Income Margin    JPM       NaN       NaN       NaN       NaN       NaN
20  Net Income Margin     MA  0.509193  0.413862  0.434156       NaN  0.456097
21  Net Income Margin   PYPL  0.078513 -0.050103  0.194274       NaN  0.115785
19  Net Income Margin    SYF       NaN       NaN       NaN       NaN       NaN
25  Net Income Margin    WFC       NaN       NaN       NaN       NaN       NaN
['AAPL', 'T', 'TBB', 'TBC', 'TDS', 'TMUS', 'USM']
                items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022  Q4 2022
24  Net Income Margin     VZ  0.135410  0.136496  0.153867  0.143103      NaN
14  Net Income Margin   AAPL       NaN  0.279398  0.257098  0.234357  0.22986
19  Net Income Margin      T  0.123126  0.161887  0.140235  0.200579      NaN
19  Net Income Margin    TBB  0.123126  0.161887  0.140235  0.200579      NaN
19  Net Income Margin    TBC  0.123126  0.161887  0.140235  0.200579      NaN
21  Net Income Margin    TDS  0.021866  0.046388  0.025945 -0.005747      NaN
19  Net Income Margin   TMUS  0.020303  0.035437 -0.005482  0.026082      NaN
19  Net Income Margin    USM  0.025257  0.048515  0.020448 -0.011080      NaN
['ABC', 'AMZN', 'CVS', 'MCK', 'RAD']

                items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022  \
26  Net Income Margin    WBA  0.105602  0.026188  0.008866 -0.012851
24  Net Income Margin    ABC  0.007530  0.009494  0.006776  0.004822
20  Net Income Margin   AMZN -0.033012 -0.016728  0.022596       NaN
21  Net Income Margin    CVS  0.030094  0.036597 -0.042090       NaN
20  Net Income Margin    MCK       NaN       NaN -0.000102  0.005567
15  Net Income Margin    RAD       NaN       NaN       NaN -0.064138

     Q4 2021   Q1 2023   Q2 2023   Q3 2023
26       NaN       NaN       NaN       NaN
24       NaN       NaN       NaN       NaN
20  0.104234       NaN       NaN       NaN
21  0.017049       NaN       NaN       NaN
20       NaN  0.011436  0.013199       NaN
15       NaN -0.018288 -0.056092 -0.011014
['AMZN', 'COST', 'CVS', 'DG', 'JD', 'PDD', 'TGT', 'TJX', 'WBA']
                items ticker   Q4 2022   Q1 2023   Q2 2023   Q3 2023  \
17  Net Income Margin    WMT  0.023301  0.014509  0.033685 -0.011766
20  Net Income Margin   AMZN       NaN       NaN       NaN       NaN
17  Net Income Margin   COST  0.025912  0.025056       NaN       NaN
21  Net Income Margin    CVS       NaN       NaN       NaN       NaN
12  Net Income Margin     DG  0.069009  0.063193  0.071929  0.055573
19  Net Income Margin     JD       NaN       NaN       NaN       NaN
18  Net Income Margin    PDD       NaN       NaN       NaN       NaN
17  Net Income Margin    TGT  0.049813  0.040087  0.007028  0.026850
17  Net Income Margin    TJX  0.067850  0.051464  0.068310  0.087375
26  Net Income Margin    WBA -0.012851       NaN       NaN       NaN

     Q4 2021   Q1 2022   Q2 2022   Q3 2022
17       NaN       NaN       NaN       NaN
20  0.104234 -0.033012 -0.016728  0.022596
17       NaN       NaN  0.025027  0.025724
21  0.017049  0.030094  0.036597 -0.042090
12       NaN       NaN       NaN       NaN
19 -0.018720 -0.012480  0.016353  0.024485
18  0.243105  0.109229  0.282952  0.298248
17       NaN       NaN       NaN       NaN
17       NaN       NaN       NaN       NaN
26       NaN  0.105602  0.026188  0.008866

In [11]:
def acounts_receivables_turnover(i_df, j_df, symbol=""):
    """
    A high ratio may indicate that corporate collection practices are efficient with quality customers 
    who pay their debts quickly.
    
    A low ratio could be the result of inefficient collection processes, inadequate credit policies, 
    or customers who are not financially viable or creditworthy.
    """
    try:

        for j in i_df:
            if j == 'ticker' or j == 'items':
                continue
            i_df[j] = i_df[j].str.replace(",", "", regex=True).str.replace("(", "-", regex=True).str.replace(")", "", regex=True).str.replace("--", "", regex=True)
            i_df[j] = pd.to_numeric(i_df[j])

        for k in j_df:
            if k == 'ticker' or k == 'items':
                continue
            j_df[k] = j_df[k].str.replace(",", "", regex=True).str.replace("(", "-", regex=True).str.replace(")", "", regex=True).str.replace("--", "", regex=True)
            j_df[k] = pd.to_numeric(j_df[k])

        i_df_columns = []

        for col in i_df.columns:
            i_df_columns.append(col)

        i_df_columns.insert(1, i_df_columns[-1])
        del i_df_columns[-1]
        # print(i_df_columns)
        
        j_df_columns = []

        for col in j_df.columns:
            j_df_columns.append(col)

        j_df_columns.insert(1, j_df_columns[-1])
        del j_df_columns[-1]

#         df_columns = [i for i in i_df_columns if i not in j_df_columns]
        
        first_row = i_df.loc[(i_df['ticker'] == symbol) & (i_df['items'] == 'Total Revenue'), i_df_columns[2:]]
        # gross_margin
        second_row = j_df.loc[(j_df['ticker'] == symbol) & (j_df['items'] == 'Total Receivables, Net'), j_df_columns[2:]]
        # print(first_row)
        # print(second_row)
        third_row = first_row / second_row.values
        # print(third_row)
        third_row['ticker'] = symbol
        third_row['items'] = "Accounts Receivable Turnover"
        third_row = third_row[j_df_columns]

    except ValueError:
        third_row = first_row / second_row
    #     print(third_row)
        third_row['ticker'] = symbol
        third_row['items'] = "Accounts Receivable Turnover"
        third_row = third_row[j_df_columns]
#         third_row = third_row.reshape(1,4)
    return third_row

In [12]:
for i in dow_jones_list:
    df = pd.DataFrame()
    
    # assign directories
    i_directory = f"C:/Users/jake_/OneDrive/Desktop/financial_scraping/dow_jones_stocks/{i}" 
    competitor_directory = i_directory + "/competitors"
    
    i_csv = i_directory + '/' + i + "quarterlyincome-statement.csv"
    j_csv = i_directory + '/' + i + "quarterlybalance-sheet.csv"

    i_df = pd.read_csv(i_csv)
    j_df = pd.read_csv(j_csv)
    i_row = acounts_receivables_turnover(i_df, j_df, symbol=i)
    df = df.append(i_row)
    
    
    competitor_list =[]
    
    # iterate over files in
    # that directory
    for filename in os.listdir(competitor_directory):
        if (filename.__contains__("ratio.csv") == False):
            f = os.path.join(competitor_directory, filename)
            f = f.split("\\")[1]
            # checking if it is a file
        #     if os.path.isfile(f):
            competitor_list.append(f)
#     print(competitor_list)
    for symbol in competitor_list:
        i_competitor_csv = competitor_directory + "/" + symbol + '/' + symbol + "quarterlyincome-statement.csv"
        j_competitor_csv = competitor_directory + "/" + symbol + '/' + symbol + "quarterlybalance-sheet.csv"
#         print(competitor_csv)
        i_competitor_df = pd.read_csv(i_competitor_csv)
        j_competitor_df = pd.read_csv(j_competitor_csv)
#             print(competitor_df)
        competitor_rows = acounts_receivables_turnover(i_competitor_df, j_competitor_df, symbol=symbol)
        df = df.append(competitor_rows)
        
    df = pd.DataFrame(df)
    print(df)

                          items ticker   Q2 2022   Q3 2022   Q4 2022  \
0  Accounts Receivable Turnover   AAPL  2.142687  1.963898  1.479453
0  Accounts Receivable Turnover   AMZN  3.504177  3.537462       NaN
0  Accounts Receivable Turnover   DELL       NaN       NaN  1.232932
0  Accounts Receivable Turnover   GOOG  1.879670  1.909885       NaN
0  Accounts Receivable Turnover  GOOGL  1.879670  1.909885       NaN
0  Accounts Receivable Turnover    HPQ  1.997577  1.944054  2.147874
0  Accounts Receivable Turnover   META  2.500824  2.468513       NaN
0  Accounts Receivable Turnover   MSFT  1.543198  1.513507  1.171799

    Q1 2023   Q4 2021   Q1 2022  Q2 2023   Q3 2023
0  2.162311       NaN       NaN      NaN       NaN
0       NaN  4.177799  3.603627      NaN       NaN
0  1.570132       NaN       NaN   1.4447  1.512358
0       NaN  1.870499  1.909241      NaN       NaN
0       NaN  1.870499  1.909241      NaN       NaN
0       NaN       NaN  1.962882      NaN       NaN
0       NaN  2.398390  2.450219      NaN       NaN
0  1.602417       NaN       NaN      NaN       NaN
                          items ticker   Q1 2022   Q2 2022   Q3 2022  \
0  Accounts Receivable Turnover   AMGN  1.228678  1.237845  1.248967
0  Accounts Receivable Turnover   ABBV  1.261344  1.297766  1.378758
0  Accounts Receivable Turnover    AZN  1.258564  1.120578  1.091542
0  Accounts Receivable Turnover   GILD  1.740164  1.520155  1.617363
0  Accounts Receivable Turnover    JNJ  1.502244  1.488320  1.497231
0  Accounts Receivable Turnover   MRNA  1.803210  1.669831  1.192485
0  Accounts Receivable Turnover    PFE  1.940340  1.830551  1.408186
0  Accounts Receivable Turnover   REGN  0.612730  0.553575  0.529200

    Q4 2022   Q4 2021
0  1.229373       NaN
0       NaN  1.492032
0       NaN  1.165325
0       NaN  1.612286
0       NaN  1.622980
0       NaN  2.187803
0       NaN  2.058977
0       NaN  0.820275
                          items ticker   Q1 2022   Q2 2022   Q3 2022  \
0  Accounts Receivable Turnover    AXP  0.223346  0.242970  0.253937
0  Accounts Receivable Turnover     MA  1.248671  1.273928  1.349906
0  Accounts Receivable Turnover   PYPL  0.150351  0.155257  0.164114
0  Accounts Receivable Turnover      V  1.784378  1.908415  1.874517

    Q4 2022   Q4 2021
0  0.260595       NaN
0       NaN  1.169769
0       NaN  0.165554
0  1.970395       NaN
                          items ticker      Q1 2022      Q2 2022      Q3 2022  \
0  Accounts Receivable Turnover     BA     1.210818     1.329269     1.313900
0  Accounts Receivable Turnover     AM  2765.708861  3011.934211  2887.925000
0  Accounts Receivable Turnover    HXL  1594.285714  1488.636364  1545.338983
0  Accounts Receivable Turnover    RTX     0.761360     0.733873     0.787320
0  Accounts Receivable Turnover    TDG     1.589880     1.491011     1.412121
0  Accounts Receivable Turnover    TXT     3.751250     3.600457     3.681818
0  Accounts Receivable Turnover    WWD     1.052427     0.989882     1.021631

    Q4 2022      Q4 2021
0  1.767360          NaN
0       NaN  2608.313253
0       NaN  1886.387435
0       NaN     0.810770
0  1.390424          NaN
0       NaN     3.964200
0  1.040650          NaN
                          items ticker   Q1 2022   Q2 2022   Q3 2022  \
0  Accounts Receivable Turnover    CAT  0.749201  0.822813  0.878074
0  Accounts Receivable Turnover     DE  0.928398  1.032207  1.019225
0  Accounts Receivable Turnover    TEX  1.906844  1.926655  2.111111
0  Accounts Receivable Turnover    TTC  2.549180  2.845103  3.307692

    Q4 2022   Q4 2021
0  0.928815       NaN
0  1.047041       NaN
0       NaN  1.948819
0  3.519520       NaN
                          items ticker   Q1 2023   Q2 2023   Q3 2023  \
0  Accounts Receivable Turnover    CRM  1.364825  1.230083  1.345639
0  Accounts Receivable Turnover   ADBE       NaN       NaN       NaN
0  Accounts Receivable Turnover   CSCO  1.494409       NaN       NaN
0  Accounts Receivable Turnover   GOOG       NaN       NaN       NaN
0  Accounts Receivable Turnover  GOOGL       NaN       NaN       NaN
0  Accounts Receivable Turnover   INTU  2.501927       NaN       NaN
0  Accounts Receivable Turnover   MSFT  1.602417       NaN       NaN
0  Accounts Receivable Turnover   ORCL  1.927741  1.980797       NaN
0  Accounts Receivable Turnover    SAP       NaN       NaN       NaN

    Q4 2023   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
0  0.669061       NaN       NaN       NaN       NaN       NaN
0       NaN  2.529377  2.761965  2.572838  2.191283       NaN
0       NaN       NaN  1.115789  1.178929  1.107804       NaN
0       NaN  1.909241  1.879670  1.909885       NaN  1.870499
0       NaN  1.909241  1.879670  1.909885       NaN  1.870499
0       NaN       NaN  2.365487  7.569892  2.303435       NaN
0       NaN       NaN  1.543198  1.513507  1.171799       NaN
0       NaN       NaN       NaN  2.291412  1.988913       NaN
0       NaN  0.708196  0.788772  0.801574       NaN  1.181495
                          items ticker      Q3 2022     Q4 2022      Q1 2023  \
0  Accounts Receivable Turnover   CSCO     1.178929    1.107804     1.308002
0  Accounts Receivable Turnover   AMZN     3.537462         NaN          NaN
0  Accounts Receivable Turnover   AVGO     3.125554    3.018932          NaN
0  Accounts Receivable Turnover   DELL          NaN    1.232932     1.570132
0  Accounts Receivable Turnover   FTNT     1.194185         NaN          NaN
0  Accounts Receivable Turnover   MSFT     1.513507    1.171799     1.602417
0  Accounts Receivable Turnover   PANW     1.117647    0.723752     1.262520
0  Accounts Receivable Turnover    RNG     1.913534         NaN          NaN
0  Accounts Receivable Turnover    VMW          NaN    0.936356     1.343193
0  Accounts Receivable Turnover     ZM          NaN    2.550000     2.219008
0  Accounts Receivable Turnover     ZS  1054.437500  793.164589  1321.739777

    Q2 2023   Q4 2021   Q1 2022     Q2 2022   Q3 2023
0  1.333333       NaN       NaN         NaN       NaN
0       NaN  4.177799  3.603627    3.504177       NaN
0       NaN       NaN  3.035053    2.628284       NaN
0  1.444700       NaN       NaN         NaN  1.512358
0       NaN  1.193069  1.208861    1.119565       NaN
0       NaN       NaN       NaN    1.543198       NaN
0       NaN       NaN       NaN    1.383403       NaN
0       NaN  1.922747  1.821012    1.917323       NaN
0  0.986690       NaN       NaN         NaN  1.159206
0  2.085389       NaN       NaN         NaN  1.815486
0       NaN       NaN       NaN  950.048327       NaN

KeyError: "['Q4 2022'] not in index"

In [14]:
def inventory_turnover_ratio(i_df, j_df, symbol=""):
    try:

        for j in i_df:
            if j == 'ticker' or j == 'items':
                continue
            i_df[j] = i_df[j].str.replace(",", "", regex=True).str.replace("(", "-", regex=True).str.replace(")", "", regex=True).str.replace("--", "", regex=True)
            i_df[j] = pd.to_numeric(i_df[j])

        for k in j_df:
            if k == 'ticker' or k == 'items':
                continue
            j_df[k] = j_df[k].str.replace(",", "", regex=True).str.replace("(", "-", regex=True).str.replace(")", "", regex=True).str.replace("--", "", regex=True)
            j_df[k] = pd.to_numeric(j_df[k])

        i_df_columns = []

        for col in i_df.columns:
            i_df_columns.append(col)

        i_df_columns.insert(1, i_df_columns[-1])
        del i_df_columns[-1]
        # print(i_df_columns)
        
        j_df_columns = []

        for col in j_df.columns:
            j_df_columns.append(col)

        j_df_columns.insert(1, j_df_columns[-1])
        del j_df_columns[-1]

#         df_columns = [i for i in i_df_columns if i not in j_df_columns]
        
        first_row = i_df.loc[(i_df['ticker'] == symbol) & (i_df['items'] == 'Cost of Revenue, Total'), i_df_columns[2:]]
        # gross_margin
        second_row = j_df.loc[(j_df['ticker'] == symbol) & (j_df['items'] == 'Total Inventory'), j_df_columns[2:]]
        # print(first_row)
        # print(second_row)
        third_row = first_row / second_row.values
        # print(third_row)
        third_row['ticker'] = symbol
        third_row['items'] = "Inventory Turnover Ratio"
        third_row = third_row[j_df_columns]

    except ValueError:
        third_row = first_row / second_row
    #     print(third_row)
        third_row['ticker'] = symbol
        third_row['items'] = "Inventory Turnover Ratio"
        third_row = third_row[j_df_columns]
#         third_row = third_row.reshape(1,4)
    return third_row

In [15]:
for i in dow_jones_list:
    df = pd.DataFrame()
    
    # assign directories
    i_directory = f"C:/Users/jake_/OneDrive/Desktop/financial_scraping/dow_jones_stocks/{i}" 
    competitor_directory = i_directory + "/competitors"
    
    i_csv = i_directory + '/' + i + "quarterlyincome-statement.csv"
    j_csv = i_directory + '/' + i + "quarterlybalance-sheet.csv"

    i_df = pd.read_csv(i_csv)
    j_df = pd.read_csv(j_csv)
    i_row = inventory_turnover_ratio(i_df, j_df, symbol=i)
    df = df.append(i_row)
    
    
    competitor_list =[]
    
    # iterate over files in
    # that directory
    for filename in os.listdir(competitor_directory):
        if (filename.__contains__("ratio.csv") == False):
            f = os.path.join(competitor_directory, filename)
            f = f.split("\\")[1]
            # checking if it is a file
        #     if os.path.isfile(f):
            competitor_list.append(f)
#     print(competitor_list)
    for symbol in competitor_list:
        i_competitor_csv = competitor_directory + "/" + symbol + '/' + symbol + "quarterlyincome-statement.csv"
        j_competitor_csv = competitor_directory + "/" + symbol + '/' + symbol + "quarterlybalance-sheet.csv"
#         print(competitor_csv)
        i_competitor_df = pd.read_csv(i_competitor_csv)
        j_competitor_df = pd.read_csv(j_competitor_csv)
#             print(competitor_df)
        competitor_rows = inventory_turnover_ratio(i_competitor_df, j_competitor_df, symbol=symbol)
        df = df.append(competitor_rows)
        
    df = pd.DataFrame(df)
    print(df)

                      items ticker    Q2 2022   Q3 2022    Q4 2022   Q1 2023  \
1  Inventory Turnover Ratio   AAPL  10.021795  8.664458  10.523858  9.797947
1  Inventory Turnover Ratio   AMZN   1.740990  1.917428        NaN       NaN
1  Inventory Turnover Ratio   DELL        NaN       NaN   4.070024  3.239127
1  Inventory Turnover Ratio   GOOG  15.204040  9.872624        NaN       NaN
1  Inventory Turnover Ratio  GOOGL  15.204040  9.872624        NaN       NaN
1  Inventory Turnover Ratio    HPQ   1.471042  1.436035   1.591047       NaN
1  Inventory Turnover Ratio   META        NaN       NaN        NaN       NaN
1  Inventory Turnover Ratio   MSFT   5.617754  4.737561   4.390433  3.620431

     Q4 2021    Q1 2022   Q2 2023   Q3 2023
1        NaN        NaN       NaN       NaN
1   2.537837   1.900677       NaN       NaN
1        NaN        NaN  3.567228  3.080687
1  28.194872  21.620891       NaN       NaN
1  28.194872  21.620891       NaN       NaN
1        NaN   1.512863       NaN       NaN
1        NaN        NaN       NaN       NaN
1        NaN        NaN       NaN       NaN
                      items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022  \
1  Inventory Turnover Ratio   AMGN  0.353888  0.331577  0.333824  0.354361
1  Inventory Turnover Ratio   ABBV  1.154465  1.220259  1.332913       NaN
1  Inventory Turnover Ratio    AZN  0.298924  0.306109  0.417093       NaN
1  Inventory Turnover Ratio   GILD  0.960864  0.965194  0.953520       NaN
1  Inventory Turnover Ratio    JNJ  0.689900  0.690915  0.667580       NaN
1  Inventory Turnover Ratio   MRNA  0.523687  0.718896  0.529610       NaN
1  Inventory Turnover Ratio    PFE  1.003107  0.829443  0.639966       NaN
1  Inventory Turnover Ratio   REGN  0.203313  0.133844  0.131841       NaN

    Q4 2021
1       NaN
1  1.368286
1  0.341645
1  1.623609
1  0.765861
1  0.660652
1  1.060934
1  0.503844
                      items ticker  Q1 2022  Q2 2022  Q3 2022  Q4 2022  \
1  Inventory Turnover Ratio    AXP      NaN      NaN      NaN      NaN
1  Inventory Turnover Ratio   PYPL      NaN      NaN      NaN      NaN
1  Inventory Turnover Ratio      V      NaN      NaN      NaN      NaN

   Q4 2021
1      NaN
1      NaN
1      NaN
                      items ticker      Q1 2022      Q2 2022     Q3 2022  \
1  Inventory Turnover Ratio     BA     0.170949     0.182177    0.210311
1  Inventory Turnover Ratio    HXL  1142.481203  1115.808824  933.663366
1  Inventory Turnover Ratio    RTX     1.288337     1.267600    1.289285
1  Inventory Turnover Ratio    TDG     0.438683     0.475040    0.438636
1  Inventory Turnover Ratio    TXT     0.680317     0.706339    0.676971
1  Inventory Turnover Ratio    WWD     0.926991     0.934021    0.952381

    Q4 2022      Q4 2021
1  0.231910          NaN
1       NaN  1183.739837
1       NaN     1.482567
1  0.465465          NaN
1       NaN     0.793253
1  0.982490          NaN
                      items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022  \
1  Inventory Turnover Ratio    CAT  0.635124  0.627794  0.604330  0.702213
1  Inventory Turnover Ratio     DE  0.832388  0.979070  1.042210  1.201295
1  Inventory Turnover Ratio    TEX  0.887079  0.897196  0.900102       NaN
1  Inventory Turnover Ratio    TTC  0.759615  0.946188  0.810437  0.735490

    Q4 2021
1       NaN
1       NaN
1  1.004914
1       NaN
                      items ticker   Q1 2023  Q2 2023  Q3 2023  Q4 2023  \
1  Inventory Turnover Ratio    CRM       NaN      NaN      NaN      NaN
1  Inventory Turnover Ratio   ADBE       NaN      NaN      NaN      NaN
1  Inventory Turnover Ratio   CSCO  1.984234      NaN      NaN      NaN
1  Inventory Turnover Ratio   GOOG       NaN      NaN      NaN      NaN
1  Inventory Turnover Ratio  GOOGL       NaN      NaN      NaN      NaN
1  Inventory Turnover Ratio   INTU       NaN      NaN      NaN      NaN
1  Inventory Turnover Ratio   MSFT  3.620431      NaN      NaN      NaN
1  Inventory Turnover Ratio   ORCL       NaN      NaN      NaN      NaN
1  Inventory Turnover Ratio    SAP       NaN      NaN      NaN      NaN

     Q1 2022    Q2 2022   Q3 2022   Q4 2022    Q4 2021
1        NaN        NaN       NaN       NaN        NaN
1        NaN        NaN       NaN       NaN        NaN
1        NaN   2.268577  2.112954  1.977025        NaN
1  21.620891  15.204040  9.872624       NaN  28.194872
1  21.620891  15.204040  9.872624       NaN  28.194872
1        NaN        NaN       NaN       NaN        NaN
1        NaN   5.617754  4.737561  4.390433        NaN
1        NaN        NaN       NaN       NaN        NaN
1        NaN        NaN       NaN       NaN        NaN
                      items ticker     Q3 2022   Q4 2022   Q1 2023   Q2 2023  \
1  Inventory Turnover Ratio   CSCO    2.112954  1.977025  1.984234  1.644904
1  Inventory Turnover Ratio   AMZN    1.917428       NaN       NaN       NaN
1  Inventory Turnover Ratio   AVGO    1.513602  1.560000       NaN       NaN
1  Inventory Turnover Ratio   DELL         NaN  4.070024  3.239127  3.567228
1  Inventory Turnover Ratio   FTNT    1.310185       NaN       NaN       NaN
1  Inventory Turnover Ratio   MSFT    4.737561  4.390433  3.620431       NaN
1  Inventory Turnover Ratio   PANW         NaN       NaN       NaN       NaN
1  Inventory Turnover Ratio    RNG  167.000000       NaN       NaN       NaN
1  Inventory Turnover Ratio    VMW         NaN       NaN       NaN       NaN
1  Inventory Turnover Ratio     ZM         NaN       NaN       NaN       NaN
1  Inventory Turnover Ratio     ZS         NaN       NaN       NaN       NaN

     Q4 2021    Q1 2022    Q2 2022   Q3 2023
1        NaN        NaN        NaN       NaN
1   2.537837   1.900677   1.740990       NaN
1        NaN   1.746711   1.596523       NaN
1        NaN        NaN        NaN  3.080687
1   1.295455   1.372973   1.287179       NaN
1        NaN        NaN   5.617754       NaN
1        NaN        NaN        NaN       NaN
1  22.666667  25.833333  31.600000       NaN
1        NaN        NaN        NaN       NaN
1        NaN        NaN        NaN       NaN
1        NaN        NaN        NaN       NaN

KeyError: "['Q4 2022'] not in index"

In [16]:
def current_ratio(df, symbol=""):
    """
    A ratio under 1.00 indicates that the companys debts due in a year or less 
    are greater than its assetscash or other short-term assets expected to be converted to cash within a year or less. 
    
    A current ratio of less than 1.00 may seem alarming, although different situations 
    can negatively affect the current ratio in a solid company.
    """
    
    try:
        for j in df:
            if j == 'ticker' or j == 'items':
                continue
            df[j] = df[j].str.replace(",", "", regex=True).str.replace("(", "-", regex=True).str.replace(")", "", regex=True).str.replace("--", "", regex=True)
            df[j] = pd.to_numeric(df[j])

        df_columns = []

        for col in df.columns:
            df_columns.append(col)

        df_columns.insert(1, df_columns[-1])
        del df_columns[-1]
        # print(i_df_columns)

        first_row = df.loc[(df['ticker'] == symbol) & (df['items'] == 'Total Current Assets'), df_columns[2:]]
        # gross_margin
        second_row = df.loc[(df['ticker'] == symbol) & (df['items'] == 'Total Current Liabilities'), df_columns[2:]]
#         print(first_row)
#         print(second_row)
        third_row = first_row / second_row.values
        # print(third_row)
        third_row['ticker'] = symbol
        third_row['items'] = "Current Ratio"
        third_row = third_row[df_columns]
    except ValueError:
        third_row = first_row / second_row
    #     print(third_row)
        third_row['ticker'] = symbol
        third_row['items'] = "Current Ratio"
        third_row = third_row[df_columns]
#         third_row = third_row.reshape(1,4)
    return third_row

In [17]:
for i in dow_jones_list:
    df = pd.DataFrame()
    
    # assign directories
    i_directory = f"C:/Users/jake_/OneDrive/Desktop/financial_scraping/dow_jones_stocks/{i}" 
    competitor_directory = i_directory + "/competitors"
    
    i_csv = i_directory + '/' + i + "quarterlybalance-sheet.csv"
    i_df = pd.read_csv(i_csv)
    i_row = current_ratio(i_df, symbol=i)
    df = df.append(i_row)
    
    
    competitor_list =[]
    
    # iterate over files in
    # that directory
    for filename in os.listdir(competitor_directory):
        if (filename.__contains__("ratio.csv") == False):
            f = os.path.join(competitor_directory, filename)
            f = f.split("\\")[1]
            # checking if it is a file
        #     if os.path.isfile(f):
            competitor_list.append(f)
    print(competitor_list)
    for symbol in competitor_list:
        competitor_csv = competitor_directory + "/" + symbol + '/' + symbol + "quarterlybalance-sheet.csv"
#         print(competitor_csv)
        competitor_df = pd.read_csv(competitor_csv)
#             print(competitor_df)
        competitor_rows = current_ratio(competitor_df, symbol=symbol)
        df = df.append(competitor_rows)
        
    df = pd.DataFrame(df)
    print(df)

['AMZN', 'DELL', 'GOOG', 'GOOGL', 'HPQ', 'META', 'MSFT']
            items ticker   Q2 2022   Q3 2022   Q4 2022   Q1 2023   Q4 2021  \
11  Current Ratio   AAPL  0.926844  0.864629  0.879356  0.938020       NaN
8   Current Ratio   AMZN  0.952784  0.936593       NaN       NaN  1.135760
14  Current Ratio   DELL       NaN       NaN  0.801028  0.779811       NaN
10  Current Ratio   GOOG  2.809450  2.517604       NaN       NaN  2.928113
10  Current Ratio  GOOGL  2.809450  2.517604       NaN       NaN  2.928113
12  Current Ratio    HPQ  0.813499  0.857772  0.757122       NaN       NaN
7   Current Ratio   META  2.520007  2.570415       NaN       NaN  3.154294
11  Current Ratio   MSFT  2.247297  1.987655  1.784607  1.840186       NaN

     Q1 2022   Q2 2023   Q3 2023
11       NaN       NaN       NaN
8   0.959630       NaN       NaN
14       NaN  0.771359  0.745803
10  2.871005       NaN       NaN
10  2.871005       NaN       NaN
12  0.742806       NaN       NaN
7   2.810633       NaN       NaN
11       NaN       NaN       NaN
['ABBV', 'AZN', 'GILD', 'JNJ', 'MRNA', 'PFE', 'REGN']
            items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
9   Current Ratio   AMGN  1.437219  1.531304  1.679018  1.414292       NaN
9   Current Ratio   ABBV  0.815135  0.844139  0.928222       NaN  0.793544
10  Current Ratio    AZN  0.995910  0.958836  0.813843       NaN  1.161547
8   Current Ratio   GILD  1.475695  1.428959  1.300393       NaN  1.272351
12  Current Ratio    JNJ  1.392579  1.424489  1.432405       NaN  1.348317
12  Current Ratio   MRNA  1.769864  1.991045  2.100338       NaN  1.760627
14  Current Ratio    PFE  1.385861  1.423033  1.588730       NaN  1.398913
10  Current Ratio   REGN  4.755984  5.118655  5.359152       NaN  3.563438
['BAC', 'C', 'COF', 'DFS', 'JPM', 'MA', 'PYPL', 'SYF', 'V']
            items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
6   Current Ratio    AXP       NaN       NaN       NaN       NaN       NaN
8   Current Ratio     MA  1.337441  1.258668  1.248367       NaN  1.287722
8   Current Ratio   PYPL  1.191394  1.225236  1.274752       NaN  1.221827
10  Current Ratio      V  1.395196  1.288151  1.426510  1.448473       NaN
['AM', 'HXL', 'RTX', 'TDG', 'TXT', 'WWD']
            items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
13  Current Ratio     BA  1.297704  1.250015  1.219074  1.216220       NaN
5   Current Ratio     AM  0.575540  0.620968  0.764151       NaN  0.736842
8   Current Ratio    HXL  2.769231  2.553506  2.411972       NaN  2.483871
9   Current Ratio    RTX  1.162107  1.097227  1.089855       NaN  1.186211
8   Current Ratio    TDG  5.058781  5.045350  4.693452  3.961431       NaN
9   Current Ratio    TXT  2.290680  2.138169  2.062310       NaN  2.372768
14  Current Ratio    WWD  4.384848  3.607046  2.957547  2.434137       NaN
['DE', 'TEX', 'TTC']
           items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
9  Current Ratio    CAT  1.441487  1.449505  1.409741  1.388633       NaN
9  Current Ratio     DE       NaN       NaN       NaN       NaN       NaN
9  Current Ratio    TEX  1.994565  1.998953  1.959077       NaN  1.942857
9  Current Ratio    TTC  1.457404  1.497750  1.586548  1.574248       NaN
['ADBE', 'CSCO', 'GOOG', 'GOOGL', 'INTU', 'MSFT', 'ORCL', 'SAP']
            items ticker   Q1 2023   Q2 2023   Q3 2023   Q4 2023   Q1 2022  \
5   Current Ratio    CRM  1.025730  1.058068  1.053876  1.019466       NaN
8   Current Ratio   ADBE       NaN       NaN       NaN       NaN  1.038766
14  Current Ratio   CSCO  1.451679       NaN       NaN       NaN       NaN
10  Current Ratio   GOOG       NaN       NaN       NaN       NaN  2.871005
10  Current Ratio  GOOGL       NaN       NaN       NaN       NaN  2.871005
9   Current Ratio   INTU  1.369624       NaN       NaN       NaN       NaN
11  Current Ratio   MSFT  1.840186       NaN       NaN       NaN       NaN
7   Current Ratio   ORCL  0.603234  0.647864       NaN       NaN       NaN
7   Current Ratio    SAP       NaN       NaN       NaN       NaN  1.111285

     Q2 2022   Q3 2022   Q4 2022   Q4 2021
5        NaN       NaN       NaN       NaN
8   1.070819  1.141301  1.106791       NaN
14  1.419988  1.489896  1.432020       NaN
10  2.809450  2.517604       NaN  2.928113
10  2.809450  2.517604       NaN  2.928113
9   1.175876  1.631300  1.390358       NaN
11  2.247297  1.987655  1.784607       NaN
7        NaN  1.520424  1.621291       NaN
7   0.963004  1.029951       NaN  1.242191
['AMZN', 'AVGO', 'DELL', 'FTNT', 'MSFT', 'PANW', 'RNG', 'VMW', 'ZM', 'ZS']
            items ticker   Q3 2022   Q4 2022   Q1 2023   Q2 2023   Q4 2021  \
16  Current Ratio   CSCO  1.489896  1.432020  1.451679  1.413291       NaN
8   Current Ratio   AMZN  0.936593       NaN       NaN       NaN  1.135760
8   Current Ratio   AVGO  2.321844  2.623936       NaN       NaN       NaN
14  Current Ratio   DELL       NaN  0.801028  0.779811  0.771359       NaN
11  Current Ratio   FTNT  1.072662       NaN       NaN       NaN  1.553494
11  Current Ratio   MSFT  1.987655  1.784607  1.840186       NaN       NaN
10  Current Ratio   PANW  0.742217  0.772333  0.699695       NaN       NaN
9   Current Ratio    RNG  1.212833       NaN       NaN       NaN  1.237643
11  Current Ratio    VMW       NaN  0.825407  0.747076  0.761312       NaN
12  Current Ratio     ZM       NaN  3.913924  3.628524  3.435458       NaN
8   Current Ratio     ZS  2.242059  1.990300  2.009901       NaN       NaN

     Q1 2022   Q2 2022   Q3 2023
16       NaN       NaN       NaN
8   0.959630  0.952784       NaN
8   2.440115  2.143271       NaN
14       NaN       NaN  0.745803
11  1.277579  1.120683       NaN
11       NaN  2.247297       NaN
10       NaN  0.657440       NaN
9   1.251736  1.188103       NaN
11       NaN       NaN  0.703451
12       NaN       NaN  3.239451
8        NaN  2.379187       NaN
['BP', 'COP', 'ROSN', 'SHEL', 'XOM']
            items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021  \
11  Current Ratio    CVX  1.432843  1.308453  1.396389  1.471673       NaN
12  Current Ratio     BP  1.187241  1.157917  1.041271       NaN  1.153238
13  Current Ratio    COP  1.512904  1.543877  1.461242       NaN  1.335163
0   Current Ratio   ROSN       NaN       NaN       NaN       NaN       NaN
6   Current Ratio   SHEL  1.341780  1.392204  1.376213       NaN  1.347661
10  Current Ratio    XOM  1.072108  1.162938  1.340711       NaN  1.044330

     Q2 2014   Q3 2014   Q4 2014  Q1 2015
11       NaN       NaN       NaN      NaN
12       NaN       NaN       NaN      NaN
13       NaN       NaN       NaN      NaN
0   0.042105  0.682051  0.257485      0.0
6        NaN       NaN       NaN      NaN
10       NaN       NaN       NaN      NaN
['AAPL', 'CHTR', 'CMCSA', 'DISH', 'FOX', 'FOXA', 'NFLX', 'PARA', 'PARAA']
            items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021  \
6   Current Ratio    DIS  1.095749  1.061687  1.023385  1.000860       NaN
9   Current Ratio   AAPL  1.037812  0.926844  0.864629  0.879356       NaN
5   Current Ratio   CHTR  0.396008  0.328039  0.323760       NaN  0.286242
7   Current Ratio  CMCSA  0.855818  0.876998  0.836316       NaN  0.845271
11  Current Ratio   DISH  0.657927  0.635171  0.495286       NaN  1.154543
4   Current Ratio    FOX       NaN  2.966551  3.732202  3.606707       NaN
4   Current Ratio   FOXA       NaN  2.966551  3.732202  3.606707       NaN
6   Current Ratio   NFLX  1.046253  1.045467  1.135334       NaN  0.950642
7   Current Ratio   PARA  1.579142  1.471773  1.309704       NaN  1.759257
7   Current Ratio  PARAA  1.579142  1.471773  1.309704       NaN  1.759257

     Q1 2023
6        NaN
9        NaN
5        NaN
7        NaN
11       NaN
4   3.596528
4   3.596528
6        NaN
7        NaN
7        NaN
['APD', 'DD', 'EMN', 'HUN', 'LIN']
            items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022   Q4 2022
12  Current Ratio    DOW  1.576289  1.697947  1.635660  1.605928       NaN
10  Current Ratio    APD       NaN  2.465399  1.949766  1.868800  1.812752
13  Current Ratio     DD  2.900629  2.819797  2.549327  2.386099       NaN
12  Current Ratio    EMN  1.563783  1.571747  1.271601  1.280012       NaN
14  Current Ratio    HUN  1.915163  1.882908  2.118989  2.003762       NaN
8   Current Ratio    LIN  0.744631  0.844961  0.736973  0.743842       NaN

['BAC', 'BK', 'BLK', 'C', 'MS', 'SCHW', 'UBS', 'WFC']
           items ticker  Q4 2021  Q1 2022  Q2 2022  Q3 2022
6  Current Ratio     GS      NaN      NaN      NaN      NaN
2  Current Ratio    BLK      NaN      NaN      NaN      NaN
4  Current Ratio     MS      NaN      NaN      NaN      NaN
2  Current Ratio   SCHW      NaN      NaN      NaN      NaN
['AMZN', 'FAST', 'GWW', 'LOW', 'SHW', 'TGT', 'TSCO', 'WMT']
           items ticker   Q4 2022   Q1 2023   Q2 2023   Q3 2023   Q4 2021  \
4  Current Ratio     HD  1.012616  1.114523  1.183481  1.387191       NaN
8  Current Ratio   AMZN       NaN       NaN       NaN       NaN  1.135760
7  Current Ratio   FAST       NaN       NaN       NaN       NaN  4.189150
6  Current Ratio    GWW       NaN       NaN       NaN       NaN  2.625000
5  Current Ratio    LOW  1.019931  1.173148  1.112982  1.197116       NaN
8  Current Ratio    SHW       NaN       NaN       NaN       NaN  0.883566
5  Current Ratio    TGT  0.991999  0.866290  0.822143  0.857461       NaN
4  Current Ratio   TSCO       NaN       NaN       NaN       NaN  1.573850
4  Current Ratio    WMT  0.927797  0.862115  0.842491  0.864626       NaN

    Q1 2022   Q2 2022   Q3 2022
4       NaN       NaN       NaN
8  0.959630  0.952784  0.936593
7  4.067024  3.713781  3.980075
6  2.548220  2.578857  2.625210
5       NaN       NaN       NaN
8  0.875306  0.869686  1.003445
5       NaN       NaN       NaN
4  1.440000  1.440678  1.484487
4       NaN       NaN       NaN
['GE', 'GRMN', 'JCI', 'MMM']
            items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022   Q4 2022
13  Current Ratio    HON  1.300595  1.212413  1.195518  1.243857       NaN
13  Current Ratio     GE  1.277077  1.186619  1.125735  1.099255       NaN
10  Current Ratio   GRMN  2.943370  3.540330  2.538793  2.749827       NaN
12  Current Ratio    JCI       NaN  1.036648  0.996396  0.972734  1.039683
12  Current Ratio    MMM  1.704815  1.579108  1.466653  1.560830       NaN
['ACN', 'ADBE', 'CSCO', 'DELL', 'GOOG', 'GOOGL', 'HPE', 'MSFT', 'ORCL', 'SAP']
            items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022   Q4 2022  \
17  Current Ratio    IBM  0.878640  0.919955  0.876021  0.951848       NaN
5   Current Ratio    ACN       NaN       NaN  1.234556  1.268369  1.233293
8   Current Ratio   ADBE       NaN  1.038766  1.070819  1.141301  1.106791
14  Current Ratio   CSCO       NaN       NaN  1.419988  1.489896  1.432020
14  Current Ratio   DELL       NaN       NaN       NaN       NaN  0.801028
10  Current Ratio   GOOG  2.928113  2.871005  2.809450  2.517604       NaN
10  Current Ratio  GOOGL  2.928113  2.871005  2.809450  2.517604       NaN
12  Current Ratio    HPE       NaN  0.944757  0.900050  0.916522  0.884871
11  Current Ratio   MSFT       NaN       NaN  2.247297  1.987655  1.784607
7   Current Ratio   ORCL       NaN       NaN       NaN  1.520424  1.621291
7   Current Ratio    SAP  1.242191  1.111285  0.963004  1.029951       NaN

     Q1 2023   Q2 2023   Q3 2023
17       NaN       NaN       NaN
5   1.255893       NaN       NaN
8        NaN       NaN       NaN
14  1.451679       NaN       NaN
14  0.779811  0.771359  0.745803
10       NaN       NaN       NaN
10       NaN       NaN       NaN
12       NaN       NaN       NaN
11  1.840186       NaN       NaN
7   0.603234  0.647864       NaN
7        NaN       NaN       NaN
['AMAT', 'AMD', 'AVGO', 'MU', 'NVDA', 'QCOM', 'TXN']
            items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022   Q4 2022  \
11  Current Ratio   INTC  2.132328  2.133824  1.858623  1.771222       NaN
14  Current Ratio   AMAT       NaN  2.507503  2.292331  2.258744  2.158152
12  Current Ratio    AMD  2.024292  2.395449  2.437443  2.155134       NaN
8   Current Ratio   AVGO       NaN  2.440115  2.143271  2.321844  2.623936
13  Current Ratio     MU       NaN       NaN  3.108124  3.239834  2.889110
9   Current Ratio   NVDA       NaN       NaN       NaN       NaN  6.650288
11  Current Ratio   QCOM       NaN  1.647682  1.608845  1.606137  1.746503
12  Current Ratio    TXN  5.326975  5.541930  5.094922  4.922087       NaN

     Q1 2023   Q2 2023   Q3 2023
11       NaN       NaN       NaN
14       NaN       NaN       NaN
12       NaN       NaN       NaN
8        NaN       NaN       NaN
13  3.512797       NaN       NaN
9   5.317332  3.620494  3.387746
11       NaN       NaN       NaN
12       NaN       NaN       NaN
['ABT', 'AZN', 'MDT', 'MRK', 'NOVN', 'PFE', 'PG', 'ROG']
            items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022   Q4 2022  \
12  Current Ratio    JNJ  1.348317  1.392579  1.424489  1.432405       NaN
11  Current Ratio    ABT  1.849599  1.852534  2.013880  1.858960       NaN
10  Current Ratio    AZN  1.161547  0.995910  0.958836  0.813843       NaN
12  Current Ratio    MDT       NaN       NaN       NaN  2.610395  1.860497
12  Current Ratio    MRK  1.267845  1.397383  1.386222  1.459301       NaN
9   Current Ratio   NOVN  4.854709  1.249218  1.402151       NaN       NaN
14  Current Ratio    PFE  1.398913  1.385861  1.423033  1.588730       NaN
7   Current Ratio     PG       NaN       NaN  0.671760  0.680678  0.654545
12  Current Ratio    ROG  3.560976  3.583851  4.103226  4.623188       NaN

     Q1 2023   Q2 2023   Q3 2021
12       NaN       NaN       NaN
11       NaN       NaN       NaN
10       NaN       NaN       NaN
12  1.575557  1.755824       NaN
12       NaN       NaN       NaN
9        NaN       NaN  4.856624
14       NaN       NaN       NaN
7   0.615025       NaN       NaN
12       NaN       NaN       NaN
['BAC', 'BMO', 'C', 'RY', 'TD', 'WFC']
Empty DataFrame
Columns: [items, ticker, Q4 2021, Q1 2022, Q2 2022, Q3 2022, Q4 2022]
Index: []
['CCEP', 'COKE', 'FIZZ', 'KDP', 'KHC', 'MDLZ', 'MNST', 'PEP', 'PRMW', 'SBUX']
            items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022   Q4 2020  \
12  Current Ratio     KO  1.130075  1.179326  1.127125  1.125939       NaN
10  Current Ratio   CCEP  0.945347       NaN  0.940939       NaN  0.984541
12  Current Ratio   COKE  1.289820  1.175615  1.241556  1.402509       NaN
7   Current Ratio   FIZZ       NaN       NaN       NaN  1.991597       NaN
16  Current Ratio    KDP  0.471396  0.541253  0.557758  0.597954       NaN
12  Current Ratio    KHC  0.992277  1.023279  0.892422  0.904904       NaN
13  Current Ratio   MDLZ  0.738292  0.682053  0.678303  0.691991       NaN
9   Current Ratio   MNST  4.851813  4.544061  4.293419  4.186275       NaN
12  Current Ratio    PEP  0.830778  0.865164  0.831393  0.917748       NaN
11  Current Ratio   PRMW  0.718310  0.720399  0.776224  0.755556       NaN
11  Current Ratio   SBUX       NaN  0.813250  0.828317  0.841228       NaN

     Q2 2021   Q4 2022   Q1 2023  Q2 2023
12       NaN       NaN       NaN      NaN
10  0.907718       NaN       NaN      NaN
12       NaN       NaN       NaN      NaN
7        NaN  1.896552  1.924242  2.02027
16       NaN       NaN       NaN      NaN
12       NaN       NaN       NaN      NaN
13       NaN       NaN       NaN      NaN
9        NaN       NaN       NaN      NaN
12       NaN       NaN       NaN      NaN
11       NaN       NaN       NaN      NaN
11       NaN  0.766936       NaN      NaN
['CMG', 'DPZ', 'JACK', 'PZZA', 'QSR', 'SBUX', 'SHAK', 'WEN', 'YUM', 'YUMC']
            items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022   Q4 2022
4   Current Ratio    MCD  1.778358  1.099410  1.413506  1.646873       NaN
8   Current Ratio    CMG  1.581236  1.314149  1.257212  1.316626       NaN
5   Current Ratio    DPZ  1.456853  1.447059  1.471304  1.426598       NaN
13  Current Ratio   JACK       NaN  0.586331  0.410501  0.438034  0.542146
10  Current Ratio   PZZA  0.888502  1.025090  0.960000  0.909091       NaN
7   Current Ratio    QSR  0.966986  0.922319  0.889393  1.002083       NaN
11  Current Ratio   SBUX       NaN  0.813250  0.828317  0.841228  0.766936
6   Current Ratio   SHAK  3.388430  3.071429  2.895522  2.531034       NaN
11  Current Ratio    WEN  1.388759  2.647059  2.616541  2.619617       NaN
6   Current Ratio    YUM  1.082686  1.041475  1.207946  1.282154       NaN
10  Current Ratio   YUMC  1.979018  2.046043  2.125406  2.238593       NaN
['DD', 'GE', 'HON', 'ITW', 'JNJ']

            items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022
12  Current Ratio    MMM  1.704815  1.579108  1.466653  1.560830
13  Current Ratio     DD  2.900629  2.819797  2.549327  2.386099
13  Current Ratio     GE  1.277077  1.186619  1.125735  1.099255
13  Current Ratio    HON  1.300595  1.212413  1.195518  1.243857
9   Current Ratio    ITW  1.836888  1.731985  1.483698  1.410747
12  Current Ratio    JNJ  1.348317  1.392579  1.424489  1.432405
['ABT', 'BMY', 'GSK', 'JNJ', 'LLY', 'NOVN', 'PFE', 'SAN', 'ZTS']
            items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022   Q3 2021
12  Current Ratio    MRK  1.267845  1.397383  1.386222  1.459301       NaN
11  Current Ratio    ABT  1.849599  1.852534  2.013880  1.858960       NaN
16  Current Ratio    BMY  1.521035  1.319881  1.443270  1.415531       NaN
10  Current Ratio    GSK  0.788931  1.194003  1.432219  0.966401       NaN
12  Current Ratio    JNJ  1.348317  1.392579  1.424489  1.432405       NaN
10  Current Ratio    LLY  1.225802  1.267369  1.095640  1.126941       NaN
9   Current Ratio   NOVN  4.854709  1.249218  1.402151       NaN  4.856624
14  Current Ratio    PFE  1.398913  1.385861  1.423033  1.588730       NaN
11  Current Ratio    ZTS  3.856427  2.253461  2.179941  2.274653       NaN
['AAPL', 'AVGO', 'CRM', 'CSCO', 'GOOG', 'GOOGL', 'IBM', 'ORCL', 'SAP']
            items ticker   Q2 2022   Q3 2022   Q4 2022   Q1 2023   Q1 2022  \
11  Current Ratio   MSFT  2.247297  1.987655  1.784607  1.840186       NaN
9   Current Ratio   AAPL  0.926844  0.864629  0.879356       NaN  1.037812
8   Current Ratio   AVGO  2.143271  2.321844  2.623936       NaN  2.440115
5   Current Ratio    CRM       NaN       NaN  1.048742  1.025730       NaN
14  Current Ratio   CSCO  1.419988  1.489896  1.432020  1.451679       NaN
10  Current Ratio   GOOG  2.809450  2.517604       NaN       NaN  2.871005
10  Current Ratio  GOOGL  2.809450  2.517604       NaN       NaN  2.871005
17  Current Ratio    IBM  0.876021  0.951848       NaN       NaN  0.919955
7   Current Ratio   ORCL       NaN  1.520424  1.621291  0.603234       NaN
7   Current Ratio    SAP  0.963004  1.029951       NaN       NaN  1.111285

     Q2 2023   Q3 2023   Q4 2021
11       NaN       NaN       NaN
9        NaN       NaN       NaN
8        NaN       NaN       NaN
5   1.058068  1.053876       NaN
14       NaN       NaN       NaN
10       NaN       NaN  2.928113
10       NaN       NaN  2.928113
17       NaN       NaN  0.878640
7   0.647864       NaN       NaN
7        NaN       NaN  1.242191
['ADS', 'CROX', 'SKX', 'UA', 'UAA', 'VFC']
            items ticker   Q3 2022   Q4 2022   Q1 2023   Q2 2023   Q4 2021  \
8   Current Ratio    NKE  3.057609  2.629357  2.644656  2.691146       NaN
4   Current Ratio    ADS       NaN       NaN       NaN       NaN       NaN
9   Current Ratio   CROX  1.966725       NaN       NaN       NaN  1.719072
10  Current Ratio    SKX  2.271401       NaN       NaN       NaN  2.331950
6   Current Ratio     UA       NaN  2.180908  2.056203  2.090292  2.300690
6   Current Ratio    UAA       NaN  2.180908  2.056203  2.090292  2.300690
13  Current Ratio    VFC  1.427109  1.384012  1.331409  1.063973       NaN

     Q1 2022   Q2 2022
8        NaN       NaN
4        NaN       NaN
9   1.956685  1.940199
10  2.436700  2.336387
6        NaN       NaN
6        NaN       NaN
13       NaN       NaN
['CL', 'EL', 'JNJ', 'OR']
            items ticker   Q2 2022   Q3 2022   Q4 2022   Q1 2023   Q4 2021  \
7   Current Ratio     PG  0.671760  0.680678  0.654545  0.615025       NaN
12  Current Ratio     CL  1.174061  1.174978       NaN       NaN  1.085411
10  Current Ratio     EL  1.727699  1.754710  1.598968  1.682034       NaN
12  Current Ratio    JNJ  1.424489  1.432405       NaN       NaN  1.348317
11  Current Ratio     OR  1.428571  0.981132       NaN       NaN  0.442197

     Q1 2022
7        NaN
12  1.092641
10       NaN
12  1.392579
11  1.246914
['AIG', 'AIZ', 'ALL', 'CB', 'CINF', 'HIG', 'L', 'PGR', 'WRB']
Empty DataFrame
Columns: [items, ticker, Q4 2021, Q1 2022, Q2 2022, Q3 2022]
Index: []
['CI', 'CVS', 'ELV', 'HUM']
            items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022
13  Current Ratio    CVS  0.884982  0.881098  0.907752  0.943819
['AXP', 'BAC', 'C', 'COF', 'DFS', 'JPM', 'MA', 'PYPL', 'SYF', 'WFC']
            items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
10  Current Ratio      V  1.395196  1.288151  1.426510  1.448473       NaN
6   Current Ratio    AXP       NaN       NaN       NaN       NaN       NaN
8   Current Ratio     MA  1.337441  1.258668  1.248367       NaN  1.287722
8   Current Ratio   PYPL  1.191394  1.225236  1.274752       NaN  1.221827
['AAPL', 'T', 'TBB', 'TBC', 'TDS', 'TMUS', 'USM']
            items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022   Q4 2022
9   Current Ratio     VZ  0.778796  0.763765  0.761803  0.747935       NaN
9   Current Ratio   AAPL       NaN  1.037812  0.926844  0.864629  0.879356
11  Current Ratio      T  1.607531  0.931656  0.701071  0.618003       NaN
11  Current Ratio    TBB  1.607531  0.931656  0.701071  0.618003       NaN
11  Current Ratio    TBC  1.607531  0.931656  0.701071  0.618003       NaN
13  Current Ratio    TDS  1.732203  1.869955  1.662075  1.480483       NaN
9   Current Ratio   TMUS  0.889017  0.814779  0.847444  0.812799       NaN
11  Current Ratio    USM  1.777409  1.845361  1.703666  1.524113       NaN
['ABC', 'AMZN', 'CVS', 'MCK', 'RAD']
            items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021  \
8   Current Ratio    WBA  0.830940  0.741178  0.784144  0.748439       NaN
10  Current Ratio    ABC  0.946292  0.920837  0.921004  0.910575       NaN
8   Current Ratio   AMZN  0.959630  0.952784  0.936593       NaN  1.135760
13  Current Ratio    CVS  0.881098  0.907752  0.943819       NaN  0.884982
7   Current Ratio    MCK       NaN       NaN  0.979895  0.953885       NaN
6   Current Ratio    RAD       NaN       NaN       NaN  1.175929       NaN

     Q1 2023   Q2 2023   Q3 2023
8        NaN       NaN       NaN
10       NaN       NaN       NaN
8        NaN       NaN       NaN
13       NaN       NaN       NaN
7   0.961484  0.960523       NaN
6   1.262023  1.327066  1.302408
['AMZN', 'COST', 'CVS', 'DG', 'JD', 'PDD', 'TGT', 'TJX', 'WBA']
            items ticker   Q4 2022   Q1 2023   Q2 2023   Q3 2023   Q4 2021  \
4   Current Ratio    WMT  0.927797  0.862115  0.842491  0.864626       NaN
8   Current Ratio   AMZN       NaN       NaN       NaN       NaN  1.135760
6   Current Ratio   COST  1.021814  1.032752       NaN       NaN       NaN
13  Current Ratio    CVS       NaN       NaN       NaN       NaN  0.884982
4   Current Ratio     DG  1.054357  0.969074  1.015330  1.232816       NaN
9   Current Ratio     JD       NaN       NaN       NaN       NaN  1.352091
11  Current Ratio    PDD       NaN       NaN       NaN       NaN  1.716729
5   Current Ratio    TGT  0.991999  0.866290  0.822143  0.857461       NaN
6   Current Ratio    TJX  1.266622  1.245633  1.166355  1.156222       NaN
8   Current Ratio    WBA  0.748439       NaN       NaN       NaN       NaN

     Q1 2022   Q2 2022   Q3 2022
4        NaN       NaN       NaN
8   0.959630  0.952784  0.936593
6        NaN  1.032335  1.036521
13  0.881098  0.907752  0.943819
4        NaN       NaN       NaN
9   1.320644  1.268136  1.304546
11  1.885465  2.046877  2.265779
5        NaN       NaN       NaN
6        NaN       NaN       NaN
8   0.830940  0.741178  0.784144

In [18]:
def quick_ratio(df, symbol=""):
    """
    The higher the ratio result, the better a company's liquidity and financial health; 
    the lower the ratio, the more likely the company will struggle with paying debts.
    """
    try:
        for j in df:
            if j == 'ticker' or j == 'items':
                continue
            df[j] = df[j].str.replace(",", "", regex=True).str.replace("(", "-", regex=True).str.replace(")", "", regex=True).str.replace("--", "", regex=True)
            df[j] = pd.to_numeric(df[j])

        df_columns = []

        for col in df.columns:
            df_columns.append(col)

        df_columns.insert(1, df_columns[-1])
        del df_columns[-1]
        # print(i_df_columns)

        first_row = df.loc[(df['ticker'] == symbol) & (df['items'] == 'Total Current Assets'), df_columns[2:]]
        # gross_margin
        second_row = df.loc[(df['ticker'] == symbol) & (df['items'] == 'Total Inventory'), df_columns[2:]]
#         print(first_row)
#         print(second_row)
        third_row = first_row / second_row.values
        # print(third_row)
        third_row['ticker'] = symbol
        third_row['items'] = "Quick Ratio"
        third_row = third_row[df_columns]
    except ValueError:
        third_row = first_row / second_row
    #     print(third_row)
        third_row['ticker'] = symbol
        third_row['items'] = "Quick Ratio"
        third_row = third_row[df_columns]
#         third_row = third_row.reshape(1,4)
    return third_row

In [19]:
for i in dow_jones_list:
    df = pd.DataFrame()
    
    # assign directories
    i_directory = f"C:/Users/jake_/OneDrive/Desktop/financial_scraping/dow_jones_stocks/{i}" 
    competitor_directory = i_directory + "/competitors"
    
    i_csv = i_directory + '/' + i + "quarterlybalance-sheet.csv"
    i_df = pd.read_csv(i_csv)
    i_row = quick_ratio(i_df, symbol=i)
    df = df.append(i_row)
    
    
    competitor_list =[]
    
    # iterate over files in
    # that directory
    for filename in os.listdir(competitor_directory):
        if (filename.__contains__("ratio.csv") == False):
            f = os.path.join(competitor_directory, filename)
            f = f.split("\\")[1]
            # checking if it is a file
        #     if os.path.isfile(f):
            competitor_list.append(f)
    print(competitor_list)
    for symbol in competitor_list:
        competitor_csv = competitor_directory + "/" + symbol + '/' + symbol + "quarterlybalance-sheet.csv"
#         print(competitor_csv)
        competitor_df = pd.read_csv(competitor_csv)
#             print(competitor_df)
        competitor_rows = quick_ratio(competitor_df, symbol=symbol)
        df = df.append(competitor_rows)
        
    df = pd.DataFrame(df)
    print(df)

['AMZN', 'DELL', 'GOOG', 'GOOGL', 'HPQ', 'META', 'MSFT']
          items ticker    Q2 2022    Q3 2022    Q4 2022    Q1 2023  \
11  Quick Ratio   AAPL  21.644689  20.668507  27.376668  18.882258
8   Quick Ratio   AMZN   3.503447   3.587279        NaN        NaN
14  Quick Ratio   DELL        NaN        NaN   7.635300   6.591684
10  Quick Ratio   GOOG  87.056061  52.632763        NaN        NaN
10  Quick Ratio  GOOGL  87.056061  52.632763        NaN        NaN
12  Quick Ratio    HPQ   2.629137   2.807129   2.607110        NaN
7   Quick Ratio   META        NaN        NaN        NaN        NaN
11  Quick Ratio   MSFT  57.697251  46.699636  45.345804  37.678538

       Q4 2021     Q1 2022  Q2 2023   Q3 2023
11         NaN         NaN      NaN       NaN
8     4.950368    3.826450      NaN       NaN
14         NaN         NaN  7.18375  6.284349
10  160.805983  129.914536      NaN       NaN
10  160.805983  129.914536      NaN       NaN
12         NaN    2.487470      NaN       NaN
7          NaN         NaN      NaN       NaN
11         NaN         NaN      NaN       NaN
['ABBV', 'AZN', 'GILD', 'JNJ', 'MRNA', 'PFE', 'REGN']
          items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022    Q4 2021
9   Quick Ratio   AMGN  4.198594  4.242863  5.058230  4.500203        NaN
9   Quick Ratio   ABBV  7.610968  8.568905  9.572509       NaN   8.928389
10  Quick Ratio    AZN  2.970488  3.362862  3.982670       NaN   2.921518
8   Quick Ratio   GILD  8.521592  8.818608  9.264525       NaN   9.129790
12  Quick Ratio    JNJ  5.498089  5.582495  5.587666       NaN   5.870704
12  Quick Ratio   MRNA  8.419156  7.060385  6.883486       NaN  11.152672
14  Quick Ratio    PFE  5.453452  6.453606  7.400715       NaN   6.589359
10  Quick Ratio   REGN  7.181727  6.998648  6.396766       NaN   7.183496
['BAC', 'C', 'COF', 'DFS', 'JPM', 'MA', 'PYPL', 'SYF', 'V']
          items ticker  Q1 2022  Q2 2022  Q3 2022  Q4 2022  Q4 2021
6   Quick Ratio    AXP      NaN      NaN      NaN      NaN      NaN
8   Quick Ratio     MA      NaN      NaN      NaN      NaN      NaN
8   Quick Ratio   PYPL      NaN      NaN      NaN      NaN      NaN
10  Quick Ratio      V      NaN      NaN      NaN      NaN      NaN
['AM', 'HXL', 'RTX', 'TDG', 'TXT', 'WWD']
          items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
13  Quick Ratio     BA  1.328155  1.326376  1.369455  1.401428       NaN
5   Quick Ratio     AM       NaN       NaN       NaN       NaN       NaN
8   Quick Ratio    HXL  2.571429  2.544118  2.260726       NaN  2.504065
9   Quick Ratio    RTX  4.178890  4.088148  4.004692       NaN  4.581608
8   Quick Ratio    TDG  5.737449  5.285024  4.778788  4.240991       NaN
9   Quick Ratio    TXT  2.086814  1.986627  1.959654       NaN  2.145617
14  Quick Ratio    WWD  3.201327  2.744330  2.488095  2.552529       NaN
['DE', 'TEX', 'TTC']
         items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022  Q4 2021
9  Quick Ratio    CAT  2.830829  2.643536  2.525326  2.691149      NaN
9  Quick Ratio     DE       NaN       NaN       NaN       NaN      NaN
9  Quick Ratio    TEX  1.992400  1.982347  1.903160       NaN  2.17199
9  Quick Ratio    TTC  1.727163  1.865471  1.708200  1.593720      NaN
['ADBE', 'CSCO', 'GOOG', 'GOOGL', 'INTU', 'MSFT', 'ORCL', 'SAP']
          items ticker    Q1 2023  Q2 2023  Q3 2023  Q4 2023     Q1 2022  \
5   Quick Ratio    CRM        NaN      NaN      NaN      NaN         NaN
8   Quick Ratio   ADBE        NaN      NaN      NaN      NaN         NaN
14  Quick Ratio   CSCO  13.566441      NaN      NaN      NaN         NaN
10  Quick Ratio   GOOG        NaN      NaN      NaN      NaN  129.914536
10  Quick Ratio  GOOGL        NaN      NaN      NaN      NaN  129.914536
9   Quick Ratio   INTU        NaN      NaN      NaN      NaN         NaN
11  Quick Ratio   MSFT  37.678538      NaN      NaN      NaN         NaN
7   Quick Ratio   ORCL        NaN      NaN      NaN      NaN         NaN
7   Quick Ratio    SAP        NaN      NaN      NaN      NaN         NaN

      Q2 2022    Q3 2022    Q4 2022     Q4 2021
5         NaN        NaN        NaN         NaN
8         NaN        NaN        NaN         NaN
14  17.872268  16.127745  14.297897         NaN
10  87.056061  52.632763        NaN  160.805983
10  87.056061  52.632763        NaN  160.805983
9         NaN        NaN        NaN         NaN
11  57.697251  46.699636  45.345804         NaN
7         NaN        NaN        NaN         NaN
7         NaN        NaN        NaN         NaN
['AMZN', 'AVGO', 'DELL', 'FTNT', 'MSFT', 'PANW', 'RNG', 'VMW', 'ZM', 'ZS']
          items ticker     Q3 2022    Q4 2022    Q1 2023    Q2 2023  \
16  Quick Ratio   CSCO   16.127745  14.297897  13.566441  12.265924
8   Quick Ratio   AMZN    3.587279        NaN        NaN        NaN
8   Quick Ratio   AVGO    8.466268   9.612468        NaN        NaN
14  Quick Ratio   DELL         NaN   7.635300   6.591684   7.183750
11  Quick Ratio   FTNT   13.805556        NaN        NaN        NaN
11  Quick Ratio   MSFT   46.699636  45.345804  37.678538        NaN
10  Quick Ratio   PANW         NaN        NaN        NaN        NaN
9   Quick Ratio    RNG  775.000000        NaN        NaN        NaN
11  Quick Ratio    VMW         NaN        NaN        NaN        NaN
12  Quick Ratio     ZM         NaN        NaN        NaN        NaN
8   Quick Ratio     ZS         NaN        NaN        NaN        NaN

       Q4 2021     Q1 2022     Q2 2022   Q3 2023
16         NaN         NaN         NaN       NaN
8     4.950368    3.826450    3.503447       NaN
8          NaN   10.092763    8.878897       NaN
14         NaN         NaN         NaN  6.284349
11   20.460227   17.340541   15.143590       NaN
11         NaN         NaN   57.697251       NaN
10         NaN         NaN         NaN       NaN
9   108.500000  120.166667  147.800000       NaN
11         NaN         NaN         NaN       NaN
12         NaN         NaN         NaN       NaN
8          NaN         NaN         NaN       NaN
['BP', 'COP', 'ROSN', 'SHEL', 'XOM']
          items ticker    Q1 2022    Q2 2022    Q3 2022   Q4 2022    Q4 2021  \
11  Quick Ratio    CVX   6.851954   6.634867   5.721284  6.104402        NaN
12  Quick Ratio     BP   3.989870   3.701433   3.676929       NaN   3.904939
13  Quick Ratio    COP  14.979557  15.283630  16.682708       NaN  13.286424
0   Quick Ratio   ROSN        NaN        NaN        NaN       NaN        NaN
6   Quick Ratio   SHEL   5.066016   4.578491   4.703724       NaN   5.097989
10  Quick Ratio    XOM   3.483564   3.950095   4.120559       NaN   3.149840

    Q2 2014  Q3 2014  Q4 2014  Q1 2015
11      NaN      NaN      NaN      NaN
12      NaN      NaN      NaN      NaN
13      NaN      NaN      NaN      NaN
0       NaN      NaN      NaN      NaN
6       NaN      NaN      NaN      NaN
10      NaN      NaN      NaN      NaN
['AAPL', 'CHTR', 'CMCSA', 'DISH', 'FOX', 'FOXA', 'NFLX', 'PARA', 'PARAA']
          items ticker    Q1 2022    Q2 2022    Q3 2022    Q4 2022    Q4 2021  \
6   Quick Ratio    DIS  24.470632  22.007703  19.762264  16.703789        NaN
9   Quick Ratio   AAPL  26.064329  21.644689  20.668507  27.376668        NaN
5   Quick Ratio   CHTR        NaN        NaN        NaN        NaN        NaN
7   Quick Ratio  CMCSA        NaN        NaN        NaN        NaN        NaN
11  Quick Ratio   DISH   9.860335   8.259386   5.152364        NaN  14.061682
4   Quick Ratio    FOX        NaN   7.416376  10.071247  10.469027        NaN
4   Quick Ratio   FOXA        NaN   7.416376  10.071247  10.469027        NaN
6   Quick Ratio   NFLX        NaN        NaN        NaN        NaN        NaN
7   Quick Ratio   PARA  16.162105  10.528582   9.064343        NaN  11.087766
7   Quick Ratio  PARAA  16.162105  10.528582   9.064343        NaN  11.087766

     Q1 2023
6        NaN
9        NaN
5        NaN
7        NaN
11       NaN
4   8.328431
4   8.328431
6        NaN
7        NaN
7        NaN
['APD', 'DD', 'EMN', 'HUN', 'LIN']
          items ticker   Q4 2021    Q1 2022    Q2 2022    Q3 2022    Q4 2022
12  Quick Ratio    DOW  2.827998   2.856314   2.646687   2.612204        NaN
10  Quick Ratio    APD       NaN  13.314168  12.301181  12.387160  12.223735
13  Quick Ratio     DD  6.856663   6.453530   5.944822   6.083086        NaN
12  Quick Ratio    EMN  3.089096   2.949731   2.192223   2.078481        NaN
14  Quick Ratio    HUN  3.270608   2.885673   2.453248   2.962002        NaN
8   Quick Ratio    LIN  5.862089   6.940544   6.311310   6.039353        NaN
['BAC', 'BK', 'BLK', 'C', 'MS', 'SCHW', 'UBS', 'WFC']

         items ticker  Q4 2021  Q1 2022  Q2 2022  Q3 2022
6  Quick Ratio     GS      NaN      NaN      NaN      NaN
2  Quick Ratio    BLK      NaN      NaN      NaN      NaN
4  Quick Ratio     MS      NaN      NaN      NaN      NaN
2  Quick Ratio   SCHW      NaN      NaN      NaN      NaN
['AMZN', 'FAST', 'GWW', 'LOW', 'SHW', 'TGT', 'TSCO', 'WMT']
         items ticker   Q4 2022   Q1 2023   Q2 2023   Q3 2023   Q4 2021  \
4  Quick Ratio     HD  1.316612  1.338775  1.262688  1.309577       NaN
8  Quick Ratio   AMZN       NaN       NaN       NaN       NaN  4.950368
7  Quick Ratio   FAST       NaN       NaN       NaN       NaN  1.874672
6  Quick Ratio    GWW       NaN       NaN       NaN       NaN  2.144920
5  Quick Ratio    LOW  1.139449  1.265428  1.172694  1.261089       NaN
8  Quick Ratio    SHW       NaN       NaN       NaN       NaN  2.622730
5  Quick Ratio    TGT  1.551791  1.190280  1.204504  1.191389       NaN
4  Quick Ratio   TSCO       NaN       NaN       NaN       NaN  1.483341
4  Quick Ratio    WMT  1.434588  1.359160  1.404583  1.355052       NaN

    Q1 2022   Q2 2022   Q3 2022
4       NaN       NaN       NaN
8  3.826450  3.503447  3.587279
7  1.895066  1.893694  1.904648
6  2.301192  2.267839  2.262675
5       NaN       NaN       NaN
8  2.613139  2.595357  2.400706
5       NaN       NaN       NaN
4  1.233645  1.299799  1.161314
4       NaN       NaN       NaN
['GE', 'GRMN', 'JCI', 'MMM']
          items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022   Q4 2022
13  Quick Ratio    HON  4.938108  4.437317  4.276722  4.094710       NaN
13  Quick Ratio     GE  4.186786  3.820097  3.455706  3.426209       NaN
10  Quick Ratio   GRMN  3.470684  3.046269  2.833677  2.588389       NaN
12  Quick Ratio    JCI       NaN  4.269278  4.617097  4.490676  4.655378
12  Quick Ratio    MMM  3.089870  2.731947  2.571125  2.652716       NaN
['ACN', 'ADBE', 'CSCO', 'DELL', 'GOOG', 'GOOGL', 'HPE', 'MSFT', 'ORCL', 'SAP']
          items ticker     Q4 2021     Q1 2022    Q2 2022    Q3 2022  \
17  Quick Ratio    IBM   17.913281   17.640766  16.565321  16.164437
5   Quick Ratio    ACN         NaN         NaN        NaN        NaN
8   Quick Ratio   ADBE         NaN         NaN        NaN        NaN
14  Quick Ratio   CSCO         NaN         NaN  17.872268  16.127745
14  Quick Ratio   DELL         NaN         NaN        NaN        NaN
10  Quick Ratio   GOOG  160.805983  129.914536  87.056061  52.632763
10  Quick Ratio  GOOGL  160.805983  129.914536  87.056061  52.632763
12  Quick Ratio    HPE         NaN    3.635031   3.414506   3.514764
11  Quick Ratio   MSFT         NaN         NaN  57.697251  46.699636
7   Quick Ratio   ORCL         NaN         NaN        NaN        NaN
7   Quick Ratio    SAP         NaN         NaN        NaN        NaN

      Q4 2022    Q1 2023  Q2 2023   Q3 2023
17        NaN        NaN      NaN       NaN
5         NaN        NaN      NaN       NaN
8         NaN        NaN      NaN       NaN
14  14.297897  13.566441      NaN       NaN
14   7.635300   6.591684  7.18375  6.284349
10        NaN        NaN      NaN       NaN
10        NaN        NaN      NaN       NaN
12   3.973261        NaN      NaN       NaN
11  45.345804  37.678538      NaN       NaN
7         NaN        NaN      NaN       NaN
7         NaN        NaN      NaN       NaN
['AMAT', 'AMD', 'AVGO', 'MU', 'NVDA', 'QCOM', 'TXN']
          items ticker   Q4 2021    Q1 2022   Q2 2022   Q3 2022    Q4 2022  \
11  Quick Ratio   INTC  5.434113   5.242396  4.155413  3.839373        NaN
14  Quick Ratio   AMAT       NaN   3.470393  3.043322  2.803124   2.684592
12  Quick Ratio    AMD  4.390281   5.499383  5.083837  4.280202        NaN
8   Quick Ratio   AVGO       NaN  10.092763  8.878897  8.466268   9.612468
13  Quick Ratio     MU       NaN        NaN  3.994427  4.034109   3.268948
9   Quick Ratio   NVDA       NaN        NaN       NaN       NaN  11.066795
11  Quick Ratio   QCOM       NaN   5.237503  4.744237  3.506645   3.268254
12  Quick Ratio    TXN  7.164921   6.800971  5.931332  5.728785        NaN

     Q1 2023   Q2 2023   Q3 2023
11       NaN       NaN       NaN
14       NaN       NaN       NaN
12       NaN       NaN       NaN
8        NaN       NaN       NaN
13  2.742074       NaN       NaN
9   9.350300  7.050141  5.213965
11       NaN       NaN       NaN
12       NaN       NaN       NaN
['ABT', 'AZN', 'MDT', 'MRK', 'NOVN', 'PFE', 'PG', 'ROG']
          items ticker   Q4 2021    Q1 2022    Q2 2022   Q3 2022   Q4 2022  \
12  Quick Ratio    JNJ  5.870704   5.498089   5.582495  5.587666       NaN
11  Quick Ratio    ABT  4.700213   4.116851   4.230548  4.332926       NaN
10  Quick Ratio    AZN  2.921518   2.970488   3.362862  3.982670       NaN
12  Quick Ratio    MDT       NaN        NaN        NaN  5.162384  4.995451
12  Quick Ratio    MRK  5.084159   5.400762   5.802349  5.978090       NaN
9   Quick Ratio   NOVN       NaN  39.703654  39.804362       NaN       NaN
14  Quick Ratio    PFE  6.589359   5.453452   6.453606  7.400715       NaN
7   Quick Ratio     PG       NaN        NaN   3.828113  3.297564  3.127239
12  Quick Ratio    ROG  4.390977   3.796053   3.719298  3.666667       NaN

     Q1 2023   Q2 2023  Q3 2021
12       NaN       NaN      NaN
11       NaN       NaN      NaN
10       NaN       NaN      NaN
12  4.602828  5.024332      NaN
12       NaN       NaN      NaN
9        NaN       NaN      NaN
14       NaN       NaN      NaN
7   2.967194       NaN      NaN
12       NaN       NaN      NaN
['BAC', 'BMO', 'C', 'RY', 'TD', 'WFC']
Empty DataFrame
Columns: [items, ticker, Q4 2021, Q1 2022, Q2 2022, Q3 2022, Q4 2022]
Index: []
['CCEP', 'COKE', 'FIZZ', 'KDP', 'KHC', 'MDLZ', 'MNST', 'PEP', 'PRMW', 'SBUX']
          items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022   Q4 2020  \
12  Quick Ratio     KO  6.603691  5.922481  6.390776  6.509978       NaN
10  Quick Ratio   CCEP  4.978392       NaN  4.948936       NaN  5.985316
12  Quick Ratio   COKE  3.554455  3.807971  3.990132  3.917197       NaN
7   Quick Ratio   FIZZ       NaN       NaN       NaN  2.662921       NaN
16  Quick Ratio    KDP  3.419463  3.339713  3.043584  3.007650       NaN
12  Quick Ratio    KHC  3.295713  2.998707  2.370521  2.223479       NaN
13  Quick Ratio   MDLZ  3.819055  3.389359  3.031600  2.920719       NaN
9   Quick Ratio   MNST  7.895447  5.778319  5.301354  5.442642       NaN
12  Quick Ratio    PEP  5.011042  4.691726  4.280878  4.690775       NaN
11  Quick Ratio   PRMW  5.368421  4.809524  5.045455  4.771930       NaN
11  Quick Ratio   SBUX       NaN  4.431888  3.927604  3.313643       NaN

    Q2 2021   Q4 2022   Q1 2023   Q2 2023
12      NaN       NaN       NaN       NaN
10  4.86246       NaN       NaN       NaN
12      NaN       NaN       NaN       NaN
7       NaN  2.669903  2.822222  3.397727
16      NaN       NaN       NaN       NaN
12      NaN       NaN       NaN       NaN
13      NaN       NaN       NaN       NaN
9       NaN       NaN       NaN       NaN
12      NaN       NaN       NaN       NaN
11      NaN       NaN       NaN       NaN
11      NaN  3.224162       NaN       NaN
['CMG', 'DPZ', 'JACK', 'PZZA', 'QSR', 'SBUX', 'SHAK', 'WEN', 'YUM', 'YUMC']
          items ticker     Q4 2021     Q1 2022     Q2 2022     Q3 2022  \
4   Quick Ratio    MCD  127.660714   93.120000  114.395349  133.511628
8   Quick Ratio    CMG   41.878788   36.533333   36.068966   31.676471
5   Quick Ratio    DPZ   12.661765   11.038462   12.085714   11.315068
13  Quick Ratio   JACK         NaN   54.333333   28.666667   34.166667
10  Quick Ratio   PZZA    7.285714    7.333333    6.315789    5.714286
7   Quick Ratio    QSR   18.916667   15.611111   13.754386   14.914729
11  Quick Ratio   SBUX         NaN    4.431888    3.927604    3.313643
6   Quick Ratio   SHAK  102.500000   96.750000   97.000000   91.750000
11  Quick Ratio    WEN   98.833333  180.000000  174.000000  156.428571
6   Quick Ratio    YUM         NaN         NaN         NaN         NaN
10  Quick Ratio   YUMC   10.916667   12.365217   12.963173   14.672897

      Q4 2022
4         NaN
8         NaN
5         NaN
13  56.600000
10        NaN
7         NaN
11   3.224162
6         NaN
11        NaN
6         NaN
10        NaN
['DD', 'GE', 'HON', 'ITW', 'JNJ']
          items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022
12  Quick Ratio    MMM  3.089870  2.731947  2.571125  2.652716
13  Quick Ratio     DD  6.856663  6.453530  5.944822  6.083086
13  Quick Ratio     GE  4.186786  3.820097  3.455706  3.426209
13  Quick Ratio    HON  4.938108  4.437317  4.276722  4.094710
9   Quick Ratio    ITW  3.762692  3.548593  3.225823  3.087195
12  Quick Ratio    JNJ  5.870704  5.498089  5.582495  5.587666
['ABT', 'BMY', 'GSK', 'JNJ', 'LLY', 'NOVN', 'PFE', 'SAN', 'ZTS']

          items ticker    Q4 2021    Q1 2022    Q2 2022    Q3 2022  Q3 2021
12  Quick Ratio    MRK   5.084159   5.400762   5.802349   5.978090      NaN
11  Quick Ratio    ABT   4.700213   4.116851   4.230548   4.332926      NaN
16  Quick Ratio    BMY  15.876850  14.316065  14.092437  12.919961      NaN
10  Quick Ratio    GSK   3.229120   4.828919  11.618353   4.346212      NaN
12  Quick Ratio    JNJ   5.870704   5.498089   5.582495   5.587666      NaN
10  Quick Ratio    LLY   4.748327   4.357822   4.389587   4.604542      NaN
9   Quick Ratio   NOVN        NaN  39.703654  39.804362        NaN      NaN
14  Quick Ratio    PFE   6.589359   5.453452   6.453606   7.400715      NaN
11  Quick Ratio    ZTS   3.603744   3.323772   3.016327   2.844551      NaN
['AAPL', 'AVGO', 'CRM', 'CSCO', 'GOOG', 'GOOGL', 'IBM', 'ORCL', 'SAP']
          items ticker    Q2 2022    Q3 2022    Q4 2022    Q1 2023  \
11  Quick Ratio   MSFT  57.697251  46.699636  45.345804  37.678538
9   Quick Ratio   AAPL  21.644689  20.668507  27.376668        NaN
8   Quick Ratio   AVGO   8.878897   8.466268   9.612468        NaN
5   Quick Ratio    CRM        NaN        NaN        NaN        NaN
14  Quick Ratio   CSCO  17.872268  16.127745  14.297897  13.566441
10  Quick Ratio   GOOG  87.056061  52.632763        NaN        NaN
10  Quick Ratio  GOOGL  87.056061  52.632763        NaN        NaN
17  Quick Ratio    IBM  16.565321  16.164437        NaN        NaN
7   Quick Ratio   ORCL        NaN        NaN        NaN        NaN
7   Quick Ratio    SAP        NaN        NaN        NaN        NaN

       Q1 2022  Q2 2023  Q3 2023     Q4 2021
11         NaN      NaN      NaN         NaN
9    26.064329      NaN      NaN         NaN
8    10.092763      NaN      NaN         NaN
5          NaN      NaN      NaN         NaN
14         NaN      NaN      NaN         NaN
10  129.914536      NaN      NaN  160.805983
10  129.914536      NaN      NaN  160.805983
17   17.640766      NaN      NaN   17.913281
7          NaN      NaN      NaN         NaN
7          NaN      NaN      NaN         NaN
['ADS', 'CROX', 'SKX', 'UA', 'UAA', 'VFC']
          items ticker   Q3 2022   Q4 2022   Q1 2023   Q2 2023   Q4 2021  \
8   Quick Ratio    NKE  3.501558  3.350713  2.988719  2.943062       NaN
4   Quick Ratio    ADS       NaN       NaN       NaN       NaN       NaN
9   Quick Ratio   CROX  2.184825       NaN       NaN       NaN  3.116822
10  Quick Ratio    SKX  2.013491       NaN       NaN       NaN  2.292318
6   Quick Ratio     UA       NaN  3.438107  3.144654  2.850926  4.113440
6   Quick Ratio    UAA       NaN  3.438107  3.144654  2.850926  4.113440
13  Quick Ratio    VFC  3.574981  3.233263  1.970098  2.068364       NaN

     Q1 2022   Q2 2022
8        NaN       NaN
4        NaN       NaN
9   2.546569  2.326693
10  2.362759  2.282609
6        NaN       NaN
6        NaN       NaN
13       NaN       NaN
['CL', 'EL', 'JNJ', 'OR']
          items ticker    Q2 2022   Q3 2022   Q4 2022   Q1 2023   Q4 2021  \
7   Quick Ratio     PG   3.828113  3.297564  3.127239  2.967194       NaN
12  Quick Ratio     CL   2.564612  2.546068       NaN       NaN  2.598700
10  Quick Ratio     EL   3.811256  3.356890  3.184247  2.937707       NaN
12  Quick Ratio    JNJ   5.582495  5.587666       NaN       NaN  5.870704
11  Quick Ratio     OR  19.615385       inf       NaN       NaN  8.052632

      Q1 2022
7         NaN
12   2.593035
10        NaN
12   5.498089
11  28.280000
['AIG', 'AIZ', 'ALL', 'CB', 'CINF', 'HIG', 'L', 'PGR', 'WRB']
Empty DataFrame
Columns: [items, ticker, Q4 2021, Q1 2022, Q2 2022, Q3 2022]
Index: []
['CI', 'CVS', 'ELV', 'HUM']
          items ticker   Q4 2021   Q1 2022   Q2 2022   Q3 2022
13  Quick Ratio    CVS  3.378829  3.385628  3.576518  3.784528
['AXP', 'BAC', 'C', 'COF', 'DFS', 'JPM', 'MA', 'PYPL', 'SYF', 'WFC']
          items ticker  Q1 2022  Q2 2022  Q3 2022  Q4 2022  Q4 2021
10  Quick Ratio      V      NaN      NaN      NaN      NaN      NaN
6   Quick Ratio    AXP      NaN      NaN      NaN      NaN      NaN
8   Quick Ratio     MA      NaN      NaN      NaN      NaN      NaN
8   Quick Ratio   PYPL      NaN      NaN      NaN      NaN      NaN
['AAPL', 'T', 'TBB', 'TBC', 'TDS', 'TMUS', 'USM']
          items ticker    Q4 2021    Q1 2022    Q2 2022    Q3 2022    Q4 2022
9   Quick Ratio     VZ  12.022259   9.723968  10.284970  12.686243        NaN
9   Quick Ratio   AAPL        NaN  26.064329  21.644689  20.668507  27.376668
11  Quick Ratio      T  51.358797  24.375515  10.640234   8.207116        NaN
11  Quick Ratio    TBB  51.358797  24.375515  10.640234   8.207116        NaN
11  Quick Ratio    TBC  51.358797  24.375515  10.640234   8.207116        NaN
13  Quick Ratio    TDS  11.483146  11.331522   9.629108   8.277778        NaN
9   Quick Ratio   TMUS   8.138294   6.429098   7.791351   9.535826        NaN
11  Quick Ratio    USM   9.277457   9.101695   8.121359   6.893004        NaN
['ABC', 'AMZN', 'CVS', 'MCK', 'RAD']
          items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021  \
8   Quick Ratio    WBA  2.143958  1.880407  2.215023  2.023465       NaN
10  Quick Ratio    ABC  2.416779  2.540122  2.511850  2.544999       NaN
8   Quick Ratio   AMZN  3.826450  3.503447  3.587279       NaN  4.950368
13  Quick Ratio    CVS  3.385628  3.576518  3.784528       NaN  3.378829
7   Quick Ratio    MCK       NaN       NaN  2.444176  2.471982       NaN
6   Quick Ratio    RAD       NaN       NaN       NaN  1.760592       NaN

     Q1 2023   Q2 2023   Q3 2023
8        NaN       NaN       NaN
10       NaN       NaN       NaN
8        NaN       NaN       NaN
13       NaN       NaN       NaN
7   2.326737  2.336889       NaN
6   1.807089  1.846496  1.856638
['AMZN', 'COST', 'CVS', 'DG', 'JD', 'PDD', 'TGT', 'TJX', 'WBA']
          items ticker   Q4 2022   Q1 2023   Q2 2023   Q3 2023       Q4 2021  \
4   Quick Ratio    WMT  1.434588  1.359160  1.404583  1.355052           NaN
8   Quick Ratio   AMZN       NaN       NaN       NaN       NaN      4.950368
6   Quick Ratio   COST  1.825878  1.838889       NaN       NaN           NaN
13  Quick Ratio    CVS       NaN       NaN       NaN       NaN      3.378829
4   Quick Ratio     DG  1.122907  1.106785  1.107699  1.122043           NaN
9   Quick Ratio     JD       NaN       NaN       NaN       NaN      3.963863
11  Quick Ratio    PDD       NaN       NaN       NaN       NaN  11493.500000
5   Quick Ratio    TGT  1.551791  1.190280  1.204504  1.191389           NaN
6   Quick Ratio    TJX  2.223918  1.785408  1.670902  1.559491           NaN
8   Quick Ratio    WBA  2.023465       NaN       NaN       NaN           NaN

     Q1 2022   Q2 2022   Q3 2022
4        NaN       NaN       NaN
8   3.826450  3.503447  3.587279
6        NaN  1.975432  1.873007
13  3.385628  3.576518  3.784528
4        NaN       NaN       NaN
9   4.204521  4.261413  4.660131
11       NaN       NaN       NaN
5        NaN       NaN       NaN
6        NaN       NaN       NaN
8   2.143958  1.880407  2.215023

In [20]:
def return_on_assets(i_df, j_df, symbol=""):
    try:

        for j in i_df:
            if j == 'ticker' or j == 'items':
                continue
            i_df[j] = i_df[j].str.replace(",", "", regex=True).str.replace("(", "-", regex=True).str.replace(")", "", regex=True).str.replace("--", "", regex=True)
            i_df[j] = pd.to_numeric(i_df[j])

        for k in j_df:
            if k == 'ticker' or k == 'items':
                continue
            j_df[k] = j_df[k].str.replace(",", "", regex=True).str.replace("(", "-", regex=True).str.replace(")", "", regex=True).str.replace("--", "", regex=True)
            j_df[k] = pd.to_numeric(j_df[k])

        i_df_columns = []

        for col in i_df.columns:
            i_df_columns.append(col)

        i_df_columns.insert(1, i_df_columns[-1])
        del i_df_columns[-1]
        # print(i_df_columns)
        
        j_df_columns = []

        for col in j_df.columns:
            j_df_columns.append(col)

        j_df_columns.insert(1, j_df_columns[-1])
        del j_df_columns[-1]

#         df_columns = [i for i in i_df_columns if i not in j_df_columns]
        
        first_row = i_df.loc[(i_df['ticker'] == symbol) & (i_df['items'] == 'Income After Tax'), i_df_columns[2:]]
        # gross_margin
        second_row = j_df.loc[(j_df['ticker'] == symbol) & (j_df['items'] == 'Total Assets'), j_df_columns[2:]]
        # print(first_row)
        # print(second_row)
        third_row = first_row / second_row.values
        # print(third_row)
        third_row['ticker'] = symbol
        third_row['items'] = "Return on Assets"
        third_row = third_row[j_df_columns]

    except ValueError:
        third_row = first_row / second_row
    #     print(third_row)
        third_row['ticker'] = symbol
        third_row['items'] = "Return on Assets"
        third_row = third_row[j_df_columns]
#         third_row = third_row.reshape(1,4)
    return third_row

In [21]:
for i in dow_jones_list:
    df = pd.DataFrame()
    
    # assign directories
    i_directory = f"C:/Users/jake_/OneDrive/Desktop/financial_scraping/dow_jones_stocks/{i}" 
    competitor_directory = i_directory + "/competitors"
    
    i_csv = i_directory + '/' + i + "quarterlyincome-statement.csv"
    j_csv = i_directory + '/' + i + "quarterlybalance-sheet.csv"

    i_df = pd.read_csv(i_csv)
    j_df = pd.read_csv(j_csv)
    i_row = return_on_assets(i_df, j_df, symbol=i)
    df = df.append(i_row)
    
    
    competitor_list =[]
    
    # iterate over files in
    # that directory
    for filename in os.listdir(competitor_directory):
        if (filename.__contains__("ratio.csv") == False):
            f = os.path.join(competitor_directory, filename)
            f = f.split("\\")[1]
            # checking if it is a file
        #     if os.path.isfile(f):
            competitor_list.append(f)
#     print(competitor_list)
    for symbol in competitor_list:
        i_competitor_csv = competitor_directory + "/" + symbol + '/' + symbol + "quarterlyincome-statement.csv"
        j_competitor_csv = competitor_directory + "/" + symbol + '/' + symbol + "quarterlybalance-sheet.csv"
#         print(competitor_csv)
        i_competitor_df = pd.read_csv(i_competitor_csv)
        j_competitor_df = pd.read_csv(j_competitor_csv)
#             print(competitor_df)
        competitor_rows = return_on_assets(i_competitor_df, j_competitor_df, symbol=symbol)
        df = df.append(competitor_rows)
        
    df = pd.DataFrame(df)
    print(df)

               items ticker   Q2 2022   Q3 2022   Q4 2022   Q1 2023   Q4 2021  \
12  Return on Assets   AAPL  0.071322  0.057810  0.058740  0.086513       NaN
17  Return on Assets   AMZN -0.004803  0.006712       NaN       NaN  0.034055
19  Return on Assets   DELL       NaN       NaN -0.008239  0.012092       NaN
17  Return on Assets   GOOG  0.045053  0.038827       NaN       NaN  0.057456
17  Return on Assets  GOOGL  0.045053  0.038827       NaN       NaN  0.057456
16  Return on Assets    HPQ  0.025062  0.028512 -0.000052       NaN       NaN
15  Return on Assets   META  0.039386  0.024568       NaN       NaN  0.061963
13  Return on Assets   MSFT  0.055128  0.048542  0.045883  0.048796       NaN

     Q1 2022  Q2 2023  Q3 2023
12       NaN      NaN      NaN
17 -0.009356      NaN      NaN
19       NaN   0.0057  0.00283
17  0.046027      NaN      NaN
17  0.046027      NaN      NaN
16  0.027909      NaN      NaN
15  0.045458      NaN      NaN
13       NaN      NaN      NaN
               items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
13  Return on Assets   AMGN  0.024934  0.022211  0.033642  0.024815       NaN
21  Return on Assets   ABBV  0.031373  0.006481  0.027964       NaN  0.027605
18  Return on Assets    AZN  0.003869  0.003728  0.017434       NaN -0.003284
13  Return on Assets   GILD  0.000190  0.018053  0.028550       NaN  0.005533
19  Return on Assets    JNJ  0.028869  0.027087  0.025456       NaN  0.026019
16  Return on Assets   MRNA  0.132457  0.084360  0.040029       NaN  0.197333
22  Return on Assets    PFE  0.042852  0.050576  0.044254       NaN  0.021209
16  Return on Assets   REGN  0.036965  0.031317  0.047547       NaN  0.087635
               items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
13  Return on Assets    AXP  0.010717  0.009567  0.008743  0.006884       NaN
23  Return on Assets    BAC  0.002182  0.002008  0.002305       NaN  0.002213
28  Return on Assets      C  0.001807  0.002011  0.001476       NaN  0.001387
21  Return on Assets    COF  0.005534  0.004613  0.003813       NaN  0.005611
19  Return on Assets    DFS  0.011563  0.009695  0.008254       NaN  0.009679
29  Return on Assets    JPM  0.002094  0.002252  0.002580       NaN  0.002778
18  Return on Assets     MA  0.070796  0.062792  0.066442       NaN  0.063155
19  Return on Assets   PYPL  0.006715 -0.004382  0.017400       NaN  0.010567
17  Return on Assets    SYF  0.009783  0.008445  0.006977       NaN  0.008491
13  Return on Assets      V  0.048322  0.044580  0.039937  0.046081       NaN
               items ticker    Q1 2022    Q2 2022    Q3 2022   Q4 2022  \
13  Return on Assets     BA  -0.009146   0.001181  -0.024048 -0.004872
17  Return on Assets     AM  14.341516  14.213212  15.099569       NaN
13  Return on Assets    HXL   5.711282  15.076268   9.005764       NaN
18  Return on Assets    RTX   0.007065   0.008414   0.008817       NaN
15  Return on Assets    TDG   0.008471   0.010562   0.012700  0.014635
14  Return on Assets    TXT   0.012130   0.013729   0.014101       NaN
17  Return on Assets    WWD   0.007435   0.012336   0.010383  0.014188

      Q4 2021
13        NaN
17  14.182179
13   6.598084
18   0.004777
15        NaN
14   0.013079
17        NaN
               items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
17  Return on Assets    CAT  0.018596  0.020578  0.025103  0.017756       NaN
16  Return on Assets     DE  0.011317  0.024864  0.021712  0.024903       NaN
12  Return on Assets    TEX  0.017687  0.024716  0.027545       NaN  0.020251
11  Return on Assets    TTC  0.021519  0.037654  0.036337  0.033183       NaN
               items ticker   Q1 2023   Q2 2023   Q3 2023   Q4 2023   Q1 2022  \
18  Return on Assets    CRM  0.000301  0.000722  0.002285 -0.000991       NaN
15  Return on Assets   ADBE       NaN       NaN       NaN       NaN  0.048737
20  Return on Assets   CSCO  0.028693       NaN       NaN       NaN       NaN
17  Return on Assets   GOOG       NaN       NaN       NaN       NaN  0.046027
17  Return on Assets  GOOGL       NaN       NaN       NaN       NaN  0.046027
17  Return on Assets   INTU  0.001477       NaN       NaN       NaN       NaN
13  Return on Assets   MSFT  0.048796       NaN       NaN       NaN       NaN
20  Return on Assets   ORCL  0.011879  0.013552       NaN       NaN       NaN
19  Return on Assets    SAP       NaN       NaN       NaN       NaN  0.008275

     Q2 2022   Q3 2022   Q4 2022   Q4 2021
18       NaN       NaN       NaN       NaN
15  0.044747  0.042477  0.043291       NaN
20  0.031540  0.032803  0.029946       NaN
17  0.045053  0.038827       NaN  0.057456
17  0.045053  0.038827       NaN  0.057456
17  0.003802  0.062916 -0.002019       NaN
13  0.055128  0.048542  0.045883       NaN
20       NaN  0.021345  0.029177       NaN
19  0.002686  0.006979       NaN  0.020234
               items ticker    Q3 2022    Q4 2022    Q1 2023   Q2 2023  \
20  Return on Assets   CSCO   0.032803   0.029946   0.028693  0.028934
17  Return on Assets   AMZN   0.006712        NaN        NaN       NaN
15  Return on Assets   AVGO   0.043098   0.045857        NaN       NaN
19  Return on Assets   DELL        NaN  -0.008239   0.012092  0.005700
16  Return on Assets   FTNT   0.044415        NaN        NaN       NaN
13  Return on Assets   MSFT   0.048542   0.045883   0.048796       NaN
17  Return on Assets   PANW  -0.006577   0.000245   0.001594       NaN
16  Return on Assets    RNG  -0.123057        NaN        NaN       NaN
18  Return on Assets    VMW        NaN   0.020435   0.008821  0.012396
13  Return on Assets     ZM        NaN   0.065025   0.014327  0.005716
18  Return on Assets     ZS -40.160396 -34.469467 -24.034556       NaN

     Q4 2021   Q1 2022    Q2 2022   Q3 2023
20       NaN       NaN        NaN       NaN
17  0.034055 -0.009356  -0.004803       NaN
15       NaN  0.033759   0.036113       NaN
19       NaN       NaN        NaN  0.002830
16  0.034465  0.026013   0.034372       NaN
13       NaN       NaN   0.055128       NaN
17       NaN       NaN  -0.009038       NaN
16 -0.045754 -0.058801  -0.063517       NaN
18       NaN       NaN        NaN  0.008213
13       NaN       NaN        NaN  0.006125
18       NaN       NaN -41.461602       NaN

KeyError: "['Q4 2022'] not in index"

In [22]:
def return_on_equity(i_df, j_df, symbol=""):
    try:

        for j in i_df:
            if j == 'ticker' or j == 'items':
                continue
            i_df[j] = i_df[j].str.replace(",", "", regex=True).str.replace("(", "-", regex=True).str.replace(")", "", regex=True).str.replace("--", "", regex=True)
            i_df[j] = pd.to_numeric(i_df[j])

        for k in j_df:
            if k == 'ticker' or k == 'items':
                continue
            j_df[k] = j_df[k].str.replace(",", "", regex=True).str.replace("(", "-", regex=True).str.replace(")", "", regex=True).str.replace("--", "", regex=True)
            j_df[k] = pd.to_numeric(j_df[k])

        i_df_columns = []

        for col in i_df.columns:
            i_df_columns.append(col)

        i_df_columns.insert(1, i_df_columns[-1])
        del i_df_columns[-1]
        # print(i_df_columns)
        
        j_df_columns = []

        for col in j_df.columns:
            j_df_columns.append(col)

        j_df_columns.insert(1, j_df_columns[-1])
        del j_df_columns[-1]

#         df_columns = [i for i in i_df_columns if i not in j_df_columns]
        
        first_row = i_df.loc[(i_df['ticker'] == symbol) & (i_df['items'] == 'Income After Tax'), i_df_columns[2:]]
        # gross_margin
        second_row = j_df.loc[(j_df['ticker'] == symbol) & (j_df['items'] == 'Total Equity'), j_df_columns[2:]]
        # print(first_row)
        # print(second_row)
        third_row = first_row / second_row.values
        # print(third_row)
        third_row['ticker'] = symbol
        third_row['items'] = "Return on Equity"
        third_row = third_row[j_df_columns]

    except ValueError:
        third_row = first_row / second_row
    #     print(third_row)
        third_row['ticker'] = symbol
        third_row['items'] = "Return on Equity"
        third_row = third_row[j_df_columns]
#         third_row = third_row.reshape(1,4)
    return third_row

In [23]:
for i in dow_jones_list:
    df = pd.DataFrame()
    
    # assign directories
    i_directory = f"C:/Users/jake_/OneDrive/Desktop/financial_scraping/dow_jones_stocks/{i}" 
    competitor_directory = i_directory + "/competitors"
    
    i_csv = i_directory + '/' + i + "quarterlyincome-statement.csv"
    j_csv = i_directory + '/' + i + "quarterlybalance-sheet.csv"

    i_df = pd.read_csv(i_csv)
    j_df = pd.read_csv(j_csv)
    i_row = return_on_equity(i_df, j_df, symbol=i)
    df = df.append(i_row)
    
    
    competitor_list =[]
    
    # iterate over files in
    # that directory
    for filename in os.listdir(competitor_directory):
        if (filename.__contains__("ratio.csv") == False):
            f = os.path.join(competitor_directory, filename)
            f = f.split("\\")[1]
            # checking if it is a file
        #     if os.path.isfile(f):
            competitor_list.append(f)
#     print(competitor_list)
    for symbol in competitor_list:
        i_competitor_csv = competitor_directory + "/" + symbol + '/' + symbol + "quarterlyincome-statement.csv"
        j_competitor_csv = competitor_directory + "/" + symbol + '/' + symbol + "quarterlybalance-sheet.csv"
#         print(competitor_csv)
        i_competitor_df = pd.read_csv(i_competitor_csv)
        j_competitor_df = pd.read_csv(j_competitor_csv)
#             print(competitor_df)
        competitor_rows = return_on_equity(i_competitor_df, j_competitor_df, symbol=symbol)
        df = df.append(competitor_rows)
        
    df = pd.DataFrame(df)
    print(df)

               items ticker   Q2 2022   Q3 2022   Q4 2022   Q1 2023   Q4 2021  \
12  Return on Equity   AAPL  0.371074  0.334590  0.408924  0.528813       NaN
17  Return on Equity   AMZN -0.015342  0.020911       NaN       NaN  0.103599
19  Return on Equity   DELL       NaN       NaN  0.453412 -0.434200       NaN
17  Return on Equity   GOOG  0.062650  0.054845       NaN       NaN  0.082032
17  Return on Equity  GOOGL  0.062650  0.054845       NaN       NaN  0.082032
16  Return on Equity    HPQ -0.526870 -0.482744  0.000685       NaN       NaN
15  Return on Equity   META  0.053170  0.035417       NaN       NaN  0.082360
13  Return on Equity   MSFT  0.117274  0.102674  0.100515  0.101149       NaN

     Q1 2022   Q2 2023   Q3 2023
12       NaN       NaN       NaN
17 -0.028679       NaN       NaN
19       NaN -0.176923 -0.069472
17  0.064708       NaN       NaN
17  0.064708       NaN       NaN
16 -0.466495       NaN       NaN
15  0.060579       NaN       NaN
13       NaN       NaN       NaN
               items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
13  Return on Equity   AMGN  1.611354  0.544440  0.586641  0.441409       NaN
21  Return on Equity   ABBV  0.275932  0.063332  0.247093       NaN  0.262526
18  Return on Equity    AZN  0.010677  0.010019  0.046735       NaN -0.008811
13  Return on Equity   GILD  0.000602  0.056088  0.084721       NaN  0.017846
19  Return on Equity    JNJ  0.068921  0.063046  0.059760       NaN  0.063980
16  Return on Equity   MRNA  0.214173  0.122157  0.057970       NaN  0.344150
22  Return on Equity    PFE  0.095579  0.113258  0.093326       NaN  0.049858
16  Return on Equity   REGN  0.048908  0.041183  0.061383       NaN  0.118760
               items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
13  Return on Equity    AXP  0.093777  0.084528  0.078488  0.063615       NaN
23  Return on Equity    BAC  0.026506  0.023213  0.026276       NaN  0.025968
28  Return on Equity      C  0.021876  0.024064  0.017702       NaN  0.015740
21  Return on Equity    COF  0.042648  0.038027  0.033306       NaN  0.039752
19  Return on Equity    DFS  0.092459  0.080718  0.070419       NaN  0.079579
29  Return on Equity    JPM  0.028968  0.030226  0.033807       NaN  0.035355
18  Return on Equity     MA  0.374040  0.368660  0.392863       NaN  0.325356
19  Return on Equity   PYPL  0.024705 -0.017251  0.065634       NaN  0.036867
17  Return on Equity    SYF  0.069459  0.060031  0.054027       NaN  0.059539
13  Return on Equity      V  0.109383  0.101337  0.096131  0.110733       NaN
               items ticker    Q1 2022    Q2 2022    Q3 2022   Q4 2022  \
13  Return on Equity     BA   0.080660  -0.010747   0.186903  0.042058
17  Return on Equity     AM  35.415929  35.603139  37.981013       NaN
13  Return on Equity    HXL  10.961668  28.716216  17.301038       NaN
18  Return on Equity    RTX   0.015539   0.018995   0.019875       NaN
15  Return on Equity    TDG  -0.061907  -0.068644  -0.080309 -0.070236
14  Return on Equity    TXT   0.027902   0.032054   0.033274       NaN
17  Return on Equity    WWD   0.013495   0.023392   0.020419  0.028406

      Q4 2021
13        NaN
17  34.379537
13  12.516824
18   0.010552
15        NaN
14   0.030374
17        NaN
               items ticker   Q1 2022   Q2 2022   Q3 2022   Q4 2022   Q4 2021
17  Return on Equity    CAT  0.089657  0.106123  0.130267  0.091688       NaN
16  Return on Equity     DE  0.050607  0.110612  0.099039  0.110650       NaN
12  Return on Equity    TEX  0.046679  0.070543  0.079227       NaN  0.052252
11  Return on Equity    TTC  0.062500  0.107026  0.097125  0.087278       NaN
               items ticker   Q1 2023   Q2 2023   Q3 2023   Q4 2023   Q1 2022  \
18  Return on Equity    CRM  0.000476  0.001131  0.003538 -0.001679       NaN
15  Return on Equity   ADBE       NaN       NaN       NaN       NaN  0.091906
20  Return on Equity   CSCO  0.066299       NaN       NaN       NaN       NaN
17  Return on Equity   GOOG       NaN       NaN       NaN       NaN  0.064708
17  Return on Equity  GOOGL       NaN       NaN       NaN       NaN  0.064708
17  Return on Equity   INTU  0.002490       NaN       NaN       NaN       NaN
13  Return on Equity   MSFT  0.101149       NaN       NaN       NaN       NaN
20  Return on Equity   ORCL -0.263489 -0.410033       NaN       NaN       NaN
19  Return on Equity    SAP       NaN       NaN       NaN       NaN  0.015859

     Q2 2022   Q3 2022   Q4 2022   Q4 2021
18       NaN       NaN       NaN       NaN
15  0.084233  0.079037  0.083695       NaN
20  0.075273  0.075347  0.070777       NaN
17  0.062650  0.054845       NaN  0.082032
17  0.062650  0.054845       NaN  0.082032
17  0.006412  0.105772 -0.003406       NaN
13  0.117274  0.102674  0.100515       NaN
20       NaN -0.266674 -0.512701       NaN
19  0.005095  0.012712       NaN  0.037063
               items ticker     Q3 2022     Q4 2022     Q1 2023   Q2 2023  \
20  Return on Equity   CSCO    0.075347    0.070777    0.066299  0.066861
17  Return on Equity   AMZN    0.020911         NaN         NaN       NaN
15  Return on Equity   AVGO    0.147250    0.147915         NaN       NaN
19  Return on Equity   DELL         NaN    0.453412   -0.434200 -0.176923
16  Return on Equity   FTNT   -0.373228         NaN         NaN       NaN
13  Return on Equity   MSFT    0.102674    0.100515    0.101149       NaN
17  Return on Equity   PANW   -0.215976    0.014286    0.039370       NaN
16  Return on Equity    RNG    6.333333         NaN         NaN       NaN
18  Return on Equity    VMW         NaN   -0.668950   -0.588808  2.478571
13  Return on Equity     ZM         NaN    0.084948    0.019166  0.007679
18  Return on Equity     ZS -190.610902 -170.422339 -158.148492       NaN

     Q4 2021   Q1 2022     Q2 2022   Q3 2023
20       NaN       NaN         NaN       NaN
17  0.103599 -0.028679   -0.015342       NaN
15       NaN  0.107628    0.123551       NaN
19       NaN       NaN         NaN -0.069472
16  0.260870  0.674312   -0.463104       NaN
13       NaN       NaN    0.117274       NaN
17       NaN       NaN   -0.796610       NaN
16 -0.219331 -0.608871   -0.987654       NaN
18       NaN       NaN         NaN  0.286600
13       NaN       NaN         NaN  0.008339
18       NaN       NaN -186.307978       NaN

KeyError: "['Q4 2022'] not in index"